Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Generate datepicker subcomponent info
  src/pages/components/date-picker.mdx
Due: prettier --write, markdownlint

chore(api): add description and notes to Avatar components (#338)
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

Update to react-components v8.48.1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: generate subcomponent API directly from source code (#342)
  package.json
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/examples/accordions/components.ts
  src/examples/button/components.ts
  src/examples/drawer/components.ts
  src/examples/forms/file-upload/components.ts
  src/examples/forms/tiles/components.ts
  src/examples/pagination/components.ts
  src/examples/tags/components.ts
  src/examples/tooltip-modal/components.ts
  src/examples/typography/components.ts
  src/pages/components/accordion.mdx
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
  src/pages/components/date-picker.mdx
  src/pages/components/drawer.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/input.mdx
  src/pages/components/lists.mdx
  src/pages/components/pagination.mdx
  src/pages/components/radio.mdx
  src/pages/components/span.mdx
  src/pages/components/stepper.mdx
  src/pages/components/tags.mdx
  src/pages/components/tiles.mdx
  src/pages/components/timeline.mdx
  src/pages/components/tooltip-modal.mdx
  src/pages/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix: address feedback
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/pages/components/sheet.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(sheet): add documentation
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/nav/components.yml
  src/pages/components/sheet.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(sheet): move nav item in alphabetical order
  src/nav/components.yml
  src/pages/components/sheet.mdx
Due: prettier --write, markdownlint

feat: add sheet api example usage
  src/pages/components/sheet.mdx
Due: prettier --write, markdownlint

fix: drawer link
  src/pages/components/sheet.mdx
Due: prettier --write, markdownlint

fix: use sheet subcomponents
  src/pages/components/sheet.mdx
Due: prettier --write, markdownlint

fix: axe pass through
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(components/datepicker): remove momentjs from recommended date formatting libraries
  src/pages/components/date-picker.mdx
Due: prettier --write, markdownlint

chore(components/datepicker): remove momentjs from recommended date formatting libraries (#346)
  src/pages/components/date-picker.mdx
Due: prettier --write, markdownlint

fix: fix list spacing
  src/components/MarkdownProvider/components/Lists.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: fix list spacing (#347)
  src/components/MarkdownProvider/components/Lists.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Revert spacing changes
  src/components/MarkdownProvider/components/Typography.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(patterns): new tables documentation
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/MarkdownProvider/components/Typography.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/index.tsx
  src/layouts/Root/components/Header.tsx
  src/nav/patterns.yml
  src/pages/patterns.tsx
  src/pages/patterns/examples/tables/BasicFormatting.tsx
  src/pages/patterns/examples/tables/TableCaption.tsx
  src/pages/patterns/examples/tables/TableCursorPagination.tsx
  src/pages/patterns/examples/tables/TableDraggable.tsx
  src/pages/patterns/examples/tables/TableLoading.tsx
  src/pages/patterns/examples/tables/TableSize.tsx
  src/pages/patterns/examples/tables/TableSort.tsx
  src/pages/patterns/examples/tables/TableStripedRows.tsx
  src/pages/patterns/examples/tables/TableVerticalScrolling.tsx
  src/pages/patterns/examples/tables/TableVirtualized.tsx
  src/pages/patterns/index.mdx
  src/pages/patterns/tables/basic-formatting.mdx
  src/templates/PatternTemplate.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Adjust capitalization for heading
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Update image quality for gatsby-remark-images
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Address copy feedback
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Update copy for react-beautiful-dnd
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Adjust copy for rows and cells table
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Update alt text
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Refactor figure into ImageFigure
  src/components/MarkdownProvider/components/ImageFigure.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Copy updates
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Add styles to paragraph & remove br
  src/pages/patterns/examples/tables/TableVerticalScrolling.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(component/sheet): address feedback
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/pages/components/sheet.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Refactor example files into single directory
  src/examples/table/TableCursorPagination.tsx
  src/examples/table/TableLoading.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/table/shared/TableDefault.tsx
  src/examples/table/shared/TableSize.tsx
  src/examples/table/shared/TableStripedRows.tsx
  src/pages/components/table.mdx
  src/pages/patterns/examples/tables/BasicFormatting.tsx
  src/pages/patterns/examples/tables/TableCaption.tsx
  src/pages/patterns/examples/tables/TableDraggable.tsx
  src/pages/patterns/examples/tables/TableSize.tsx
  src/pages/patterns/examples/tables/TableSort.tsx
  src/pages/patterns/examples/tables/TableStripedRows.tsx
  src/pages/patterns/examples/tables/TableVirtualized.tsx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(sheet): placement example 90 percent on mobile
  src/examples/chrome/SheetPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update patterns description + format copy
  src/layouts/Home/components/Patterns.tsx
  src/pages/patterns/index.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

icon search collapse
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add link to headerrow
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

refactor icon search, so icons aren't render based on filter.
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: improve footer hierarchy
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix typo
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

fix: improve footer hierarchy (#349)
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

formatting + copy updates
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

remove shared
  src/examples/table/TableDefault.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableStripedRows.tsx
  src/pages/components/table.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: sheet component descriptions
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/pages/components/sheet.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
