Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Leverage Tag enhancement from https://github.com/zendeskgarden/react-components/pull/829
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fixes
  src/examples/forms/range/RangeDefault.tsx
  src/examples/forms/range/RangeDisabled.tsx
  src/examples/forms/range/RangeHint.tsx
  src/examples/forms/range/RangeValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

span fix
  src/examples/tags/TagsWeight.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update range.mdx
  src/pages/components/range.mdx
Due: prettier --write, markdownlint

Prevent trailing line in code blocks
  package.json
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

remove row col
  src/examples/forms/range/RangeDisabled.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: upgrade to react-components v8.19.0 (#153)
  package.json
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

examples
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDisabled.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
  src/nav/components.yml
  src/pages/components/multithumbrange.mdx
  src/pages/components/range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

space fix
  src/pages/components/range.mdx
Due: prettier --write, markdownlint

nav fix
  src/nav/components.yml
Due: none

Constrain example width for consistency with Input fields
  src/examples/forms/range/RangeDefault.tsx
  src/examples/forms/range/RangeDisabled.tsx
  src/examples/forms/range/RangeHint.tsx
  src/examples/forms/range/RangeValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

align with spacing
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDisabled.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update dashses
  src/nav/components.yml
  src/pages/components/multi-thumb-range.mdx
Due: prettier --write, markdownlint

add memo
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add Span component page
  src/examples/typography/span/Bold.tsx
  src/examples/typography/span/Hue.tsx
  src/examples/typography/span/Icon.tsx
  src/examples/typography/span/Monospace.tsx
  src/examples/typography/span/StartIcon.tsx
  src/nav/components.yml
  src/pages/components/span.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(docs): add TailwindCSS plugin link
  src/nav/components.yml
Due: none

Fix stacked spacing
  src/examples/dropdowns/autocomplete/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Extract new Code component page
  src/examples/typography/CodeColor.tsx
  src/examples/typography/CodeSize.tsx
  src/examples/typography/code/Color.tsx
  src/examples/typography/code/Default.tsx
  src/examples/typography/code/Size.tsx
  src/nav/components.yml
  src/pages/components/code.mdx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

review fixes
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Extract new Lists page
  src/examples/typography/Lists.tsx
  src/examples/typography/Span.tsx
  src/examples/typography/TypeScale.tsx
  src/examples/typography/lists/Default.tsx
  src/examples/typography/lists/Nesting.tsx
  src/examples/typography/lists/Size.tsx
  src/nav/components.yml
  src/pages/components/lists.mdx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Fix list examples
  src/examples/typography/lists/Nesting.tsx
  src/examples/typography/lists/Size.tsx
  src/pages/components/lists.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fixes
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Extract new Paragraph page
  src/examples/typography/paragraph/Default.tsx
  src/examples/typography/paragraph/Size.tsx
  src/nav/components.yml
  src/pages/components/icon-button.mdx
  src/pages/components/paragraph.mdx
  src/pages/components/span.mdx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Move to sentence case
  src/nav/components.yml
Due: none

Tweak typography examples
  src/examples/typography/Modifiers.tsx
  src/examples/typography/TypeScale.tsx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add PR checklist item for cross-reference links
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write, markdownlint

update string
  gatsby-config.js
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update Footer.tsx
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Move to design tokens
  src/nav/components.yml
Due: none

temp
  package.json
  src/examples/loaders/inline/InlineDefault.tsx
  src/nav/components.yml
  src/pages/components/inline.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

update strings
  gatsby-config.js
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update strings
  src/pages/components/tags.mdx
Due: prettier --write, markdownlint

update strings
  src/pages/components/range.mdx
Due: prettier --write, markdownlint

sentence case alignment
  src/pages/components/button-group.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/multi-thumb-range.mdx
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

update nav to sentence case
  src/nav/components.yml
Due: none

feat: add tags component page (#151)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/tags/TagsAvatar.tsx
  src/examples/tags/TagsClose.tsx
  src/examples/tags/TagsColor.tsx
  src/examples/tags/TagsDefault.tsx
  src/examples/tags/TagsShape.tsx
  src/examples/tags/TagsSize.tsx
  src/examples/tags/TagsWeight.tsx
  src/nav/components.yml
  src/pages/components/multiselect.mdx
  src/pages/components/tags.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update gatsby-config.js
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

final copy fixes
  src/pages/components/range.mdx
Due: prettier --write, markdownlint

chore: update meta strings (#144)
  gatsby-config.js
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
