Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

rename collapsed to defaultcollapsed & fix naming convention
  src/examples/design/icons/SvgSearch.tsx
  src/nav/design.yml
  src/pages/design/icons/chrome-icons.mdx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

cleaned up the code for future reference
  gatsby-config.js
  plugins/gatsby-source-tokens/gatsby-node.js
  src/examples/design/icons/SvgSearch.tsx
  src/examples/design/icons/TokenSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

change svgSearch placeholder content from filter to search
  src/pages/design/icons/library.mdx
Due: prettier --write, markdownlint

Add hidden label to svgSearch
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(chrome): Adds back 26px icons onto the website with textual context (#378)
  src/examples/design/icons/SvgSearch.tsx
  src/nav/design.yml
  src/pages/components/chrome.mdx
  src/pages/design/icons/chrome-icons.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(deps): update dependency @types/react to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: apply empty string alt for decorative images (#379)
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency @zendeskgarden/eslint-config to v28
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

format(prettier): format sheet size
  src/examples/chrome/SheetSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v19
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(upgrade): fix eslint issues
  package.json
  src/examples/accordions/stepper/StepperLayout.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/examples/design/icons/SvgSearch.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore(deps): update dependency @types/react-dom to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency react-dropzone to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(design): convert titles to sentence-case
  src/pages/design/icons/index.mdx
  src/pages/design/icons/library.mdx
Due: prettier --write, markdownlint

fix(design): convert titles to sentence-case (#390)
  src/pages/design/icons/index.mdx
  src/pages/design/icons/library.mdx
Due: prettier --write, markdownlint

fix: add frozen lockfile flag
  .github/workflows/deploy.yml
Due: none

feat(actions): add deployment workflow (#372)
  .github/workflows/deploy.yml
Due: none

appended index value onto the label
  src/examples/table/TableSelectRows.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use more descriptive hidden labels
  src/examples/table/TableSelectRows.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: better variable usage from data[index] to row
  src/examples/table/TableSelectRows.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(tables): Provided a valid label for form fields (#391)
  src/examples/table/TableSelectRows.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(actions): fix deploy workflow
  .github/workflows/deploy.yml
Due: none

chore(actions): fix deploy workflow (#392)
  .github/workflows/deploy.yml
Due: none

chore(workflows): enable submodules in checkout action
  .github/workflows/deploy.yml
Due: none

chore(examples/stepper): add tab index to buttons in active step
  src/examples/accordions/stepper/StepperDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: reverse negative tab index when not selected step
  src/examples/accordions/stepper/StepperDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(workflows): enable submodules in checkout action (#393)
  .github/workflows/deploy.yml
Due: none

chore(examples/stepper): add tab index to buttons in active step (#394)
  src/examples/accordions/stepper/StepperDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(actions): correct deploy script path
  .github/workflows/deploy.yml
Due: none

chore(actions): correct deploy script path (#395)
  .github/workflows/deploy.yml
Due: none

chore(deps): update dependency gatsby-plugin-mdx to v2.14.1 [security]
  package.json
  yarn.lock
Due: prettier-package-json --write

docs: Add Select best practice, and To turn on and off sections
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

Revert "chore(deps-dev): bump gatsby-plugin-mdx from 2.14.0 to 2.14.1 (#397)"
  package.json
  yarn.lock
Due: prettier-package-json --write

docs: remove 'Find out more'
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

docs: added new sections
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint
