Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Default component
  src/examples/forms/checkbox/Default.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Various example content updates
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/select/Default.tsx
  src/examples/forms/inputs/Bare.tsx
  src/examples/forms/inputs/FauxInput.tsx
  src/examples/forms/inputs/FocusInset.tsx
  src/examples/forms/inputs/Hint.tsx
  src/examples/forms/inputs/MediaInput.tsx
  src/examples/forms/inputs/Size.tsx
  src/examples/forms/inputs/Textarea.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update checkbox example content (#101)
  src/examples/forms/checkbox/Default.tsx
  src/examples/forms/checkbox/Disabled.tsx
  src/examples/forms/checkbox/Hidden.tsx
  src/examples/forms/checkbox/Hint.tsx
  src/examples/forms/checkbox/Indeterminate.tsx
  src/examples/forms/checkbox/RegularWeightLabel.tsx
  src/examples/forms/checkbox/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add typography component page
  src/examples/typography/Code.tsx
  src/examples/typography/Ellipsis.tsx
  src/examples/typography/Lists.tsx
  src/examples/typography/Modifiers.tsx
  src/examples/typography/Paragraph.tsx
  src/examples/typography/Span.tsx
  src/examples/typography/TypeScale.tsx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

add xxxl
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

fix hash
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

feat: add word list page (#98)
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

alphabetical order config section
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

alphabetize all H3s below "how to use it"
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

alphabetize all component H3s below API section
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

treat paragraph with correct sizing tag
  src/examples/typography/Paragraph.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

wrap span example in spacing MD tag
  src/examples/typography/Span.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove css prop from codesandbox examples
  src/examples/typography/Code.tsx
  src/examples/typography/Lists.tsx
  src/examples/typography/TypeScale.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

use size prop for code example
  src/examples/typography/Code.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

use md in ellipsis example
  src/examples/typography/Ellipsis.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: image quality and sizing (#103)
  gatsby-config.js
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Search.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

use dot notation to document api accordingly
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

use disc type unordered list
  src/examples/typography/Lists.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Sort and add h4
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

add trailing {' '}
  src/examples/typography/Span.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Various example content updates (#102)
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/select/Default.tsx
  src/examples/forms/inputs/Bare.tsx
  src/examples/forms/inputs/FauxInput.tsx
  src/examples/forms/inputs/FocusInset.tsx
  src/examples/forms/inputs/Hint.tsx
  src/examples/forms/inputs/MediaInput.tsx
  src/examples/forms/inputs/Size.tsx
  src/examples/forms/inputs/Textarea.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Actually sort MD
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

add spacer to proper line
  src/examples/typography/Span.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update button copy
  src/pages/components/button.mdx
Due: prettier --write, markdownlint

Update menu media item duplicate copy
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

Use separate state to drive Autocomplete sizes
  src/examples/dropdowns/autocomplete/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use separate state to drive Multiselect size
  src/examples/dropdowns/multiselect/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): update dropdown size examples to use separate state (#105)
  src/examples/dropdowns/autocomplete/Size.tsx
  src/examples/dropdowns/multiselect/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

radio component page navigates to original website
  src/nav/components.yml
Due: none

fix(avatars): fix image in codesandbox example
  src/examples/avatar/AvatarType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix failing contrast ratios
  src/layouts/Home/components/SectionCallout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Initial attempt to match codesandbox
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/components/theme.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Initial content fixes per bug bash reports
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/button-group.mdx
  src/pages/components/button.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/index.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/radio.mdx
  src/pages/components/tabs.mdx
  src/pages/components/versions.mdx
  src/pages/content/index.mdx
  src/pages/content/voice-and-tone.mdx
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
  src/pages/design/icons/installation.mdx
  src/pages/design/index.mdx
Due: prettier --write, markdownlint

use githib.io url
  src/nav/components.yml
Due: none

fix(avatars): fix image in codesandbox example (#107)
  src/examples/avatar/AvatarType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update range page to current url (#108)
  src/nav/components.yml
Due: none

fix: remove duplicate and nested ul
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: remove duplicate and nested ul (#109)
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: allow table of contents to scroll
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write
