Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Refactor upgrade script
  package.json
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix: move command docs to contributing doc
  .github/CONTRIBUTING.md
  README.md
Due: prettier --write, markdownlint

fix: Update .github/CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write, markdownlint

chore: add upgrade command (#447)
  .github/CONTRIBUTING.md
  package.json
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(markdown/components): add img alt text prop for best practices example
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Added new images to gatsby-config
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Add new Cell formatting guidance
  gatsby-config.js
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update gatsby-config.js
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Added Avatar examples
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Fixed table list items
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Fixed copy, links, and images
  gatsby-config.js
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Fixed h5
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Change headings
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

feat(patterns): Update Tables documentation (#481)
  gatsby-config.js
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(dragdrop): adds react-drag-drop component docs
  package.json
  src/examples/drag-drop/DraggableBare.tsx
  src/examples/drag-drop/DraggableDefault.tsx
  src/nav/components.yml
  src/pages/components/draggable.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(dragdrop): adds static draggable, draggablelist and dropzone examples
  package.json
  src/examples/draggable/DraggableBare.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/draggable/DraggableDefault.tsx
  src/examples/draggable/DraggableDisabled.tsx
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DraggableSize.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
  src/pages/components/draggable.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(dragdrop): adds default dropzone example
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: cleanup on default draggable example
  package.json
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DropzoneDefault.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: more cleanup of dropzone default example
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add dnd-kit to danger example
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
  src/pages/components/draggable.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: remove unneeded @dnd-kit/* dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: remove invalid quotation characters
  src/pages/components/draggable.mdx
Due: prettier --write, markdownlint

fix: make dropzone draggables static
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: copy edits
  src/pages/components/draggable.mdx
Due: prettier --write, markdownlint

feat: adds example structure to API section
  src/pages/components/draggable.mdx
Due: prettier --write, markdownlint

chore: edits to api structure examples
  src/pages/components/draggable.mdx
Due: prettier --write, markdownlint

chore: copy edits
  src/pages/components/draggable.mdx
Due: prettier --write, markdownlint

fix: remove hover pseudo selector to change cursor, otherwise gives flash of grab cursor
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: fix typos
  src/pages/components/draggable.mdx
Due: prettier --write, markdownlint

review: add drag-drop to codesandbox parameters
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

review: example updates
  src/examples/draggable/DraggableBare.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/draggable/DraggableDefault.tsx
  src/examples/draggable/DraggableDisabled.tsx
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DraggableSize.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: adds dnd-kit to codesandbox dependencies
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: adds drag and drop component docs (#490)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/draggable/DraggableBare.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/draggable/DraggableDefault.tsx
  src/examples/draggable/DraggableDisabled.tsx
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DraggableSize.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
  src/nav/components.yml
  src/pages/components/draggable.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Drag and drop page
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/drag-and-drop.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Content updates
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Content update fro dropzone labels
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Adding HR/separators for images
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Update src/pages/patterns/drag-and-drop.mdx
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
