Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update svg-icons
  package.json
  yarn.lock
Due: prettier-package-json --write

Update theme types
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  utils/typings/styled.d.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Revert to DefaultTheme
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Incorporate SkipNav into website proper
  src/layouts/Root/index.tsx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Export styling for reference reuse
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix tsc error
  src/layouts/Root/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add component API
  src/pages/components/chrome.mdx
Due: prettier --write, markdownlint

feat: add new buttons pattern
  gatsby-config.js
  src/layouts/Home/index.tsx
  src/layouts/Root/components/Header.tsx
  src/nav/patterns.yml
  src/pages/patterns.tsx
  src/pages/patterns/buttons.mdx
  src/pages/patterns/index.mdx
  src/templates/PatternTemplate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(chrome): add SkipNav to examples (#236)
  package.json
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/pages/components/chrome.mdx
  src/pages/index.tsx
  utils/typings/styled.d.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update patterns root page title
  src/pages/patterns/buttons.mdx
  src/pages/patterns/index.mdx
Due: prettier --write, markdownlint

Add `@returns` data
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Handle undefined params
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: prop sheet @param and @returns styling (#238)
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update patterns overview description
  src/pages/patterns/index.mdx
Due: prettier --write, markdownlint

Add code example, images, and new description
  src/pages/patterns/buttons.mdx
  src/pages/patterns/examples/button/Interaction.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update BestPractice image maxHeight
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/pages/patterns/buttons.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Apply smartquotes formatting to frontmatter tile and description
  gatsby-node.js
  package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update home page foundation wording
  src/layouts/Home/components/Patterns.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade to react-components v8.32.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Respond to v31.1/32 updates
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add line highlighting example
  src/examples/typography/code-block/Highlighted.tsx
  src/pages/components/code-block.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(typography): add CodeBlock line highlighting example section (#240)
  package.json
  src/components/MarkdownProvider/components/Configuration.tsx
  src/examples/typography/code-block/Highlighted.tsx
  src/pages/components/code-block.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v15
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

`npx yarn-deduplicate`
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency envalid to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency comment-parser to v1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

Update comment-parser usage
  plugins/gatsby-source-react-packages/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix eslint config and prettier errors
  .eslintrc.json
  src/examples/accordions/stepper/StepperLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Ensure prettier follows eslint typescript plugin
  .eslintrc.json
Due: none

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency svgo to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

Run husky 4-to-5
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package.json
Due: prettier-package-json --write

Upgrade svgo API
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency js-yaml to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Upgrade yaml API
  plugins/gatsby-source-news/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Correct code size copy
  src/pages/components/code.mdx
Due: prettier --write, markdownlint

Use local StyledAnchor with isExternal treatment
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
