Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["stylelint", "eslint", "prettier --write"],
  "*.{md,mdx}": ["markdownlint", "prettier --write"],
  "**/package.json": ["prettier-package-json --write"]
}

Add dialog arrows to custom trigger examples
  src/examples/color-picker/ColorPickerDialogCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
Due: stylelint, eslint, prettier --write

Initial global alert
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Enhance versions page with migration/changelog links
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint

Add v9 global alert
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Add GlobalAlert.Close aria-label
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Breadcrumb `Anchor` components should not be underlined
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
Due: stylelint, eslint, prettier --write

Upgrade to v9.0.0-next.27
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: v9 QA sweep (#649)
  package-lock.json
  package.json
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
  src/examples/color-picker/ColorPickerDialogCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/layouts/Root/index.tsx
  src/pages/components/versions.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

fix(buttons): override `overflow-wrap` styling for `SplitButton` menu examples
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint, prettier --write

chore: upgrade to `react-components` v9.0.0
  package-lock.json
  package.json
  utils/upgrade.js
Due: stylelint, eslint, prettier --write, prettier-package-json --write

fix: update CodeSandbox parameters to import v9 Garden dependencies
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint, prettier --write

chore: point to latest svg-icons release
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint, prettier --write

chore: point to latest container-utilities release
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint, prettier --write

fix: update `CodeSandbox` parameters to import v9 Garden dependencies (#652)
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint, prettier --write

Update css-bedrock to v10
  package-lock.json
  package.json
  src/layouts/Root/components/StyledNavigationLink.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Align theme object documentation
  src/pages/components/theme-object.mdx
Due: prettier --write, markdownlint

Remove broken feedback form links
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/drag-and-drop.mdx
  src/pages/patterns/errors.mdx
  src/pages/patterns/filters.mdx
  src/pages/patterns/loaders.mdx
  src/pages/patterns/rich-text-editor.mdx
  src/pages/patterns/save.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

fix: `css-bedrock` upgrade, color variable API docs, remove feedback links (#653)
  package-lock.json
  package.json
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/pages/components/theme-object.mdx
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/drag-and-drop.mdx
  src/pages/patterns/errors.mdx
  src/pages/patterns/filters.mdx
  src/pages/patterns/loaders.mdx
  src/pages/patterns/rich-text-editor.mdx
  src/pages/patterns/save.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

deps: upgrade non-major deps
  package-lock.json
  package.json
Due: prettier-package-json --write

style: fix markdownlint error
  src/pages/components/theme-object.mdx
Due: prettier --write, markdownlint

deps: bump @zendeskgarden/stylelint-config
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: fix stylelint errors
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/table/TableVirtualized.tsx
  src/layouts/Sidebar/index.tsx
Due: stylelint, eslint, prettier --write

chore: fix type error
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint, prettier --write

chore: upgrade non-major dependencies (#654)
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Markdown.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/table/TableVirtualized.tsx
  src/layouts/Sidebar/index.tsx
  src/pages/components/theme-object.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

fix(CodeSandbox params): rename outdated Garden dependencies
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint, prettier --write

fix(CodeSandbox params): rename outdated Garden dependencies (#655)
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint, prettier --write

Fix URL
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Move to updated react-markdown
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Fix typing
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint, prettier --write

Fix lint
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint, prettier --write

Fix #656 regression
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint, prettier --write

fix: markdown and invalid URL (#657)
  src/components/MarkdownProvider/components/Markdown.tsx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint, prettier --write, markdownlint

fix(docsearch): add trailing slashes to sitemap
  gatsby-config.ts
Due: stylelint, eslint, prettier --write

Upgrade `react-components` to v9.1.0
  package-lock.json
  package.json
Due: prettier-package-json --write

fix(docsearch): add trailing slashes to sitemap (#658)
  gatsby-config.ts
  package-lock.json
  package.json
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update home page
  src/components/Provider.tsx
  src/icons/components.svg
  src/icons/content.svg
  src/icons/design.svg
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/HomeLink.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Root/index.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
Due: stylelint, eslint, prettier --write

Update pillar page and component styling
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/ImageFigure.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/layouts/Root/components/SearchInput.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Titled/components/Subtitle.tsx
  src/pages/404.tsx
Due: stylelint, eslint, prettier --write

Update mobile nav
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/copyToClipboard.ts
  src/components/Provider.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update avatar example colors
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
Due: stylelint, eslint, prettier --write

Improve styling
  src/examples/loaders/progress/ProgressColor.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
Due: stylelint, eslint, prettier --write
