Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Use mediaQuery utility to produce @media CSS
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/index.tsx
  src/pages/404.tsx
  src/temp/mediaQuery.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix favicon links
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix container border-radius for code example tools
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update domain URLs in prep for DNS switch
  gatsby-config.js
  src/examples/avatar/AvatarType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: favicons and code example tools container (#120)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update garden subdomain URLs (#121)
  gatsby-config.js
  src/examples/avatar/AvatarType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: @media queries (#119)
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/index.tsx
  src/pages/404.tsx
  src/temp/mediaQuery.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Add domain-level redirects
  static/_redirects
Due: none

Add zendesk.garden alias
  static/_redirects
Due: none

chore: add domain-level redirects (#122)
  static/_redirects
Due: none

Add missing www domain alias redirect
  static/_redirects
Due: none

chore: add www domain alias redirect (#123)
  static/_redirects
Due: none

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Replace all example "@media" with mediaQuery utility
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/dropdowns/select/Validation.tsx
  src/examples/forms/inputs/Size.tsx
  src/examples/forms/inputs/Textarea.tsx
  src/examples/forms/inputs/Validation.tsx
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/index.tsx
  src/pages/404.tsx
  src/temp/mediaQuery.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Add sitemap
  gatsby-config.js
  package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: upgrade to react-components v8.17.0 (#124)
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/dropdowns/select/Validation.tsx
  src/examples/forms/inputs/Size.tsx
  src/examples/forms/inputs/Textarea.tsx
  src/examples/forms/inputs/Validation.tsx
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/index.tsx
  src/pages/404.tsx
  src/temp/mediaQuery.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat: add sitemap (#125)
  gatsby-config.js
  package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Add css-components redirect
  static/_redirects
Due: none

chore: add css-components redirect (#126)
  static/_redirects
Due: none

Update svg-icons
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: update svg-icons to v6.20.0 (#127)
  package.json
  yarn.lock
Due: prettier-package-json --write

Skip past Overview link-to-self
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: skip past Overview link-to-self (#128)
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix autolink header styling
  gatsby-config.js
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/Markdown.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix padding for mobile
  src/components/MarkdownProvider/components/Anchor.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): pin dependency gatsby-plugin-google-gtag to 2.1.5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: autolink header styling (#129)
  gatsby-config.js
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/Markdown.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Prevent duplicate `@types/react` entries in `yarn.lock`
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v15
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies to v3.8.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v3
  .circleci/config.yml
Due: none

Fix CI config
  .circleci/config.yml
Due: none

chore(deps): update dependency react-syntax-highlighter to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(anchor): update external anchor security docs
  src/pages/components/anchor.mdx
Due: prettier --write, markdownlint

update type tags
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

amend as for tag
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update toggle
  src/pages/components/toggle.mdx
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
