Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(examples): feedback from @lucijanblagonic
  src/examples/menu/Button.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(examples): simplify split button examples
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(menu): adds menu page and marks legacy dropdown as deprecated (#533)
  package.json
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/menu/Arrow.tsx
  src/examples/menu/Button.tsx
  src/examples/menu/Danger.tsx
  src/examples/menu/Default.tsx
  src/examples/menu/Disabled.tsx
  src/examples/menu/GroupedItems.tsx
  src/examples/menu/Media.tsx
  src/examples/menu/Meta.tsx
  src/examples/menu/Nested.tsx
  src/examples/menu/Placement.tsx
  src/examples/menu/Size.tsx
  src/nav/components.yml
  src/pages/components/legacy-menu.mdx
  src/pages/components/menu.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Upgrade to react-components v8.73.2
  yarn.lock
Due: none

Upgrade from yarn to npm
  .npmrc
  .yarnclean
  package-lock.json
  package.json
  yarn.lock
Due: prettier-package-json --write

Upgrade yarn to npm commands
  .circleci/config.yml
  .github/CONTRIBUTING.md
  .github/renovate.json
  .github/workflows/deploy.yml
  .gitignore
  .husky/pre-commit
  package-lock.json
Due: prettier --write, markdownlint

Convert upgrade script to npm
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix prettier log-level
  package.json
Due: prettier-package-json --write

Name mapping
  plugins/gatsby-source-garden-content/gatsby-node.ts
  plugins/gatsby-source-garden-content/utils.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Clean up
  .gitignore
  content/figma/assets.yml
  content/nav/components.yml
  content/nav/patterns.yml
  gatsby-config.ts
  plugins/gatsby-source-garden-content/gatsby-node.ts
  plugins/gatsby-source-garden-content/utils.ts
  plugins/gatsby-source-garden-docgen/gatsby-node.ts
  plugins/gatsby-source-garden-docgen/utils.ts
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/nav/components.yml
  src/nav/content.yml
  src/nav/design.yml
  src/nav/patterns.yml
  src/pages/404.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/combobox.mdx
  src/pages/components/global-alert.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/timeline.mdx
  src/pages/components/toggle-icon-button.mdx
  src/pages/design/icons/index.mdx
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/errors.mdx
  src/pages/patterns/loaders.mdx
  src/pages/patterns/rich-text-editor.mdx
  src/pages/patterns/save.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Config
  gatsby-config.ts
  utils/gatsby-theme.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Re-config
  gatsby-browser.js
  gatsby-config.ts
  gatsby-node.ts
  gatsby-ssr.js
  graphql.config.js
  package-lock.json
  package.json
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Sync package dependencies
  gatsby-browser.js
  package-lock.json
  package.json
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update CI cache key
  .circleci/config.yml
Due: none

Update MDX comments
  gatsby-config.ts
  src/fragments/dropdowns-filtering-notes.mdx
  src/pages/components/avatar.mdx
  src/pages/components/draggable.mdx
  src/pages/components/global-alert.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/sheet.mdx
  src/pages/components/split-button.mdx
  src/pages/components/status-indicator.mdx
  src/pages/components/stepper.mdx
  src/pages/components/table.mdx
  src/pages/components/toggle-icon-button.mdx
  src/pages/content/punctuation.mdx
  src/pages/content/word-list.mdx
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/errors.mdx
  src/pages/patterns/save.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

MDX syntax
  src/pages/content/grammar.mdx
  src/pages/design/icons/chrome-icons.mdx
  src/pages/design/icons/library.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

react-components upgrade to v8.73.3
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix overview links
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Type updates
  gatsby-config.ts
  gatsby-node.ts
  package-lock.json
  package.json
  plugins/gatsby-source-figma/gatsby-node.js
  plugins/gatsby-source-figma/package.json
  plugins/gatsby-source-news/gatsby-node.js
  plugins/gatsby-source-news/package.json
  plugins/gatsby-source-react-packages/gatsby-node.js
  plugins/gatsby-source-react-packages/package.json
  src/components/Layout.tsx
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/Component.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/ObjectBlock.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/index.tsx
  src/components/Provider.tsx
  src/components/SEO.tsx
  src/components/types.ts
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
  src/pages/404.tsx
  src/pages/components/accordion.mdx
  src/pages/components/index.mdx
  src/templates/ComponentTemplate.tsx
  src/templates/ContentTemplate.tsx
  src/templates/DesignTemplate.tsx
  src/templates/PatternTemplate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Fix figma image remark plugin
  gatsby-config.ts
  plugins/gatsby-source-garden-content/gatsby-node.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Fixes for format and lint
  .eslintignore
  gatsby-node.ts
  graphql.config.js
  package.json
  src/components/MarkdownProvider/components/Anchor.ts
  src/fragments/dropdowns-filtering-notes.mdx
  src/pages/components/combobox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/legacy-combobox.mdx
  src/pages/components/toggle-icon-button.mdx
  src/pages/content/actionable-language.mdx
  src/pages/content/grammar.mdx
  src/pages/content/punctuation.mdx
  src/pages/content/word-list.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Format
  src/pages/content/grammar.mdx
  src/pages/content/word-list.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

Fix typescript errors
  plugins/gatsby-source-garden-content/utils.ts
  src/components/Layout.tsx
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Markdown.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/components/types.ts
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/combobox/Autocomplete.tsx
  src/examples/combobox/Multiselect.tsx
  src/examples/combobox/Search.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/menu/Arrow.tsx
  src/examples/menu/Danger.tsx
  src/examples/menu/Default.tsx
  src/examples/menu/Disabled.tsx
  src/examples/menu/Media.tsx
  src/examples/menu/Meta.tsx
  src/examples/menu/Placement.tsx
  src/examples/menu/Size.tsx
  src/examples/table/TableDraggable.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/SearchInput.tsx
  src/layouts/Root/index.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/index.tsx
  tsconfig.json
Due: stylelint, eslint --max-warnings 0, prettier --write

Regen package lock
  package-lock.json
Due: none

Fix markdown lint errors
  .markdownlintrc
  package.json
  src/pages/components/draggable.mdx
  src/pages/components/modal.mdx
  src/pages/components/palette.mdx
  src/pages/components/split-button.mdx
  src/pages/components/stepper.mdx
  src/pages/components/table.mdx
  src/pages/components/theme-object.mdx
  src/pages/content/word-list.mdx
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/errors.mdx
  src/pages/patterns/save.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint, prettier-package-json --write

Upgrade codesandbox to React 18
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade `react-components`
  package-lock.json
Due: none

Fix linting, markdown, and deprecations
  .markdownlintrc
  content/nav/components.yml
  src/components/MarkdownProvider/components/Alert.tsx
  src/layouts/Root/components/SearchInput.tsx
  src/pages/components/multi-thumb-range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Replace `KEY_CODES` with `KEYS`
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/tags/TagsClose.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Alphabetize
  content/nav/components.yml
Due: none

Upgrade to stylelint v16
  .stylelintrc
  package-lock.json
  package.json
Due: prettier-package-json --write

Update docgen plugin to `.mjs`
  .husky/pre-commit
  package.json
  plugins/gatsby-source-garden-docgen/gatsby-node.mjs
  plugins/gatsby-source-garden-docgen/utils.mjs
Due: prettier-package-json --write

Refactor deploy with module JS syntax
  .circleci/config.yml
  utils/deploy.mjs
Due: none

Fix __dirname
  utils/deploy.mjs
Due: none
