Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat: add avatar component page
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/nav/components.yml
  src/pages/components/avatar.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Fix when to use for Avatar component page
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

Address feedback round 4
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Address feedback round 9
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update Codesandbox parameters and update AvatarStatus example
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/avatar/AvatarStatus.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: update and fix favicons
  gatsby-config.js
  src/components/SEO.tsx
  src/images/garden-icon.png
  src/images/garden-icon.svg
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/mask-icon.svg
  static/tile-wide.png
  static/tile.png
Due: stylelint, eslint --max-warnings 0, prettier --write

Set Codesandbox react-component deps to ^8.x,
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add avatar component page (#34)
  package.json
  plugins/gatsby-source-abstract/gatsby-node.js
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/components/MarkdownProvider/components/Lists.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/nav/components.yml
  src/pages/components/avatar.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update react-components dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update to leverage `Span` tag
  src/components/MarkdownProvider/components/Typography.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update markdown to use Span for strong (#39)
  package.json
  src/components/MarkdownProvider/components/Typography.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Opt out of Gatsby web app manifest management
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

update meta data and links to align with current site
  src/components/SEO.tsx
  static/favicon.ico
Due: stylelint, eslint --max-warnings 0, prettier --write

Add backticks for consistency and remove unused image
  src/components/SEO.tsx
  src/images/garden-icon.png
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove unnecessary string template usage
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: update and fix favicons (#38)
  gatsby-config.js
  src/components/SEO.tsx
  src/images/garden-icon.svg
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon.ico
  static/mask-icon.svg
  static/tile-wide.png
  static/tile.png
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency @zendeskgarden/eslint-config to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

Update yarn.lock and fix TypeScript spread warning
  src/components/MarkdownProvider/components/BestPractice.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react-helmet to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-react-hooks to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

disable react-hooks lint for external functions
  src/examples/design/icons/SvgSearch.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency core-js to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

anchor
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
  src/nav/components.yml
  src/pages/components/anchor.mdx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

updates
  src/components/MarkdownProvider/index.tsx
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
  src/pages/components/anchor.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

breadcrumblies
  package.json
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
  src/nav/components.yml
  src/pages/components/breadcrumbs.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

graphql fix
  src/pages/components/breadcrumbs.mdx
Due: prettier --write, markdownlint

Replace deprecated typescript-eslint with new rules
  .eslintrc.json
  src/examples/design/icons/SvgSearch.tsx
  utils/typings/styled.d.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update retrieveCodesandboxParameters.ts
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update breadcrumbs.mdx
  src/pages/components/breadcrumbs.mdx
Due: prettier --write, markdownlint

strings
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix grid gutter sizing
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update component layouts to follow designs
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Style for list type best practice
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Restore intended paragraph tags
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint
