Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

IE11 overflow workaround
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update and fix copy (#104)
  src/pages/components/button.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

fix failing contrast ratios (#106)
  src/layouts/Home/components/SectionCallout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add missing space in span example
  src/examples/typography/Span.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add typography component page (#100)
  src/examples/typography/Code.tsx
  src/examples/typography/Ellipsis.tsx
  src/examples/typography/Lists.tsx
  src/examples/typography/Modifiers.tsx
  src/examples/typography/Paragraph.tsx
  src/examples/typography/Span.tsx
  src/examples/typography/TypeScale.tsx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add misuse guidelines to button-group
  src/pages/components/button-group.mdx
Due: prettier --write, markdownlint

Update max-height of table of contents
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: use hr for visual presentation
  src/components/MarkdownProvider/components/Typography.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use theme values & improved IE11 scroll style
  src/layouts/Root/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Updated content for disabled descriptions
  src/pages/components/button.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/input.mdx
  src/pages/components/menu.mdx
  src/pages/components/radio.mdx
  src/pages/components/select.mdx
  src/pages/components/toggle.mdx
Due: prettier --write, markdownlint

chore: content fixes per bug bash reports (#111)
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/button-group.mdx
  src/pages/components/button.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/index.mdx
  src/pages/components/input.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/radio.mdx
  src/pages/components/select.mdx
  src/pages/components/tabs.mdx
  src/pages/components/toggle.mdx
  src/pages/components/versions.mdx
  src/pages/content/index.mdx
  src/pages/content/voice-and-tone.mdx
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
  src/pages/design/icons/installation.mdx
  src/pages/design/index.mdx
Due: prettier --write, markdownlint

use math util from polished
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add spacing for scroll bar
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: move default branch to main
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
  src/components/MarkdownProvider/components/Configuration.tsx
  utils/deploy.js
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: link to textarea on forms component page
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

use theme size instead of calculating with base
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update typography examples
  src/examples/typography/CodeColor.tsx
  src/examples/typography/CodeSize.tsx
  src/examples/typography/ListSize.tsx
  src/examples/typography/Lists.tsx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: move default branch to main (#113)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
  src/components/MarkdownProvider/components/Configuration.tsx
  utils/deploy.js
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: link to textarea on forms component page (#114)
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

pass the correct code block to CodeExample
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

Use theme spacing, update colors for code highlight
  src/examples/typography/CodeColor.tsx
  src/examples/typography/CodeSize.tsx
  src/examples/typography/ListSize.tsx
  src/examples/typography/Lists.tsx
  src/examples/typography/TypeScale.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove ms scrollbar
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Do not add grey to size example
  src/examples/typography/CodeSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add grey to color example
  src/examples/typography/CodeColor.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

use default prop grey
  src/examples/typography/CodeColor.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove grey from colors example
  src/examples/typography/CodeColor.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Transfer theme to SyntaxHighlighter
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/components/theme.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Align MDSyntaxHighlighter
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update typography examples (#115)
  src/examples/typography/CodeColor.tsx
  src/examples/typography/CodeSize.tsx
  src/examples/typography/ListSize.tsx
  src/examples/typography/Lists.tsx
  src/examples/typography/TypeScale.tsx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: allow table of contents to scroll (#110)
  src/layouts/Root/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Unwind spaghetti code
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove `type="disc"` prop defaults
  src/components/MarkdownProvider/components/Lists.tsx
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/examples/typography/ListSize.tsx
  src/examples/typography/Lists.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add doc sections for new Span.Icon components
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

Resist styled usage when Typography will suffice
  src/examples/typography/ListSize.tsx
  src/examples/typography/Lists.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update syntax highlighting (#116)
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Render valid HTML
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: upgrade to react-components v8.16.0 (#117)
  package.json
  src/components/MarkdownProvider/components/Lists.tsx
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/examples/typography/ListSize.tsx
  src/examples/typography/Lists.tsx
  src/pages/components/typography.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency lodash to v4.17.19 [security]
  package.json
  yarn.lock
Due: prettier-package-json --write
