Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore: fix compatibility with Node 24
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: ensure namespaced components’ name are parsed correctly
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: restore node version to LTS on ci
  .circleci/config.yml
Due: none

chore: revert linting deps changes
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: bump @zendeskgarden/scripts for fixed `cmdDocgen
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: bump Garden + Gatsby dependencies (#701)
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: bump `@zendeskgarden/eslint-config` to support `eslint@9.39.2 `
  eslint.config.mjs
  package-lock.json
  package.json
  plugins/gatsby-source-garden-content/utils.ts
  src/examples/color-scheme-provider/ColorSchemeProviderDefault.tsx
  src/examples/tooltip-dialog/TooltipDialogPlacement.tsx
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

style: prettier
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
Due: stylelint, eslint, prettier --write

style: lint markdown files
  src/pages/components/dots.mdx
  src/pages/components/split-button.mdx
  src/pages/design/icons/index.mdx
  src/pages/design/icons/library.mdx
Due: prettier --write, markdownlint

refactor: fix import to scrollbarSize
  src/examples/table/TableVirtualized.tsx
Due: stylelint, eslint, prettier --write

ci: add dependabot config
  .github/dependabot.yml
Due: none

chore: upgrade to @zendeskgarden/eslint-config@47.1.0
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: improve clarity
  eslint.config.mjs
Due: none

ci: add Dependabot config (#704)
  .github/dependabot.yml
Due: none

chore: upgrade to @zendeskgarden/eslint-config@47.1.0 (#705)
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: scaffold mcp-server directory
  .gitignore
  mcp-server/package-lock.json
  mcp-server/package.json
  mcp-server/tsconfig.json
Due: prettier-package-json --write

feat(mcp): add data extraction script for MDX, YAML, and examples
  mcp-server/src/extract.ts
Due: stylelint, eslint, prettier --write

feat(mcp): add docgen component metadata extraction
  mcp-server/src/extract.ts
Due: stylelint, eslint, prettier --write

feat(mcp): add data loader module
  mcp-server/src/data/loader.ts
Due: stylelint, eslint, prettier --write

feat(mcp): add MCP server with all tools
  mcp-server/src/index.ts
Due: stylelint, eslint, prettier --write

test(mcp): add extraction and data loader tests
  mcp-server/src/__tests__/extract.test.ts
  mcp-server/src/__tests__/tools.test.ts
  mcp-server/vitest.config.ts
Due: stylelint, eslint, prettier --write

docs(mcp): add README for Garden MCP server
  mcp-server/README.md
Due: prettier --write, markdownlint

Add Garden MCP server design & implementation plan
  docs/plans/2026-02-19-garden-mcp-server-design.md
  docs/plans/2026-02-19-garden-mcp-server.md
Due: prettier --write, markdownlint

feat(mcp): switch to stateless mode and add CORS
  mcp-server/package-lock.json
  mcp-server/package.json
  mcp-server/src/index.ts
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update README.md
  mcp-server/README.md
Due: prettier --write, markdownlint

Update SECURITY.md
  SECURITY.md
Due: prettier --write, markdownlint

chore(deps): upgrade @zendeskgarden/react-* to v9.15.7
  package-lock.json
  package.json
Due: prettier-package-json --write

chore(deps): upgrade @zendeskgarden/react-* to v9.15.7 (#744)
  package-lock.json
  package.json
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
