Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

be visible yo
  src/pages/components/icon-button.mdx
Due: prettier --write, markdownlint

fixes
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/pages/components/button-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fixes
  src/examples/button/ButtonDisabled.tsx
  src/pages/components/button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update parallel
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

feat: add icon button component (#78)
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/pages/components/icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update copy via Google Doc
  src/pages/components/checkbox.mdx
Due: prettier --write, markdownlint

Remove unnecessary text align from col
  src/examples/forms/toggle/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add media button
  src/examples/button/ButtonMedia.tsx
  src/pages/components/button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

simplify example layout
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove align items
  src/examples/button/ButtonMedia.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update copy
  src/pages/components/button-group.mdx
Due: prettier --write, markdownlint

feat: add split button component (#76)
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Simplify tooltips and copy
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add autocomplete component page
  src/examples/dropdowns/autocomplete/Default.tsx
  src/examples/dropdowns/autocomplete/Media.tsx
  src/examples/dropdowns/autocomplete/Size.tsx
  src/pages/components/autocomplete.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add sm size for consistency
  src/examples/dropdowns/autocomplete/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove debounce hint text
  src/examples/dropdowns/autocomplete/Default.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Replace size auto
  src/examples/dropdowns/autocomplete/Default.tsx
  src/examples/dropdowns/autocomplete/Media.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use size auto
  src/examples/dropdowns/autocomplete/Default.tsx
  src/examples/dropdowns/autocomplete/Media.tsx
  src/examples/dropdowns/autocomplete/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Align flex row
  src/examples/dropdowns/autocomplete/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add autocomplete best practice do section
  src/pages/components/autocomplete.mdx
Due: prettier --write, markdownlint

Semantic and theming improvements
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add radio component page (#70)
  src/examples/forms/radio/Default.tsx
  src/examples/forms/radio/Disabled.tsx
  src/examples/forms/radio/Hidden.tsx
  src/examples/forms/radio/Hint.tsx
  src/examples/forms/radio/RegularWeightLabel.tsx
  src/examples/forms/radio/Validation.tsx
  src/pages/components/radio.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Remove closing punctuation
  src/pages/components/checkbox.mdx
Due: prettier --write, markdownlint

feat: add checkbox component page (#75)
  .markdownlintrc
  src/examples/forms/checkbox/Default.tsx
  src/examples/forms/checkbox/Disabled.tsx
  src/examples/forms/checkbox/Hidden.tsx
  src/examples/forms/checkbox/Hint.tsx
  src/examples/forms/checkbox/Indeterminate.tsx
  src/examples/forms/checkbox/RegularWeightLabel.tsx
  src/examples/forms/checkbox/Validation.tsx
  src/pages/components/checkbox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(examples): static copy for code icon button tooltips (#86)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add button group component (#79)
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/pages/components/button-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update copy to match latest Google Doc
  src/pages/components/autocomplete.mdx
Due: prettier --write, markdownlint

Update copy to match latest Google doc
  src/pages/components/toggle.mdx
Due: prettier --write, markdownlint

Add og:image asset
  static/og-image.png
Due: none

Add og:image meta
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Correct name -> property
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add twitter:card
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add twitter:site
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add og:title (needed by Twitter)
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove twitter:site (test)
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add og:description and fully qualified og:image URL
  gatsby-config.js
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: implement social SEO (#87)
  gatsby-config.js
  src/components/SEO.tsx
  static/og-image.png
Due: stylelint, eslint --max-warnings 0, prettier --write

Add Dropdown to API
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

Update menus with chevron icons
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Button.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add aria-label
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
