Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix: address feedback
  package.json
  src/examples/table/TableScroll.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix(components/tables): update scroll example with sticky head (#452)
  package.json
  src/examples/table/TableScroll.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Markdown adjustments, copy, and a11y feedback
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

feat(patterns): add Loaders documentation (#455)
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/loaders.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: add upgrade command
  .yarnrc
  package.json
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix: update script and adress feedback
  package.json
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: remove yarnrc
  .yarnrc
Due: none

fix(seo): add detail to open graph preview cards
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update readme with scripts documentation
  README.md
Due: prettier --write, markdownlint

fix: update script to use ora spinner
  README.md
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(react-components): upgrade to v8.62.2
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(examples): update to use labeled nav elements and add nav element to Pagination components
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/examples/table/TablePagination.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): update default checkbox example with fieldset component
  src/examples/forms/checkbox/Default.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeNavigation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): return focus to trigger when drawer modal is closed
  src/examples/drawer/DrawerDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update src/examples/forms/checkbox/Default.tsx
  src/examples/forms/checkbox/Default.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): update to use labeled nav elements and add nav element to Pagination components (#462)
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/examples/table/TablePagination.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): update default checkbox example with fieldset component (#463)
  src/examples/forms/checkbox/Default.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(react-components): upgrade to v8.62.2 (#461)
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: use restore focus only
  src/examples/drawer/DrawerDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(forms): update FileUpload and Tag examples with new a11y patterns
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/tags/TagsClose.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: code review
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/tags/TagsClose.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: simplify FileUpload example
  src/examples/forms/file-upload/FileUpload.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: add contextual content to TagClose example
  src/examples/tags/TagsClose.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): bump react-components to latest minor
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(forms): updates FileUpload & Tag examples with new a11y prop patterns (#465)
  package.json
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/tags/TagsClose.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix(components): fix icons installation url
  src/pages/components/theme-object.mdx
Due: prettier --write, markdownlint

fix(components): fix icons installation url (#467)
  src/pages/components/theme-object.mdx
Due: prettier --write, markdownlint

fix(examples): in prop sheet, use 'div' to wrap cell content in Default column
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: code review
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): add lang to datepicker localization example
  src/examples/date-picker/DatepickerLocalization.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): fix invalid nested div inside span in prop sheet table (#468)
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): add lang to datepicker localization example (#469)
  src/examples/date-picker/DatepickerLocalization.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): bump garden components to v8.63.1
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): bump garden components to v8.63.1 (#470)
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(examples): adds hidden table cell text
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): adds hidden prop to empty cell on draggable table rows example
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): adds hidden prop to empty cell on draggable table rows example (#466)
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: update examples
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/examples/forms/radio/Default.tsx
  src/examples/forms/radio/Disabled.tsx
  src/examples/forms/radio/Hidden.tsx
  src/examples/forms/radio/Hint.tsx
  src/examples/forms/radio/RegularWeightLabel.tsx
  src/examples/table/TableVirtualized.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write
