Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat(components): update datepickers to v9
  package-lock.json
  package.json
  src/examples/date-picker/DatePickerCustom.tsx
  src/examples/date-picker/DatePickerDefault.tsx
  src/examples/date-picker/DatePickerLocalization.tsx
  src/examples/date-picker/DatePickerRange.tsx
  src/examples/date-picker/DatePickerSize.tsx
  src/examples/date-picker/DatePickerTimeWindow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

deps: bump all next packages
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor(component pages): reference updated subcomponent displayName
  src/pages/components/alerts.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/chrome.mdx
  src/pages/components/combobox.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/grid.mdx
  src/pages/components/input-group.mdx
  src/pages/components/input.mdx
  src/pages/components/modal.mdx
  src/pages/components/notifications.mdx
  src/pages/components/radio.mdx
  src/pages/components/range.mdx
  src/pages/components/select.mdx
  src/pages/components/table.mdx
  src/pages/components/tabs.mdx
  src/pages/components/textarea.mdx
  src/pages/components/toggle.mdx
  src/pages/components/tooltip.mdx
  src/pages/components/well.mdx
Due: prettier --write, markdownlint

deps: bumb react-avatars to v9
  package-lock.json
  package.json
Due: prettier-package-json --write

feat(components): update datepickers to v9 (#620)
  package-lock.json
  package.json
  src/examples/date-picker/DatePickerCustom.tsx
  src/examples/date-picker/DatePickerDefault.tsx
  src/examples/date-picker/DatePickerLocalization.tsx
  src/examples/date-picker/DatePickerRange.tsx
  src/examples/date-picker/DatePickerSize.tsx
  src/examples/date-picker/DatePickerTimeWindow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat(components): update draggable to v9
  package-lock.json
  package.json
  src/examples/draggable/DraggableBare.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/draggable/DraggableDefault.tsx
  src/examples/draggable/DraggableDisabled.tsx
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DraggableSize.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: code review
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(components): update draggable to v9 (#619)
  package-lock.json
  package.json
  src/examples/draggable/DraggableBare.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/draggable/DraggableDefault.tsx
  src/examples/draggable/DraggableDisabled.tsx
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DraggableSize.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: use camelcased names
  src/pages/components/chrome.mdx
Due: prettier --write, markdownlint

deps: resolve merge conflicts
  package-lock.json
  package.json
Due: prettier-package-json --write

docs(File Upload): add `Field.Message` API
  src/pages/components/file-upload.mdx
Due: prettier --write, markdownlint

style: enable deprecation warnings
  eslint.config.mjs
Due: none

chore: temporalily disable max-warning flag
  package.json
Due: prettier-package-json --write

refactor(component pages): reference updated subComponents' `displayName` (#621)
  eslint.config.mjs
  package-lock.json
  package.json
  src/pages/components/alerts.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/chrome.mdx
  src/pages/components/combobox.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/grid.mdx
  src/pages/components/input-group.mdx
  src/pages/components/input.mdx
  src/pages/components/modal.mdx
  src/pages/components/notifications.mdx
  src/pages/components/radio.mdx
  src/pages/components/range.mdx
  src/pages/components/select.mdx
  src/pages/components/table.mdx
  src/pages/components/tabs.mdx
  src/pages/components/textarea.mdx
  src/pages/components/toggle.mdx
  src/pages/components/tooltip.mdx
  src/pages/components/well.mdx
Due: prettier --write, markdownlint, prettier-package-json --write

feat(components): updates grid to v9
  src/examples/grid/GridAllBreak.tsx
  src/examples/grid/GridColumnBreaks.tsx
  src/examples/grid/GridColumnWrapping.tsx
  src/examples/grid/GridEqual.tsx
  src/examples/grid/GridEqualMulti.tsx
  src/examples/grid/GridHorizontal.tsx
  src/examples/grid/GridNesting.tsx
  src/examples/grid/GridNoGutters.tsx
  src/examples/grid/GridOffset.tsx
  src/examples/grid/GridOneCol.tsx
  src/examples/grid/GridReordering.tsx
  src/examples/grid/GridStacked.tsx
  src/examples/grid/GridVariable.tsx
  src/examples/grid/GridVertical.tsx
  src/examples/pane/PaneGrid.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/examples/pane/SplitterButtonPosition.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(lintstated): temp disable eslint —max-warning flag
  .lintstagedrc
Due: none

chore: removes ESLint `--max-warning` flag from `lint-staged` config (#623)
  .lintstagedrc
Due: none

deps: bump react-tables to latest v9
  package-lock.json
Due: none

refactor(table examples): use subComponents APIs
  src/examples/table/TableCaption.tsx
  src/examples/table/TableCursorPagination.tsx
  src/examples/table/TableDefault.tsx
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableLoading.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/table/TableVirtualized.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

deps: bump `react-tabs` to latest next release
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor(examples): use subComponents properties
  src/examples/tabs/TabsDefault.tsx
  src/examples/tabs/TabsDisabled.tsx
  src/examples/tabs/TabsVertical.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: set `CodeExample`’s text color to `foreground.default` var
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: adds grid dark mode support
  src/examples/grid/GridAllBreak.tsx
  src/examples/grid/GridColumnBreaks.tsx
  src/examples/grid/GridColumnWrapping.tsx
  src/examples/grid/GridEqual.tsx
  src/examples/grid/GridEqualMulti.tsx
  src/examples/grid/GridHorizontal.tsx
  src/examples/grid/GridNesting.tsx
  src/examples/grid/GridNoGutters.tsx
  src/examples/grid/GridOffset.tsx
  src/examples/grid/GridOneCol.tsx
  src/examples/grid/GridReordering.tsx
  src/examples/grid/GridStacked.tsx
  src/examples/grid/GridVariable.tsx
  src/examples/grid/GridVertical.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor(TableVerticalScrolling): remove redundant box-shadow
  src/examples/table/TableVerticalScrolling.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(Table examples): set color-scheme based on active theme
  src/examples/table/TableCaption.tsx
  src/examples/table/TableCursorPagination.tsx
  src/examples/table/TableDefault.tsx
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableLoading.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/table/TableVirtualized.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: removes foreground colors
  src/examples/grid/GridAllBreak.tsx
  src/examples/grid/GridColumnBreaks.tsx
  src/examples/grid/GridColumnWrapping.tsx
  src/examples/grid/GridEqual.tsx
  src/examples/grid/GridEqualMulti.tsx
  src/examples/grid/GridHorizontal.tsx
  src/examples/grid/GridNesting.tsx
  src/examples/grid/GridNoGutters.tsx
  src/examples/grid/GridOffset.tsx
  src/examples/grid/GridOneCol.tsx
  src/examples/grid/GridReordering.tsx
  src/examples/grid/GridStacked.tsx
  src/examples/grid/GridVariable.tsx
  src/examples/grid/GridVertical.tsx
  src/examples/pane/PaneGrid.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/examples/pane/SplitterButtonPosition.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: expands menu and combobox JSX API documentation (#606)
  src/pages/components/combobox.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

chore: expands menu and combobox JSX API documentation (#606) (#627)
  src/pages/components/combobox.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

feat(components): update `tabs` to v9 (#626)
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/examples/tabs/TabsDefault.tsx
  src/examples/tabs/TabsDisabled.tsx
  src/examples/tabs/TabsVertical.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat(components): update notifications to v9
  src/examples/notifications/alerts/AlertDefault.tsx
  src/examples/notifications/alerts/AlertType.tsx
  src/examples/notifications/notifications/NotificationDefault.tsx
  src/examples/notifications/notifications/NotificationPlacement.tsx
  src/examples/notifications/notifications/NotificationType.tsx
  src/examples/notifications/well/WellDefault.tsx
  src/examples/notifications/well/WellFloating.tsx
  src/examples/notifications/well/WellMultiline.tsx
  src/examples/notifications/well/WellRecessed.tsx
  src/pages/components/well.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(components): updates grid to v9 (#625)
  src/examples/grid/GridAllBreak.tsx
  src/examples/grid/GridColumnBreaks.tsx
  src/examples/grid/GridColumnWrapping.tsx
  src/examples/grid/GridEqual.tsx
  src/examples/grid/GridEqualMulti.tsx
  src/examples/grid/GridHorizontal.tsx
  src/examples/grid/GridNesting.tsx
  src/examples/grid/GridNoGutters.tsx
  src/examples/grid/GridOffset.tsx
  src/examples/grid/GridOneCol.tsx
  src/examples/grid/GridReordering.tsx
  src/examples/grid/GridStacked.tsx
  src/examples/grid/GridVariable.tsx
  src/examples/grid/GridVertical.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/examples/pane/SplitterButtonPosition.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(build): reduce figma fetch size
  plugins/gatsby-source-garden-content/utils.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(draggable): removes extraneous foreground colors in examples
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(components): update `avatars` to v9 (#622)
  package-lock.json
  package.json
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/examples/avatar/StatusIndicatorCaption.tsx
  src/examples/avatar/StatusIndicatorDefault.tsx
  src/examples/avatar/StatusIndicatorSize.tsx
  src/examples/avatar/StatusIndicatorType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

deps: bump `react-modals` to latest next release
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor(modals): use subComponent properties
  src/examples/drawer/DrawerDefault.tsx
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/examples/tooltip-modal/TooltipModalDefault.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(draggable): removes extraneous foreground colors in examples (#631)
  src/examples/draggable/DraggableListDefault.tsx
  src/examples/draggable/DraggableListHorizontal.tsx
  src/examples/draggable/DraggableListIndicator.tsx
  src/examples/draggable/DraggablePlaceholder.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(components): update notifications to v9 (#628)
  src/examples/notifications/alerts/AlertDefault.tsx
  src/examples/notifications/alerts/AlertType.tsx
  src/examples/notifications/notifications/NotificationDefault.tsx
  src/examples/notifications/notifications/NotificationPlacement.tsx
  src/examples/notifications/notifications/NotificationType.tsx
  src/examples/notifications/well/WellDefault.tsx
  src/examples/notifications/well/WellFloating.tsx
  src/examples/notifications/well/WellMultiline.tsx
  src/examples/notifications/well/WellRecessed.tsx
  src/pages/components/well.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

refactor(TableDraggable): drop react-beautiful-dnd
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix(build): reduce figma fetch size (#630)
  plugins/gatsby-source-garden-content/utils.ts
Due: stylelint, eslint --max-warnings 0, prettier --write
