Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["stylelint", "eslint", "prettier --write"],
  "*.{md,mdx}": ["markdownlint", "prettier --write"],
  "**/package.json": ["prettier-package-json --write"]
}

fix(build): reduce figma fetch size (#630)
  plugins/gatsby-source-garden-content/utils.ts
Due: stylelint, eslint, prettier --write

feat(components): updates pagination to v9
  package-lock.json
  package.json
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/pages/components/pagination.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore: code review & fixes
  src/examples/pagination/OffsetPadding.tsx
  src/examples/table/TablePagination.tsx
  src/pages/components/pagination.mdx
Due: stylelint, eslint, prettier --write, markdownlint

feat(components): updates pagination to v9 (#629)
  package-lock.json
  package.json
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/examples/table/TablePagination.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

feat(components): update `modals` to v9 (#632)
  package-lock.json
  package.json
  src/examples/drawer/DrawerDefault.tsx
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/examples/tooltip-modal/TooltipModalDefault.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

docs: link to dnd-kit pages
  src/pages/components/table.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: prettier --write, markdownlint

refactor(table draggle): polish demo
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint, prettier --write

chore: updates to Grid subcomponent properties
  src/examples/typography/code-block/Numbered.tsx
  src/examples/typography/code/Color.tsx
  src/examples/typography/code/Default.tsx
  src/examples/typography/code/Size.tsx
  src/examples/typography/lists/Default.tsx
  src/examples/typography/lists/Nesting.tsx
  src/examples/typography/paragraph/Size.tsx
Due: stylelint, eslint, prettier --write

chore: updates typography and docs
  package-lock.json
  package.json
  src/examples/typography/span/Hue.tsx
  src/pages/components/span.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore: use Span in draggable content example
  src/examples/draggable/DraggableContent.tsx
Due: stylelint, eslint, prettier --write

chore: updates other Span instances with variable keys
  src/examples/accordions/timeline/TimelineAlternating.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
  src/examples/accordions/timeline/TimelineOppositeContent.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
Due: stylelint, eslint, prettier --write

fix(TableDraggable): improve cursor behavior
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint, prettier --write

style: clean up
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint, prettier --write

deps: bump `color-pickers` to latest next release
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: use Grid subComponent properties
  src/examples/color-picker/ColorPickerDefault.tsx
  src/examples/color-picker/ColorPickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorPickerDialogDefault.tsx
  src/examples/color-picker/ColorPickerDialogFormInput.tsx
  src/examples/color-picker/ColorPickerOpaque.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
Due: stylelint, eslint, prettier --write

feat(components): update `colorpickers` to v9 (#633)
  package-lock.json
  package.json
  src/examples/color-picker/ColorPickerDefault.tsx
  src/examples/color-picker/ColorPickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorPickerDialogDefault.tsx
  src/examples/color-picker/ColorPickerDialogFormInput.tsx
  src/examples/color-picker/ColorPickerOpaque.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

feat(components): update `tables` to v9 (#624)
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableCaption.tsx
  src/examples/table/TableCursorPagination.tsx
  src/examples/table/TableDefault.tsx
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableLoading.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/table/TableVirtualized.tsx
  src/pages/components/table.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

feat(components): update typography to v9 (#614)
  package-lock.json
  package.json
  src/examples/accordions/timeline/TimelineAlternating.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
  src/examples/accordions/timeline/TimelineOppositeContent.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
  src/examples/typography/code-block/Numbered.tsx
  src/examples/typography/code/Color.tsx
  src/examples/typography/code/Default.tsx
  src/examples/typography/code/Size.tsx
  src/examples/typography/lists/Default.tsx
  src/examples/typography/lists/Nesting.tsx
  src/examples/typography/paragraph/Size.tsx
  src/examples/typography/span/Hue.tsx
  src/pages/components/span.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

deps: bump `react-chrome` to latest `next` release
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: handle breaking changes
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/examples/chrome/GlobalAlert.tsx
Due: stylelint, eslint, prettier --write

refactor(chrome ex): use subComponent properties
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
Due: stylelint, eslint, prettier --write

refactor: use getColor
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
Due: stylelint, eslint, prettier --write

refactor: add Nav.List
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/GlobalAlert.tsx
Due: stylelint, eslint, prettier --write

docs(Sheet ex): add missing Configuration block
  src/pages/components/sheet.mdx
Due: prettier --write, markdownlint

feat(components): update `chrome` to v9 (#635)
  package-lock.json
  package.json
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/examples/chrome/GlobalAlert.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/pages/components/sheet.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

feat(components): update tags to v9
  package-lock.json
  package.json
  src/examples/tags/TagsAvatar.tsx
  src/examples/tags/TagsClose.tsx
  src/examples/tags/TagsColor.tsx
  src/examples/tags/TagsDefault.tsx
  src/examples/tags/TagsShape.tsx
  src/examples/tags/TagsSize.tsx
  src/examples/tags/TagsWeight.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore: bump react component versions to latest next tag
  package-lock.json
  package.json
Due: prettier-package-json --write

fix(chrome): fix Nav.List name
  src/pages/components/chrome.mdx
Due: prettier --write, markdownlint

feat(components): update tags to v9 (#634)
  package-lock.json
  package.json
  src/examples/tags/TagsAvatar.tsx
  src/examples/tags/TagsClose.tsx
  src/examples/tags/TagsColor.tsx
  src/examples/tags/TagsDefault.tsx
  src/examples/tags/TagsShape.tsx
  src/examples/tags/TagsSize.tsx
  src/examples/tags/TagsWeight.tsx
  src/pages/components/chrome.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

refactor: use subComponent properties
  src/examples/date-picker/DatePickerRange.tsx
  src/examples/date-picker/DatePickerTimeWindow.tsx
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/pages/404.tsx
Due: stylelint, eslint, prettier --write

refactor: use subComponent properties (#636)
  src/examples/date-picker/DatePickerRange.tsx
  src/examples/date-picker/DatePickerTimeWindow.tsx
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/pages/404.tsx
Due: stylelint, eslint, prettier --write

Upgrade to react-comopnents v8.76.7
  package-lock.json
  package.json
Due: prettier-package-json --write

Enhance "nested" example with improved a11y ergonomics
  src/examples/combobox/Nested.tsx
Due: stylelint, eslint, prettier --write

Stash
  src/examples/combobox/NestedMultiselect.tsx
  src/pages/components/combobox.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Clean up deprecations
  src/components/MarkdownProvider/components/Component.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/SEO.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Upgrade react-components to v9.0.0-next.23
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix up nits
  content/nav/components.yml
  package-lock.json
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

Rename tooltip modal -> dialog
  content/nav/components.yml
  src/examples/tooltip-dialog/TooltipDialogDefault.tsx
  src/examples/tooltip-dialog/TooltipDialogPlacement.tsx
  src/pages/components/tooltip-dialog.mdx
  src/pages/components/tooltip-modal.mdx
  src/pages/patterns/filters.mdx
  src/pages/patterns/rich-text-editor.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Remove react-beautiful-dnd
  package-lock.json
  package.json
Due: prettier-package-json --write

Add v8 components link
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint
