Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: upgrade @zendeskgarden/scripts to v2
  package.json
  utils/deploy.mjs
  utils/upgrade.mjs
  yarn.lock
Due: prettier-package-json --write

Test upgrade command
  package.json
  yarn.lock
Due: prettier-package-json --write

Upgrade react-components to 8.69.9
  package.json
  yarn.lock
Due: prettier-package-json --write

Update src/pages/patterns/filters.mdx
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Replaced combobox resource with Garden combobox link
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Fixed incorrect Figma node IDs and reordered to match site layout
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Removed Datepicker examples
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Updated accessibility section
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Deleted changed visual
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Updated Figma Node ID that had changed
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Fixed tabbing order in accessibility section
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

chore(deps): sync react-components submodule to latest
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): sync react-components submodule to latest (#529)
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): fix execa usage in utils/upgrade.js
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): fixes ora import in utils/upgrade.js
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): format files with prettier v3
  src/components/SEO.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/pages/404.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: add 'filters' to pattern documentation section of website (#515)
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/filters.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: upgrade react-components to 8.69.11
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: upgrade react-components to 8.69.11 (#530)
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(icons): remove "view all icons" button
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(icons): remove "view all icons" button (#531)
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: upgrade to `react-components` v8.70.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: upgrade to `react-components` v8.70.0 (#532)
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(menu): adds menu page and deprecates legacy dropdown
  package.json
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/examples/menu/Arrow.tsx
  src/examples/menu/Button.tsx
  src/examples/menu/Danger.tsx
  src/examples/menu/Default.tsx
  src/examples/menu/Disabled.tsx
  src/examples/menu/GroupedItems.tsx
  src/examples/menu/Media.tsx
  src/examples/menu/MetaItems.tsx
  src/examples/menu/Nested.tsx
  src/examples/menu/Placement.tsx
  src/examples/menu/Size.tsx
  src/nav/components.yml
  src/pages/components/legacy-menu.mdx
  src/pages/components/menu.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(menu): update demo content
  src/examples/menu/Arrow.tsx
  src/examples/menu/Button.tsx
  src/examples/menu/Danger.tsx
  src/examples/menu/Disabled.tsx
  src/examples/menu/GroupedItems.tsx
  src/examples/menu/Media.tsx
  src/examples/menu/Meta.tsx
  src/examples/menu/Nested.tsx
  src/examples/menu/Placement.tsx
  src/examples/menu/Size.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(menu): updates split button to use menu v.next
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(menu): updates input group example with menu v.next
  src/examples/forms/input-group/ButtonPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): sync react-components to v8.72.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(examples): adds alerts to menu items in some menu demos
  src/examples/menu/Arrow.tsx
  src/examples/menu/Button.tsx
  src/examples/menu/Danger.tsx
  src/examples/menu/Default.tsx
  src/examples/menu/Disabled.tsx
  src/examples/menu/GroupedItems.tsx
  src/examples/menu/Media.tsx
  src/examples/menu/Meta.tsx
  src/examples/menu/Nested.tsx
  src/examples/menu/Placement.tsx
  src/examples/menu/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(examples): fix menu IDs
  src/examples/menu/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(examples): modifies menu v.next button example in preparation for rotating chevron built-in
  src/examples/menu/Button.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(components): copy edit from @diana-oum
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

chore: bump react-components to 8.73.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(chrome): clarify nav `hue` copy
  src/pages/components/chrome.mdx
Due: prettier --write, markdownlint

chore(chrome): clarify nav `hue` copy (#536)
  src/pages/components/chrome.mdx
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
