Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

remove commented out mdx and assign a type for debounce ref
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

language changes to tooltip
  src/pages/design/icons/index.mdx
Due: prettier --write, markdownlint

change filter to search
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(icons): New Icon Overview & Icon Search (#348)
  gatsby-config.js
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/nav/design.yml
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/index.mdx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add a way to query tokens
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/icons-tokens.json
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(content): update content design team name and title
  src/pages/content/principles.mdx
Due: prettier --write, markdownlint

chore(content): update content design team name and title (#365)
  src/pages/content/principles.mdx
Due: prettier --write, markdownlint

add support to many-to-one relation to icons
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/icons-tokens.json
  plugins/gatsby-transformer-garden-svg/tokens.json
Due: stylelint, eslint --max-warnings 0, prettier --write

added the rest of the tokens into JSON and small changes to variable-naming in SvgSearch
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/tokens.json
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

forgot to run prettier
  plugins/gatsby-transformer-garden-svg/tokens.json
Due: none

fix(icons): move svg-icons installation into icon overview page
  src/nav/design.yml
  src/pages/design/icons/index.mdx
  src/pages/design/icons/installation.mdx
Due: prettier --write, markdownlint

fix: nav/design needed a new line at eof
  src/nav/design.yml
Due: none

fix(icons): move svg-icons installation docs into icon overview page (#367)
  src/nav/design.yml
  src/pages/design/icons/index.mdx
  src/pages/design/icons/installation.mdx
Due: prettier --write, markdownlint

fix: replace svg-icons repo's readme link to preferred/cleaner url
  src/pages/design/icons/index.mdx
Due: prettier --write, markdownlint

fix(icons): replace svg-icons readme link with preferred url (#369)
  src/pages/design/icons/index.mdx
Due: prettier --write, markdownlint

change figma as the source of fetching tokens
  gatsby-config.js
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/tokens.json
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(actions): add deployment workflow
  .github/workflows/deploy.yml
  utils/deploy-action.js
  utils/deploy.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: add netlify tokens to environment
  .github/workflows/deploy.yml
Due: none

chore: update Garden react-components (#371)
  package.json
  yarn.lock
Due: prettier-package-json --write

implemented a cleaner approach to retrieve tokens from figma
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: action, remove deploy script file
  .github/workflows/deploy.yml
  utils/deploy-action.js
  utils/deploy.js
Due: stylelint, eslint --max-warnings 0, prettier --write

test: added reporter to see which nodes are being fetched.
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(content): add default and system to word list and move stats in alphabetical order
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

chore(content): add default & system to word list & move stats in alphabetical order (#373)
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

test: unique key for icon tokens
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

test: logging tokens
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-components and svg-icons
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: workflow
  .github/workflows/deploy.yml
Due: none

fix: update react-components with doc-generated API improvements (#375)
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update react monorepo to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

Updated the figmaId and nodeId to point to Figma assets file
  gatsby-config.js
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

test: more consoles logs
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

wip
  gatsby-config.js
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

test: populate tokens using fields instead
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

test: replace with better logs
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chrome(icons): Readds 26px icons onto the website with context
  src/examples/design/icons/SvgSearch.tsx
  src/nav/design.yml
  src/pages/components/chrome.mdx
  src/pages/design/icons/chrome-icons.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

test: created plugin for sourcing tokens
  gatsby-config.js
  plugins/gatsby-source-tokens/gatsby-node.js
  plugins/gatsby-source-tokens/package.json
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  src/examples/design/icons/TokenSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix: apply empty string alt for decorative images
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write
