Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Refactor `gatsby-remark-figma-assets` plugin for ESM
  package-lock.json
  plugins/gatsby-remark-figma-assets/index.mjs
  plugins/gatsby-remark-figma-assets/package.json
Due: prettier-package-json --write

fix: use updated node IDs in save pattern assets
  content/figma/assets.yml
Due: none

fix: use updated node IDs in save pattern assets (#577)
  content/figma/assets.yml
Due: none

chore: replace eslint-plugin-node with eslint-plugin-n
  package-lock.json
  package.json
Due: prettier-package-json --write

fix: adds react-forms to sandbox dependencies
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: adds react-forms to sandbox dependencies (#578)
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update input.mdx
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

Update src/pages/components/input.mdx
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

chore: update to getColorV8
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/ImageFigure.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/examples/pane/SplitterButtonPosition.tsx
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/SearchInput.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/Subtitle.tsx
  src/layouts/Titled/components/TOC.tsx
  src/pages/404.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): bump unchanged component packages to v9
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: remove multithumbrange and buttongroup
  content/nav/components.yml
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDisabled.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHidden.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
  src/pages/components/button-group.mdx
  src/pages/components/multi-thumb-range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: update buttons
  package-lock.json
  package.json
Due: prettier-package-json --write

feat: update chrome
  package-lock.json
  package.json
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/examples/chrome/GlobalAlert.tsx
  src/pages/components/chrome.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix(build): split figma v1/images API calls into chunks
  plugins/gatsby-source-garden-content/utils.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(colorpickers): update to v9
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/examples/color-picker/ColorpickerDefault.tsx
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/examples/color-picker/ColorpickerOpaque.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
  src/pages/components/color-picker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(datepickers): update to v9
  content/nav/components.yml
  src/examples/date-picker/DatepickerCustom.tsx
  src/examples/date-picker/DatepickerDefault.tsx
  src/examples/date-picker/DatepickerLocalization.tsx
  src/examples/date-picker/DatepickerRange.tsx
  src/examples/date-picker/DatepickerSize.tsx
  src/examples/date-picker/DatepickerTimeWindow.tsx
  src/pages/components/date-picker.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(build): split figma v1/images API calls into chunks (#582)
  plugins/gatsby-source-garden-content/utils.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(forms): update input `Placeholder` section (#579)
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

fix: correct external URLs to npm and github
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: remove redundant packageName alias
  src/components/MarkdownProvider/components/Configuration.tsx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: remove non existant packageName field
  plugins/gatsby-source-garden-docgen/README.md
Due: prettier --write, markdownlint

fix: correct external URLs to NPM and Github (#583)
  plugins/gatsby-source-garden-docgen/README.md
  src/components/MarkdownProvider/components/Configuration.tsx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

refactor: migrate to ESlint@9 + @zendeskgarden/eslint-config@42
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  gatsby-config.ts
  gatsby-node.ts
  package-lock.json
  package.json
  plugins/gatsby-remark-figma-assets/index.mjs
  plugins/gatsby-source-garden-content/utils.ts
  plugins/gatsby-source-garden-docgen/utils.mjs
  src/components/SEO.tsx
  src/examples/draggable/DropzoneDefault.tsx
  src/layouts/Root/components/SearchInput.tsx
  tsconfig.json
  utils/deploy.mjs
  utils/typings/styled.d.ts
  utils/upgrade.js
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: PR feedback
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier-package-json --write

fix: eslint configuration
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/Alert.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Component.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/GlobalAlert.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
  src/examples/forms/checkbox/Indeterminate.tsx
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
  src/layouts/Titled/index.tsx
  utils/typings/styled.d.ts
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix: eslint configuration (#595)
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/Alert.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Component.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/GlobalAlert.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/draggable/DropzoneDanger.tsx
  src/examples/draggable/DropzoneDefault.tsx
  src/examples/forms/checkbox/Indeterminate.tsx
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
  src/layouts/Titled/index.tsx
  utils/typings/styled.d.ts
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat(examples): updates table overflow to demonstrate new menu
  src/examples/table/TableOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(examples): updates table overflow to demonstrate new menu (#596)
  src/examples/table/TableOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: add empty project .eslintrc to disable Gatsby eslint loaders
  .eslintrc.js
Due: stylelint, eslint --max-warnings 0, prettier --write

deps: bump garden deps
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: fix imports
  src/examples/drawer/DrawerDefault.tsx
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/examples/table/TablePagination.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

deps: refresh package-lock
  package-lock.json
Due: none

chore: add empty project .eslintrc to disable Gatsby's eslint loaders (#597)
  .eslintrc.js
  package-lock.json
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: path to OffsetPagination
  src/pages/components/pagination.mdx
Due: prettier --write, markdownlint

chore: prepare theming upgrade with getColorV8
  package-lock.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/ImageFigure.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/examples/pane/SplitterButtonPosition.tsx
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/examples/utilities/components.ts
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/SearchInput.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/Subtitle.tsx
  src/layouts/Titled/components/TOC.tsx
  src/pages/404.tsx
  src/pages/components/palette.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: prepare theming upgrade with getColorV8 (#598)
  package-lock.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/ImageFigure.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/examples/pane/SplitterButtonPosition.tsx
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/examples/utilities/components.ts
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/SearchInput.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/Subtitle.tsx
  src/layouts/Titled/components/TOC.tsx
  src/pages/404.tsx
  src/pages/components/palette.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

deps: bump react-theming to next
  package-lock.json
  package.json
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
