Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["stylelint", "eslint", "prettier --write"],
  "*.{md,mdx}": ["markdownlint", "prettier --write"],
  "**/package.json": ["prettier-package-json --write"]
}

Finesse prop sheets
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/examples/utilities/components.ts
Due: stylelint, eslint, prettier --write

Update `scripts` package for the latest docgen
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Fix lint errors
  src/layouts/Root/index.tsx
  utils/typings/styled.d.ts
Due: stylelint, eslint, prettier --write

Clean up popper reference
  src/pages/components/utilities.mdx
Due: prettier --write, markdownlint

fix(docsearch): enable SSR page rendering
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

fix(docsearch): enable SSR page rendering (#667)
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Fix lint errors
  src/components/useColorScheme.ts
  utils/color-scheme.js
Due: stylelint, eslint, prettier --write

Fix invalid URL
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Fix hydration flash of theming
  package-lock.json
  package.json
  src/components/Provider.tsx
  src/layouts/Root/index.tsx
  utils/color-scheme.js
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update nav colors
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
Due: stylelint, eslint, prettier --write

Update image backgrounds
  src/layouts/Home/components/Patterns.tsx
  src/pages/404.tsx
Due: stylelint, eslint, prettier --write

Fix light/dark mode switching
  src/components/Provider.tsx
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Fix z-index stacking
  src/components/Provider.tsx
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Fix external link treatment
  src/layouts/Root/components/StyledNavigationLink.tsx
Due: stylelint, eslint, prettier --write

Fix TOC current color
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint, prettier --write

feat: add Color Principles page
  content/figma/assets.yml
  content/nav/design.yml
  src/components/MarkdownProvider/components/ColorShades.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/design/color.mdx
  src/pages/design/palette.mdx
Due: stylelint, eslint, prettier --write, markdownlint

docs: improve content hierarchy, remove redundant color + unneeded **
  src/pages/design/color.mdx
Due: prettier --write, markdownlint

docs: make component links internal
  src/pages/design/color.mdx
Due: prettier --write, markdownlint

docs: add margin under Color Swatches
  src/components/MarkdownProvider/components/ColorShades.tsx
Due: stylelint, eslint, prettier --write

docs: remove img alt description
  src/pages/design/color.mdx
Due: prettier --write, markdownlint

docs(inputs): remove isBare example
  src/examples/forms/inputs/Bare.tsx
  src/pages/components/input.mdx
Due: stylelint, eslint, prettier --write, markdownlint

docs(ToggleIconButton examples): improve contrast when toggled
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
Due: stylelint, eslint, prettier --write

docs(ToggleIconButton): remove icon transition example
  src/examples/button/ToggleIconButtonIcons.tsx
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint, prettier --write, markdownlint

docs: remove discouraged `isBare` `Input` ex + fix insufficient contrast in `Toggle Icon Button` examples (#670)
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
  src/examples/forms/inputs/Bare.tsx
  src/pages/components/input.mdx
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Replaced semantic variable markdown tables with code examples
  src/components/MarkdownProvider/components/ColorShades.tsx
  src/examples/design/color/BackgroundVariables.tsx
  src/examples/design/color/BorderVariables.tsx
  src/examples/design/color/ForegroundVariables.tsx
  src/examples/design/color/Purpose.tsx
  src/examples/design/color/ShadowVariables.tsx
  src/pages/design/color.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Fix urls, grammar, and example formatting
  src/examples/design/color/BackgroundVariables.tsx
  src/examples/design/color/BorderVariables.tsx
  src/examples/design/color/ForegroundVariables.tsx
  src/examples/design/color/Purpose.tsx
  src/examples/design/color/ShadowVariables.tsx
  src/pages/design/color.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Remove incorrect `/palette` content
  src/pages/design/palette.mdx
Due: prettier --write, markdownlint

chore: remove content pillar
  content/nav/content.yml
  gatsby-node.ts
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/pages/content/actionable-language.mdx
  src/pages/content/grammar.mdx
  src/pages/content/index.mdx
  src/pages/content/principles.mdx
  src/pages/content/punctuation.mdx
  src/pages/content/voice-and-tone.mdx
  src/pages/content/word-list.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Fix redirect URLs
  gatsby-node.ts
Due: stylelint, eslint, prettier --write

Fix html scroll bar
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

feat(design): add Color Principles page (#668)
  content/figma/assets.yml
  content/nav/design.yml
  src/components/MarkdownProvider/components/ColorShades.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/design/color/BackgroundVariables.tsx
  src/examples/design/color/BorderVariables.tsx
  src/examples/design/color/ForegroundVariables.tsx
  src/examples/design/color/Purpose.tsx
  src/examples/design/color/ShadowVariables.tsx
  src/layouts/Root/index.tsx
  src/pages/design/color.mdx
  src/pages/design/palette.mdx
Due: stylelint, eslint, prettier --write, markdownlint

chore!: remove content pillar (#671)
  content/nav/content.yml
  gatsby-node.ts
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Root/components/Header.tsx
  src/pages/content/actionable-language.mdx
  src/pages/content/grammar.mdx
  src/pages/content/index.mdx
  src/pages/content/principles.mdx
  src/pages/content/punctuation.mdx
  src/pages/content/voice-and-tone.mdx
  src/pages/content/word-list.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Upgrade to react-components 9.2.0
  package-lock.json
  package.json
Due: prettier-package-json --write

feat(components): add `hasSelection` indicator to nested `Combobox` examples
  src/examples/combobox/MultiselectTags.tsx
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write

Rearrange imports
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write

feat(components): add `hasSelection` indicator to nested `Combobox` examples (#672)
  package-lock.json
  package.json
  src/examples/combobox/MultiselectTags.tsx
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

fix: allow custom multiselect tags to truncate
  src/examples/combobox/MultiselectTags.tsx
Due: stylelint, eslint, prettier --write

fix: allow custom multiselect tags to truncate (#675)
  src/examples/combobox/MultiselectTags.tsx
Due: stylelint, eslint, prettier --write

Upgrade to react-components 9.4.0
  package-lock.json
  package.json
Due: prettier-package-json --write
