Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Add rotation to chevron icons
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add aria-label to chevron buttons
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add best practice section
  src/pages/components/toggle.mdx
Due: prettier --write, markdownlint

Redesigned 404 page
  src/pages/404.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add link to Bedrock CSS
  src/nav/components.yml
Due: none

Update menu.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

Update select.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

Update multiselect.mdx
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

Target correct image asset
  src/pages/404.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add toggle component page (#81)
  src/examples/forms/toggle/Default.tsx
  src/examples/forms/toggle/Disabled.tsx
  src/examples/forms/toggle/Hidden.tsx
  src/examples/forms/toggle/Hint.tsx
  src/examples/forms/toggle/RegularWeightLabel.tsx
  src/examples/forms/toggle/Validation.tsx
  src/pages/components/toggle.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

its monday bear with me
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

revise icon size
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add spaces
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

update structure
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

chore: update 404 page (#90)
  src/nav/components.yml
  src/pages/404.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix markdown structure
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

fix: revise icon button icon size (#95)
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update multiselect component copy (#93)
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

chore: update select component copy (#92)
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

chore: update menu component copy (#91)
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

feat: add autocomplete component page (#83)
  src/examples/dropdowns/autocomplete/Default.tsx
  src/examples/dropdowns/autocomplete/Media.tsx
  src/examples/dropdowns/autocomplete/Size.tsx
  src/pages/components/autocomplete.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update content and order
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

uxcs revisions
  src/nav/components.yml
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

nits
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

establish new ia
  src/nav/content.yml
  src/pages/content/basics.mdx
  src/pages/content/principles.mdx
Due: prettier --write, markdownlint

update principles
  src/pages/content/principles.mdx
Due: prettier --write, markdownlint

grammar and principles
  src/pages/content/grammar.mdx
  src/pages/content/principles.mdx
Due: prettier --write, markdownlint

formatting
  src/pages/content/grammar.mdx
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

copy updates
  src/pages/content/grammar.mdx
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

break fix and bold fix
  src/pages/content/grammar.mdx
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

update punctuation
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

fix(examples): menu and icon buttons (#89)
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Button.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update avatar example ordering
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

Add breadcrumb API section
  src/pages/components/breadcrumbs.mdx
Due: prettier --write, markdownlint

chore: revise input content and order (#85)
  src/nav/components.yml
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

chore: revise button content (#84)
  src/examples/button/ButtonDisabled.tsx
  src/examples/button/ButtonMedia.tsx
  src/pages/components/button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update button component example and API ordering
  src/examples/button/ButtonDefault.tsx
  src/examples/button/IconButtonDefault.tsx
  src/pages/components/anchor.mdx
  src/pages/components/button-group.mdx
  src/pages/components/button.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: introduce grammar, punctuation and principles to uxcs (#88)
  src/nav/content.yml
  src/pages/content/basics.mdx
  src/pages/content/grammar.mdx
  src/pages/content/numbers.mdx
  src/pages/content/principles.mdx
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint
