Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Fix typos and errors
  src/pages/components/timeline.mdx
Due: prettier --write, markdownlint

Pull Timeline back out in nav, add figma assets
  gatsby-config.js
  src/nav/components.yml
  src/pages/components/timeline.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add timeline docs
  src/examples/accordions/components.ts
  src/examples/accordions/timeline/TimelineAlternating.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
  src/examples/accordions/timeline/TimelineOppositeContent.tsx
  src/nav/components.yml
  src/pages/components/timeline.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add image for nesting do
  gatsby-config.js
  src/pages/components/timeline.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Avoid local imports in each example
  src/examples/accordions/timeline/TimelineAlternating.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Replace Zendesk avatar style icon with garden icons in custom media example
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add Timeline component (#296)
  gatsby-config.js
  src/examples/accordions/components.ts
  src/examples/accordions/timeline/TimelineAlternating.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
  src/examples/accordions/timeline/TimelineOppositeContent.tsx
  src/nav/components.yml
  src/pages/components/timeline.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(images): migrate to figma and remove abstract
  .github/CONTRIBUTING.md
  gatsby-config.js
  package.json
  plugins/gatsby-remark-abstract-assets/package.json
  plugins/gatsby-remark-figma-assets/index.js
  plugins/gatsby-remark-figma-assets/package.json
  plugins/gatsby-source-abstract/gatsby-node.js
  plugins/gatsby-source-figma/gatsby-node.js
  src/layouts/Home/components/Patterns.tsx
  src/pages/404.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/toggle-icon-button.mdx
  src/pages/content/voice-and-tone.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v21
  package.json
  yarn.lock
Due: prettier-package-json --write

Add initial Select (native) component page
  src/examples/forms/select/Default.tsx
  src/examples/forms/select/Disabled.tsx
  src/examples/forms/select/Hidden.tsx
  src/examples/forms/select/Hint.tsx
  src/examples/forms/select/Size.tsx
  src/examples/forms/select/Validation.tsx
  src/nav/components.yml
  src/pages/components/select-native.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add use/misuse section
  src/pages/components/select-native.mdx
Due: prettier --write, markdownlint

Cross-reference
  src/pages/components/select-native.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

Move Select (native) under Dropdowns section
  src/nav/components.yml
Due: none

chore(images): migrate to figma and remove abstract (#303)
  .github/CONTRIBUTING.md
  gatsby-config.js
  package.json
  plugins/gatsby-remark-abstract-assets/package.json
  plugins/gatsby-remark-figma-assets/index.js
  plugins/gatsby-remark-figma-assets/package.json
  plugins/gatsby-source-abstract/gatsby-node.js
  plugins/gatsby-source-figma/gatsby-node.js
  src/layouts/Home/components/Patterns.tsx
  src/pages/404.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/toggle-icon-button.mdx
  src/pages/content/voice-and-tone.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(forms): add native `Select` component page (#302)
  package.json
  src/examples/forms/select/Default.tsx
  src/examples/forms/select/Disabled.tsx
  src/examples/forms/select/Hidden.tsx
  src/examples/forms/select/Hint.tsx
  src/examples/forms/select/Size.tsx
  src/examples/forms/select/Validation.tsx
  src/nav/components.yml
  src/pages/components/select-native.mdx
  src/pages/components/select.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

See https://github.com/zendeskgarden/website/pull/286\#pullrequestreview-731190291
  package.json
  yarn.lock
Due: prettier-package-json --write

npx yarn-deduplicate
  yarn.lock
Due: none

fix(deps): rollback `gatsby-plugin-styled-components`
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): rollback `gatsby-plugin-styled-components` (#305)
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency styled-components to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react-dom to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency node-fetch to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update react monorepo to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

Update react @types
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency core-js to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update remark monorepo
  package.json
  yarn.lock
Due: prettier-package-json --write

Update remark import and remark-react usage
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(api): add descriptions and notes to Accordion components
  src/pages/components/accordion.mdx
  src/pages/components/stepper.mdx
  src/pages/components/timeline.mdx
Due: prettier --write, markdownlint

fix spacing between bullets, address other feedback
  src/pages/components/stepper.mdx
Due: prettier --write, markdownlint

Collapsing margins apply to the CodeBlock container
  src/components/MarkdownProvider/components/CodeBlock.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

address remaining feedback - remove unnecessary detail
  src/pages/components/timeline.mdx
Due: prettier --write, markdownlint

fix: markdown `CodeBlock` vertical margining (#312)
  src/components/MarkdownProvider/components/CodeBlock.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add source diff example to CodeBlock
  src/examples/typography/code-block/Diff.tsx
  src/pages/components/code-block.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update diff example
  src/examples/typography/code-block/Diff.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Run `yarn upgrade` for up-to-date prism-react-renderer
  yarn.lock
Due: none

Update react-components
  package.json
  src/examples/typography/code-block/Diff.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

docs:Add notes around input debouncing
  src/fragments/dropdowns.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
