Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

update versions
  package.json
  src/examples/modal/ModalDefault.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

updates
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

copy updates
  src/examples/modal/ModalDanger.tsx
  src/pages/components/modal.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add modal component (#174)
  package.json
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/nav/components.yml
  src/pages/components/modal.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(forms): add auto-expanding text area (#178)
  src/examples/forms/textarea/AutoExpand.tsx
  src/examples/forms/textarea/Default.tsx
  src/examples/forms/textarea/DragHandles.tsx
  src/nav/components.yml
  src/pages/components/input.mdx
  src/pages/components/textarea.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

initial commit
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableDefault.tsx
  src/examples/table/TableDrag.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
  src/nav/components.yml
  src/pages/components/table.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Walkthrough of TS type adjustments
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSort.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-components dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

refactor
  package.json
  src/examples/table/TableDefault.tsx
  src/examples/table/TableDrag.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/pages/components/table.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: update SVG product logo colors (#187)
  package.json
  src/examples/design/icons/SvgSearch.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix package.json from merge
  package.json
  yarn.lock
Due: prettier-package-json --write

pr fixes
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/pages/components/table.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: remove unnecessary global height styles
  src/layouts/Root/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: remove unnecessary global height styles (#189)
  src/layouts/Root/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

comment fixes
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/examples/table/TableCaption.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/pages/components/table.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Updated to use react-grid
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add toggle button component page
  src/examples/button/ToggleButtonDefault.tsx
  src/examples/button/ToggleButtonDisabled.tsx
  src/examples/button/ToggleButtonSizes.tsx
  src/examples/button/ToggleButtonTypes.tsx
  src/nav/components.yml
  src/pages/components/toggle-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

optimize sort example
  src/examples/table/TableSort.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove after pseudo
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: introduce TooltipModal component (#169)
  src/examples/tooltip-modal/TooltipModalDefault.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
  src/nav/components.yml
  src/pages/components/tooltip-modal.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add table component (#172)
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableCaption.tsx
  src/examples/table/TableDefault.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
  src/nav/components.yml
  src/pages/components/table.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Add toggle icon button component page
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
  src/nav/components.yml
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add tooltip best practice
  src/pages/components/icon-button.mdx
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

remove overflow style
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add table specific overflow
  src/examples/table/TableCaption.tsx
  src/examples/table/TableDefault.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

content fixes
  src/pages/components/drawer.mdx
Due: prettier --write, markdownlint

initial commit
  src/examples/drawer/DrawerDefault.tsx
  src/nav/components.yml
  src/pages/components/drawer.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update package.json
  package.json
  yarn.lock
Due: prettier-package-json --write

overflowX fix
  src/examples/table/TableCaption.tsx
  src/examples/table/TableDefault.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add Icon section and update do/dont graphic
  src/examples/button/ToggleIconButtonIcons.tsx
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: amend component overflow style (#190)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/examples/table/TableCaption.tsx
  src/examples/table/TableDefault.tsx
  src/examples/table/TableGroupedRows.tsx
  src/examples/table/TableOverflow.tsx
  src/examples/table/TablePagination.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableSelectRows.tsx
  src/examples/table/TableSize.tsx
  src/examples/table/TableSort.tsx
  src/examples/table/TableStripedRows.tsx
  src/examples/table/TableTruncate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update content
  src/pages/components/drawer.mdx
Due: prettier --write, markdownlint

Adjust aria-label for consistency
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Attempt to fix CI build
  .circleci/config.yml
Due: none

test: attempt to break CI build
  .circleci/config.yml
Due: none

fix(build): pin default gatsby CPU count
  .circleci/config.yml
Due: none

fix(build): pin default Gatsby CPU count (#192)
  .circleci/config.yml
Due: none

feat(modals): add drawer component (#188)
  package.json
  src/examples/drawer/DrawerDefault.tsx
  src/nav/components.yml
  src/pages/components/drawer.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix: allow overflow in code example
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Copy updates
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint
