Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore: v9 readiness (#640)
  content/nav/components.yml
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/Component.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/SEO.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/tooltip-dialog/TooltipDialogDefault.tsx
  src/examples/tooltip-dialog/TooltipDialogPlacement.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/pages/components/tooltip-dialog.mdx
  src/pages/components/tooltip-modal.mdx
  src/pages/components/versions.mdx
  src/pages/patterns/filters.mdx
  src/pages/patterns/rich-text-editor.mdx
  src/pages/patterns/tables/basic-formatting.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

Fill out theme-object and utilities pages for v9
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/examples/utilities/components.ts
  src/layouts/Titled/components/TOC.tsx
  src/pages/components/theme-object.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Update theme-provider page and examples for v9
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/pages/components/theme-provider.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Upgrade to react-components v9.0.0-next.24
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix theme targeting example
  src/examples/theme-provider/ThemeProviderTargeting.tsx
Due: stylelint, eslint, prettier --write

feat: add theme switch mechanism
  eslint.config.mjs
  src/components/Provider.tsx
  src/components/useColorScheme.ts
  src/components/useColorSchemeContext.ts
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

feat(components): update `theming` to v9 (#641)
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/examples/utilities/components.ts
  src/layouts/Titled/components/TOC.tsx
  src/pages/components/theme-object.mdx
  src/pages/components/theme-provider.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

Mobile theme switcher + straightforward dark mode color tweaks
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeBlock.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint, prettier --write

Fix for missing `localStorage` and `matchMedia` globals in SSR build
  src/components/Provider.tsx
  src/components/useColorScheme.ts
Due: stylelint, eslint, prettier --write

Improve structure
  src/components/useColorScheme.ts
Due: stylelint, eslint, prettier --write

Fix color scheme for SSR builds
  package-lock.json
  package.json
  src/components/Provider.tsx
  src/components/useColorScheme.ts
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Fill out nested multiselect example
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write

Reset options on listbox collapse
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write

Remove "indeterminate" next option icon
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write

Update to v9.0.0-next.25
  package-lock.json
  package.json
Due: prettier-package-json --write

Pull color adaptations from #642
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeBlock.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/layouts/Root/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint, prettier --write

Fix link styling and functionality
  gatsby-config.ts
  package-lock.json
  package.json
  src/components/Provider.tsx
  src/layouts/Home/components/HomeLink.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Improve example for dark mode
  src/components/Provider.tsx
  src/examples/combobox/Media.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint, prettier --write

Fix TOC `isCurrent` border treatment
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint, prettier --write

fix: dark mode color styling (#645)
  gatsby-config.ts
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeBlock.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/examples/combobox/Media.tsx
  src/layouts/Home/components/HomeLink.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Root/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Remove unnessesary `css` call
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Fix controlled `inputValue`
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write

feat(combobox): add nested multiselect example (#644)
  package-lock.json
  package.json
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
  src/pages/components/combobox.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

feat(combobox): add nested multiselect example (#644)
  package-lock.json
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
  src/pages/components/combobox.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Update nested examples for v9
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
Due: stylelint, eslint, prettier --write

Add color mode pre body script
  gatsby-ssr.js
  utils/color-mode.js
Due: stylelint, eslint, prettier --write

fix: use moon/sun icons for code example dark/light mode toggle
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Fix vertical collapse `Pane` example
  src/examples/pane/PaneVerticalCollapse.tsx
Due: stylelint, eslint, prettier --write

Add sun/moon icons
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

Upgrade to v9.0.0-next.26
  package-lock.json
  package.json
Due: prettier-package-json --write

fix: use moon/sun icons for code example dark/light mode toggle (#646)
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update package lock
  package-lock.json
Due: none

Switch to controlled to keep state in sync with current color scheme
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

Sync color scheme with local storage
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/Provider.tsx
  src/components/useColorScheme.ts
  utils/color-mode.js
  utils/color-scheme.js
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Fix menu icons
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

Bulletproof initial color mode selection
  src/layouts/Root/components/Header.tsx
  utils/color-scheme.js
Due: stylelint, eslint, prettier --write

Bulletproof initial color mode selection
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

Consolidate `useColorScheme` logic and prevent light/dark render flash
  src/components/Provider.tsx
  src/components/useColorScheme.ts
Due: stylelint, eslint, prettier --write

feat(combobox): add nested multiselect example (#647)
  src/examples/combobox/Nested.tsx
  src/examples/combobox/NestedMultiselect.tsx
  src/pages/components/combobox.mdx
Due: stylelint, eslint, prettier --write, markdownlint

deps: install @zendeskgarden/codemods for demo
  package-lock.json
  package.json
  zendeskgarden-codemods-9.0.0-next.26.tgz
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
