Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: remove new tag frmo Combobox + Menu
  content/nav/components.yml
Due: none

chore: clean up
  package-lock.json
  package.json
  src/examples/menu/Nested.tsx
  src/examples/tooltip/TooltipPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Review #598 - remove `getColorV8` utility docs
  src/examples/utilities/components.ts
  src/pages/components/palette.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: copy edits :sparkle:
  src/pages/components/combobox.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

chore: remove fragments
  gatsby-config.ts
  src/fragments/dropdowns-filtering-notes.mdx
  src/fragments/dropdowns.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

style: disable sibling headings with duplicated names
  .markdownlintrc
Due: none

feat(components): update tooltips to v9
  package-lock.json
  package.json
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat(components): update tooltips to v9 (#612)
  package-lock.json
  package.json
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix(components): add subcomponent property syntax to Tooltip configuration
  src/pages/components/tooltip.mdx
Due: prettier --write, markdownlint

chore: subcomponents use h4
  src/pages/components/tooltip.mdx
Due: prettier --write, markdownlint

feat(components): update typography to v9
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: updates to Grid subcomponent properties
  src/examples/typography/code-block/Numbered.tsx
  src/examples/typography/code/Color.tsx
  src/examples/typography/code/Default.tsx
  src/examples/typography/code/Size.tsx
  src/examples/typography/lists/Default.tsx
  src/examples/typography/lists/Nesting.tsx
  src/examples/typography/paragraph/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor(layouts): migrate to namespaced Grid components
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor(components): migrate to namespaced table components
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

deps: bump react-dropdowns to v9
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor(combobox): migrated to nested component APIs
  src/examples/combobox/Autocomplete.tsx
  src/examples/combobox/Default.tsx
  src/examples/combobox/Disabled.tsx
  src/examples/combobox/Grouped.tsx
  src/examples/combobox/Hidden.tsx
  src/examples/combobox/Hint.tsx
  src/examples/combobox/Media.tsx
  src/examples/combobox/Multiselect.tsx
  src/examples/combobox/MultiselectTags.tsx
  src/examples/combobox/Nested.tsx
  src/examples/combobox/Search.tsx
  src/examples/combobox/SelectOnly.tsx
  src/examples/combobox/Size.tsx
  src/examples/combobox/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor(menu): migrated to nested component APIs
  src/examples/menu/Arrow.tsx
  src/examples/menu/Button.tsx
  src/examples/menu/Danger.tsx
  src/examples/menu/Default.tsx
  src/examples/menu/Disabled.tsx
  src/examples/menu/GroupedItems.tsx
  src/examples/menu/Media.tsx
  src/examples/menu/Meta.tsx
  src/examples/menu/Nested.tsx
  src/examples/menu/Placement.tsx
  src/examples/menu/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: update import statements
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/table/TableOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(CodeSandbox params): correct react-dropdowns deps
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor(combobox): use new `legend` api
  src/examples/combobox/Grouped.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(combobox): use field subcomponent properties
  src/pages/components/combobox.mdx
Due: prettier --write, markdownlint

chore: remove range version on tooltip dependency
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: adds forwardRef to API examples
  src/pages/components/combobox.mdx
Due: prettier --write, markdownlint

Sweep #599
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Component.tsx
  src/components/SEO.tsx
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/examples/chrome/GlobalAlert.tsx
  src/examples/color-picker/ColorpickerDefault.tsx
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/examples/color-picker/ColorpickerOpaque.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
  src/examples/combobox/Media.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/draggable/DraggableContent.tsx
  src/examples/loaders/dots/DotsColor.tsx
  src/examples/loaders/inline/InlineColor.tsx
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/skeleton/SkeletonLight.tsx
  src/examples/loaders/spinner/SpinnerColor.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Sweep #601 & #602
  src/components/MarkdownProvider/components/Alert.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
  src/pages/components/color-picker.mdx
  src/pages/components/date-picker.mdx
  src/pages/components/drawer.mdx
  src/pages/components/pagination.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Sweep #604
  src/examples/anchor/AnchorWithoutUnderline.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix naming
  src/examples/color-picker/ColorPickerDefault.tsx
  src/examples/color-picker/ColorPickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorPickerDialogDefault.tsx
  src/examples/color-picker/ColorPickerDialogFormInput.tsx
  src/examples/color-picker/ColorPickerOpaque.tsx
  src/examples/date-picker/DatePickerCustom.tsx
  src/examples/date-picker/DatePickerDefault.tsx
  src/examples/date-picker/DatePickerLocalization.tsx
  src/examples/date-picker/DatePickerRange.tsx
  src/examples/date-picker/DatePickerSize.tsx
  src/examples/date-picker/DatePickerTimeWindow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update SVG search to use new colors
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(components): update `dropdowns` to v9 (#616)
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/examples/combobox/Autocomplete.tsx
  src/examples/combobox/Default.tsx
  src/examples/combobox/Disabled.tsx
  src/examples/combobox/Grouped.tsx
  src/examples/combobox/Hidden.tsx
  src/examples/combobox/Hint.tsx
  src/examples/combobox/Media.tsx
  src/examples/combobox/Multiselect.tsx
  src/examples/combobox/MultiselectTags.tsx
  src/examples/combobox/Nested.tsx
  src/examples/combobox/Search.tsx
  src/examples/combobox/SelectOnly.tsx
  src/examples/combobox/Size.tsx
  src/examples/combobox/Validation.tsx
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/menu/Arrow.tsx
  src/examples/menu/Button.tsx
  src/examples/menu/Danger.tsx
  src/examples/menu/Default.tsx
  src/examples/menu/Disabled.tsx
  src/examples/menu/GroupedItems.tsx
  src/examples/menu/Media.tsx
  src/examples/menu/Meta.tsx
  src/examples/menu/Nested.tsx
  src/examples/menu/Placement.tsx
  src/examples/menu/Size.tsx
  src/examples/table/TableOverflow.tsx
  src/pages/components/combobox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

refactor(components, layouts): migrate to `Table` and `Grid` subcomponents properties (#615)
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add eslint deprecation plugin
  eslint.config.mjs
  package-lock.json
  package.json
  plugins/gatsby-source-garden-content/gatsby-node.ts
  plugins/gatsby-source-garden-content/utils.ts
  src/components/Layout.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/examples/color-picker/ColorPickerDialogFormInput.tsx
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/layouts/Root/components/SearchInput.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Titled/components/TOC.tsx
  utils/typings/styled.d.ts
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: adds forwardRef to menu API examples
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

chore: expands menu and combobox JSX API documentation (#606)
  src/pages/components/combobox.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

Use `eslint-config` version that includes deprecation check
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor(avatars): use grid subcomponents
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/examples/avatar/StatusIndicatorCaption.tsx
  src/examples/avatar/StatusIndicatorDefault.tsx
  src/examples/avatar/StatusIndicatorSize.tsx
  src/examples/avatar/StatusIndicatorType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
