Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Save pattern docs - minor typo fix
  src/pages/patterns/save.mdx
Due: prettier --write, markdownlint

feat(patterns): add Save pattern docs (#441)
  gatsby-config.js
  src/examples/button/ButtonPatternInteraction.tsx
  src/nav/patterns.yml
  src/pages/patterns/save.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: show pattern link on mobile
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: show pattern link on mobile (#445)
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: Add Copy pattern docs
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/copy.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(alerts): add type name to each Type demo's close button label
  src/examples/notifications/alerts/AlertType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(notifications): add type name to each Type demo's close button label
  src/examples/notifications/notifications/NotificationType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(notifications): add type name to each Type demo's close button label, for both Alerts & Notifications (#450)
  src/examples/notifications/alerts/AlertType.tsx
  src/examples/notifications/notifications/NotificationType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: Add Error pattern docs
  src/nav/patterns.yml
  src/pages/patterns/errors.mdx
Due: prettier --write, markdownlint

Remove undesired markdownlint-disable comments
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/save.mdx
Due: prettier --write, markdownlint

Restore markdownlint-disable comments
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/save.mdx
Due: prettier --write, markdownlint

feat(patterns): add Copy documentation (#449)
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/buttons.mdx
  src/pages/patterns/copy.mdx
  src/pages/patterns/save.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(components/notifications): add documentation for global alert
  package.json
  src/examples/notifications/global-alert/GlobalAlertDefault.tsx
  src/examples/notifications/global-alert/GlobalAlertTypes.tsx
  src/nav/components.yml
  src/pages/components/global-alert.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix: add text
  gatsby-config.js
  src/examples/notifications/global-alert/GlobalAlertTypes.tsx
  src/pages/components/global-alert.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: address feedback
  src/examples/notifications/global-alert/GlobalAlertDefault.tsx
  src/examples/notifications/global-alert/GlobalAlertTypes.tsx
  src/nav/components.yml
  src/pages/components/global-alert.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: add images
  gatsby-config.js
  src/pages/components/global-alert.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Added node IDs to gatsby config
  gatsby-config.js
  src/pages/patterns/errors.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: address feedback
  src/examples/notifications/global-alert/GlobalAlertTypes.tsx
  src/pages/components/global-alert.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: alert link
  src/pages/components/global-alert.mdx
Due: prettier --write, markdownlint

fix: restructure examples
  src/examples/notifications/global-alert/GlobalAlertDefault.tsx
  src/examples/notifications/global-alert/GlobalAlertTypes.tsx
  src/pages/components/global-alert.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: update copy
  src/pages/components/global-alert.mdx
Due: prettier --write, markdownlint

feat(components/notifications): add documentation for global alert (#446)
  gatsby-config.js
  package.json
  src/examples/notifications/global-alert/GlobalAlertDefault.tsx
  src/examples/notifications/global-alert/GlobalAlertTypes.tsx
  src/nav/components.yml
  src/pages/components/global-alert.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Buttoned up images & fixed formatting
  gatsby-config.js
  src/pages/patterns/errors.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(components/tables): refactor scroll example with sticky head
  src/examples/table/TableScroll.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Updated anchors & fixed headers
  src/pages/patterns/errors.mdx
Due: prettier --write, markdownlint

Update errors.mdx
  src/pages/patterns/errors.mdx
Due: prettier --write, markdownlint

Fix anchor target
  src/pages/patterns/errors.mdx
Due: prettier --write, markdownlint

feat(patterns): add Error documentation (#451)
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/errors.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: table styling
  src/examples/table/TableScroll.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: address feedback and merge styles to one component
  src/examples/table/TableScroll.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Initial commit
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/loaders.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Fixed dos and donts
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

fix: formatting
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

Fixed formatting and gatsby ids
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

Update loaders.mdx
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

Fix figma IDs AGAIN
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Fixed broken image reference
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

Fixed text formatting
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

Ran formatter
  src/pages/patterns/loaders.mdx
Due: prettier --write, markdownlint

chore(tables): update react components
  package.json
  src/examples/table/TableScroll.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
