Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

refactor: remove `focusVisibleRef`
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/Provider.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: replace paths to `theme.colors` with `getColor`
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: fix TS errors in examples
  src/examples/draggable/DropzoneDefault.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: upgrades react-components versions to latest
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: upgrade to `@zendeskgarden/react-theming@next` (#599)
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/Provider.tsx
  src/examples/draggable/DropzoneDefault.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: upgrades react-components versions to latest (#600)
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: updates core views to use v9 components
  content/nav/components.yml
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/Alert.tsx
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/examples/color-picker/ColorpickerDefault.tsx
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/examples/color-picker/ColorpickerOpaque.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDisabled.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHidden.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
  src/layouts/Titled/components/TOC.tsx
  src/pages/components/button-group.mdx
  src/pages/components/multi-thumb-range.mdx
  src/pages/components/range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: applies breaking colorpicker API changes for v9
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: updates core views to use v9 components (#601)
  content/nav/components.yml
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/Alert.tsx
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/examples/color-picker/ColorpickerDefault.tsx
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/examples/color-picker/ColorpickerOpaque.tsx
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDisabled.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHidden.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
  src/layouts/Titled/components/TOC.tsx
  src/pages/components/button-group.mdx
  src/pages/components/multi-thumb-range.mdx
  src/pages/components/range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: updates react-components.git submodule to v9
  src/pages/components/autocomplete.mdx
  src/pages/components/chrome.mdx
  src/pages/components/color-picker.mdx
  src/pages/components/combobox.mdx
  src/pages/components/date-picker.mdx
  src/pages/components/draggable.mdx
  src/pages/components/drawer.mdx
  src/pages/components/legacy-combobox.mdx
  src/pages/components/legacy-menu.mdx
  src/pages/components/legacy-select.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/pagination.mdx
Due: prettier --write, markdownlint

chore: removes underline from mobile table of contents
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: updates components submodule to v9 (#602)
  src/layouts/Titled/components/TOC.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/chrome.mdx
  src/pages/components/color-picker.mdx
  src/pages/components/combobox.mdx
  src/pages/components/date-picker.mdx
  src/pages/components/draggable.mdx
  src/pages/components/drawer.mdx
  src/pages/components/legacy-combobox.mdx
  src/pages/components/legacy-menu.mdx
  src/pages/components/legacy-select.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/pagination.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: set color offset to light mode default
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: improve ColorPickerDialog placement
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: point CodeSandbox deps to `next` tag
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: upgrade MardownProvider for `v9` (#603)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(components): adds v9 changes to buttons pages
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
  src/examples/button/ButtonDanger.tsx
  src/examples/button/ButtonDefault.tsx
  src/examples/button/ButtonDisabled.tsx
  src/examples/button/ButtonMedia.tsx
  src/examples/button/ButtonPatternInteraction.tsx
  src/examples/button/ButtonSizes.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/button/ButtonTypes.tsx
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/examples/button/ToggleButtonDefault.tsx
  src/examples/button/ToggleButtonDisabled.tsx
  src/examples/button/ToggleButtonSizes.tsx
  src/examples/button/ToggleButtonTypes.tsx
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: adds hidden underline example
  src/examples/anchor/AnchorWithoutUnderline.tsx
  src/pages/components/anchor.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

refactor(input-group button placement): temp import from `react-dropdowns.next`
  src/examples/forms/input-group/ButtonPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(components): update accordions to v9
  package-lock.json
  package.json
  src/examples/accordions/accordion/AccordionBare.tsx
  src/examples/accordions/accordion/AccordionDefault.tsx
  src/examples/accordions/accordion/AccordionExpandable.tsx
  src/examples/accordions/accordion/AccordionSize.tsx
  src/examples/accordions/stepper/StepperIcons.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: expands menu and combobox JSX API documentation
  src/pages/components/combobox.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

refactor: missed one
  src/examples/forms/inputs/Inline.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor: update loaders examples to v9
  src/examples/loaders/dots/DotsColor.tsx
  src/examples/loaders/dots/DotsDefault.tsx
  src/examples/loaders/dots/DotsSize.tsx
  src/examples/loaders/inline/InlineColor.tsx
  src/examples/loaders/inline/InlineDefault.tsx
  src/examples/loaders/inline/InlineSize.tsx
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/progress/ProgressDefault.tsx
  src/examples/loaders/progress/ProgressSize.tsx
  src/examples/loaders/skeleton/SkeletonDefault.tsx
  src/examples/loaders/skeleton/SkeletonLight.tsx
  src/examples/loaders/skeleton/SkeletonSize.tsx
  src/examples/loaders/spinner/SpinnerColor.tsx
  src/examples/loaders/spinner/SpinnerDefault.tsx
  src/examples/loaders/spinner/SpinnerSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

deps: bump loaders
  package-lock.json
  package.json
Due: prettier-package-json --write

deps: bump breadcrumbs
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: update breadcrumbs examples to v9
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: adds additional example for wrapped subcomponents
  src/pages/components/combobox.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

feat(components): update accordions to v9 (#605)
  package-lock.json
  package.json
  src/examples/accordions/accordion/AccordionBare.tsx
  src/examples/accordions/accordion/AccordionDefault.tsx
  src/examples/accordions/accordion/AccordionExpandable.tsx
  src/examples/accordions/accordion/AccordionSize.tsx
  src/examples/accordions/stepper/StepperIcons.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat(components): update buttons to v9 (#604)
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
  src/examples/anchor/AnchorWithoutUnderline.tsx
  src/examples/button/ButtonDanger.tsx
  src/examples/button/ButtonDefault.tsx
  src/examples/button/ButtonDisabled.tsx
  src/examples/button/ButtonMedia.tsx
  src/examples/button/ButtonPatternInteraction.tsx
  src/examples/button/ButtonSizes.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/button/ButtonTypes.tsx
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/examples/button/ToggleButtonDefault.tsx
  src/examples/button/ToggleButtonDisabled.tsx
  src/examples/button/ToggleButtonSizes.tsx
  src/examples/button/ToggleButtonTypes.tsx
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
  src/pages/components/anchor.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(components): update `breadcrumbs` to v9 (#609)
  package-lock.json
  package.json
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat(components): update `loaders` to v9 (#608)
  package-lock.json
  package.json
  src/examples/loaders/dots/DotsColor.tsx
  src/examples/loaders/dots/DotsDefault.tsx
  src/examples/loaders/dots/DotsSize.tsx
  src/examples/loaders/inline/InlineColor.tsx
  src/examples/loaders/inline/InlineDefault.tsx
  src/examples/loaders/inline/InlineSize.tsx
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/progress/ProgressDefault.tsx
  src/examples/loaders/progress/ProgressSize.tsx
  src/examples/loaders/skeleton/SkeletonDefault.tsx
  src/examples/loaders/skeleton/SkeletonLight.tsx
  src/examples/loaders/skeleton/SkeletonSize.tsx
  src/examples/loaders/spinner/SpinnerColor.tsx
  src/examples/loaders/spinner/SpinnerDefault.tsx
  src/examples/loaders/spinner/SpinnerSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

refactor: use Grid v9 subcomponents
  src/examples/dropdowns/autocomplete/Default.tsx
  src/examples/dropdowns/autocomplete/Hidden.tsx
  src/examples/dropdowns/autocomplete/Media.tsx
  src/examples/dropdowns/autocomplete/Size.tsx
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Danger.tsx
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Default.tsx
  src/examples/dropdowns/select/Disabled.tsx
  src/examples/dropdowns/select/Hidden.tsx
  src/examples/dropdowns/select/Hint.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/dropdowns/select/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

deps: bump to @zendeskgarden/react-dropdowns.legacy
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: point to @zendeskgarden/react-dropdowns.legacy
  src/examples/dropdowns/autocomplete/Default.tsx
  src/examples/dropdowns/autocomplete/Hidden.tsx
  src/examples/dropdowns/autocomplete/Media.tsx
  src/examples/dropdowns/autocomplete/Size.tsx
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Danger.tsx
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Hidden.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Default.tsx
  src/examples/dropdowns/select/Disabled.tsx
  src/examples/dropdowns/select/Hidden.tsx
  src/examples/dropdowns/select/Hint.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/dropdowns/select/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: clean up
  src/examples/menu/Nested.tsx
  src/examples/tooltip/TooltipPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: add deprecated tag to Dropdowns nav item
  content/nav/components.yml
Due: none

chore: remove react-dropdowns.legacy docs
  content/nav/components.yml
  src/examples/dropdowns/autocomplete/Default.tsx
  src/examples/dropdowns/autocomplete/Hidden.tsx
  src/examples/dropdowns/autocomplete/Media.tsx
  src/examples/dropdowns/autocomplete/Size.tsx
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Danger.tsx
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Hidden.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Default.tsx
  src/examples/dropdowns/select/Disabled.tsx
  src/examples/dropdowns/select/Hidden.tsx
  src/examples/dropdowns/select/Hint.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/dropdowns/select/Validation.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/legacy-combobox.mdx
  src/pages/components/legacy-menu.mdx
  src/pages/components/legacy-select.mdx
  src/pages/components/multiselect.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
