Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Fix col size
  src/examples/forms/radio/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add spacing for hint example
  src/examples/forms/radio/Hint.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: organize dropdown example files (#72)
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Button.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Select.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Default.tsx
  src/examples/dropdowns/select/Disabled.tsx
  src/examples/dropdowns/select/Hint.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/dropdowns/select/Validation.tsx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add checkbox component page
  src/examples/forms/checkbox/Default.tsx
  src/examples/forms/checkbox/Disabled.tsx
  src/examples/forms/checkbox/Hidden.tsx
  src/examples/forms/checkbox/Hint.tsx
  src/examples/forms/checkbox/Indeterminate.tsx
  src/examples/forms/checkbox/RegularWeightLabel.tsx
  src/examples/forms/checkbox/Validation.tsx
  src/pages/components/checkbox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Restore RTL functionality to code wrapper
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update github link to navigate to org
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(examples): restore RTL layout (#77)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Convert default example to demonstrate controlled usage
  src/examples/forms/checkbox/Default.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

adjust the odd cropping of the best practice image
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

upload examples
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/pages/components/icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Apply isRegular to indeterminate examples and rearrange
  src/examples/forms/checkbox/Indeterminate.tsx
  src/pages/components/checkbox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

love the implicit life
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add config
  src/pages/components/icon-button.mdx
Due: prettier --write, markdownlint

Add gatsby-plugin-google-gtag
  gatsby-config.js
  package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Track outbound links
  gatsby-config.js
  src/layouts/Root/components/StyledNavigationLink.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: add Google analytics (#80)
  gatsby-config.js
  package.json
  src/layouts/Root/components/StyledNavigationLink.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: update breadcrumb copy (#71)
  src/pages/components/anchor.mdx
  src/pages/components/breadcrumbs.mdx
  src/pages/components/button.mdx
  src/pages/components/inputs.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

feat: add toggle component page
  src/examples/forms/toggle/Default.tsx
  src/examples/forms/toggle/Disabled.tsx
  src/examples/forms/toggle/Hidden.tsx
  src/examples/forms/toggle/Hint.tsx
  src/examples/forms/toggle/RegularWeightLabel.tsx
  src/examples/forms/toggle/Validation.tsx
  src/pages/components/toggle.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update anchor.mdx
  src/pages/components/anchor.mdx
Due: prettier --write, markdownlint

update title
  src/pages/components/anchor.mdx
Due: prettier --write, markdownlint

initial commit
  src/components/MarkdownProvider/index.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

manual lint fix
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

fixes round 1
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

temp fix for markdown lint
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

live that implicit return life
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

revert link
  src/components/MarkdownProvider/index.tsx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Fix URL and spacing
  src/pages/components/checkbox.mdx
Due: prettier --write, markdownlint

update examples with jz dir
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Actually fix broken href
  src/pages/components/checkbox.mdx
Due: prettier --write, markdownlint

set explicit sizes in size example
  src/examples/button/SplitButtonSizes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix spacing issue
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

update examples to match
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

match other button examples
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

implicits
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

initial example setup
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
  src/pages/components/button-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update button.mdx
  src/pages/components/button.mdx
Due: prettier --write, markdownlint

chore: update anchor copy (#82)
  src/pages/components/anchor.mdx
Due: prettier --write, markdownlint

Increase markdown lint line length
  .markdownlintrc
  src/pages/components/checkbox.mdx
Due: prettier --write, markdownlint

layout updates
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fixes
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/pages/components/icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
