Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Update overflow example copy
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

Introduce Multiselect component page
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/dropdowns/MultiselectDefault.tsx
  src/examples/dropdowns/MultiselectOverflow.tsx
  src/examples/dropdowns/MultiselectSize.tsx
  src/nav/components.yml
  src/pages/components/multiselect.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Use grid, update copy for examples
  src/examples/dropdowns/MultiselectDefault.tsx
  src/examples/dropdowns/MultiselectOverflow.tsx
  src/examples/dropdowns/MultiselectSize.tsx
  src/pages/components/multiselect.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add Configuration section
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

Correctly order columns for size example
  src/examples/dropdowns/MultiselectSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update dependencies
  gatsby-config.js
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/images/home-banner.png
  src/images/home-components.jpg
  src/images/home-content.jpg
  src/images/home-design.jpg
  src/images/home-patterns.png
  src/layouts/Home/components/Foundation.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Strip copyright from displayed code
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Bump prettier from 80 to 100 printwidth
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update examples and copy
  src/examples/dropdowns/MultiselectDefault.tsx
  src/examples/dropdowns/MultiselectOverflow.tsx
  src/examples/dropdowns/MultiselectSize.tsx
  src/pages/components/multiselect.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Improve image scaling
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update Tag size for non-isCompact Multiselect
  src/examples/dropdowns/MultiselectDefault.tsx
  src/examples/dropdowns/MultiselectOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: add config section to select page
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

chore: add config section to select page (#60)
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

Update select.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

chore: update select prop sheets (#61)
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

feat: add multiselect component page (#54)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/dropdowns/MultiselectDefault.tsx
  src/examples/dropdowns/MultiselectOverflow.tsx
  src/examples/dropdowns/MultiselectSize.tsx
  src/nav/components.yml
  src/pages/components/multiselect.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

initial commit
  package.json
  src/examples/tabs/TabsDefault.tsx
  src/examples/tabs/TabsDisabled.tsx
  src/examples/tabs/TabsVertical.tsx
  src/images/components-tabs-horizontal-do.png
  src/images/components-tabs-horizontal-dont.png
  src/nav/components.yml
  src/pages/components/tabs.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fixes
  package-lock.json
  src/examples/tabs/TabsDefault.tsx
  src/examples/tabs/TabsDisabled.tsx
  src/examples/tabs/TabsVertical.tsx
  src/images/components-tabs-horizontal-do.png
  src/images/components-tabs-horizontal-dont.png
  src/pages/components/tabs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

rebase and fixes
  .circleci/config.yml
  package-lock.json
  src/examples/tabs/TabsDefault.tsx
  src/examples/tabs/TabsDisabled.tsx
  src/examples/tabs/TabsVertical.tsx
  src/images/components-tabs-horizontal-do.png
  src/images/components-tabs-horizontal-dont.png
  src/pages/components/tabs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update tabs.mdx
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

fix circle
  package.json
Due: prettier-package-json --write

Address styling comments from @allisonacs
  src/layouts/Titled/components/Subtitle.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add tabs page (#56)
  .circleci/config.yml
  package.json
  src/examples/tabs/TabsDefault.tsx
  src/examples/tabs/TabsDisabled.tsx
  src/examples/tabs/TabsVertical.tsx
  src/nav/components.yml
  src/pages/components/tabs.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update menu to use overflow-vertical icon
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix image scaling
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: design unification (#58)
  gatsby-config.js
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/button/ButtonDanger.tsx
  src/examples/button/ButtonSizes.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/button/ButtonTypes.tsx
  src/images/home-banner.png
  src/images/home-components.jpg
  src/images/home-content.jpg
  src/images/home-design.jpg
  src/images/home-patterns.png
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/Subtitle.tsx
  src/layouts/Titled/components/TOC.tsx
  src/layouts/Titled/index.tsx
  src/pages/content/basics.mdx
  src/templates/ComponentTemplate.tsx
  src/templates/ContentTemplate.tsx
  src/templates/DesignTemplate.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

initial commit
  src/layouts/Home/components/News.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/nav/components.yml
  src/nav/design.yml
  src/pages/components/autocomplete.mdx
  src/pages/components/button-group.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/menu.mdx
  src/pages/components/radio.mdx
  src/pages/components/range.mdx
  src/pages/components/split-button.mdx
  src/pages/components/text-input.mdx
  src/pages/components/toggle.mdx
  src/pages/components/typography.mdx
  src/pages/components/versions.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

format news add story
  content/news/news.yml
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add footer links
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

comment out search and patterns
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix overflow and grid links
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/nav/components.yml
Due: stylelint, eslint --max-warnings 0, prettier --write

hide mobile search icon temporarily
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

lint fixes
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

palette fix
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

rogue green fix
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

omit pattern section from homepage
  src/layouts/Home/components/News.tsx
  src/layouts/Home/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update multiselect prop sheet
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

color url update
  src/nav/design.yml
Due: none
