Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Add tags to overview links
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/layouts/Sidebar/components/NavItemTitle.tsx
  src/nav/components.yml
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add nav tags and page alerts (#506)
  src/components/MarkdownProvider/components/Alert.tsx
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/components/MarkdownProvider/index.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/components/NavItemTitle.tsx
  src/nav/components.yml
  src/pages/components/button-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Mark deprecated dropdowns
  src/components/MarkdownProvider/components/Alert.tsx
  src/nav/components.yml
  src/pages/components/autocomplete.mdx
  src/pages/components/legacy-combobox.mdx
  src/pages/components/legacy-select.mdx
  src/pages/components/multiselect.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

API example checkpoint
  src/examples/combobox/Default.tsx
  src/examples/combobox/SelectOnly.tsx
  src/nav/components.yml
  src/pages/components/combobox.mdx
  src/pages/components/legacy-select.mdx
  src/pages/components/radio.mdx
  src/pages/components/select.mdx
  src/pages/components/tiles.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Combobox examples checkpoint
  src/examples/combobox/Autocomplete.tsx
  src/examples/combobox/Default.tsx
  src/examples/combobox/Disabled.tsx
  src/examples/combobox/Hidden.tsx
  src/examples/combobox/Hint.tsx
  src/examples/combobox/Size.tsx
  src/examples/combobox/Validation.tsx
  src/pages/components/combobox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Upgrade to react-components 8.69.3
  package.json
  yarn.lock
Due: prettier-package-json --write

Fill out combobox examples
  src/examples/combobox/Default.tsx
  src/examples/combobox/Grouped.tsx
  src/examples/combobox/Media.tsx
  src/examples/combobox/Multiselect.tsx
  src/examples/combobox/MultiselectTags.tsx
  src/examples/combobox/Nested.tsx
  src/examples/combobox/Search.tsx
  src/examples/combobox/Size.tsx
  src/pages/components/combobox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(chrome): add GlobalAlert example
  src/examples/chrome/GlobalAlert.tsx
  src/pages/components/chrome.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add global alert cross link
  src/pages/components/chrome.mdx
Due: prettier --write, markdownlint

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write, markdownlint

Switch from useLayoutEffect to useResizeObserver
  src/examples/chrome/GlobalAlert.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(chrome): add GlobalAlert example (#509)
  .github/PULL_REQUEST_TEMPLATE.md
  src/examples/chrome/GlobalAlert.tsx
  src/pages/components/chrome.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Content updates from @diana-oum
  src/examples/combobox/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add select-native component page redirect
  gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Enhance examples
  src/examples/combobox/Media.tsx
  src/examples/combobox/MultiselectTags.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade eslint dependencies and fix linting errors
  .eslintrc.json
  package.json
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/layouts/Sidebar/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update stylelint dependencies and fix lint errors
  .stylelintrc
  package.json
  src/components/MarkdownProvider/components/Typography.tsx
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/examples/table/TableVirtualized.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Upgrade react-components v8.69.4
  package.json
  yarn.lock
Due: prettier-package-json --write

feat: new combobox component page (#508)
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/MarkdownProvider/components/Alert.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/combobox/Autocomplete.tsx
  src/examples/combobox/Default.tsx
  src/examples/combobox/Disabled.tsx
  src/examples/combobox/Grouped.tsx
  src/examples/combobox/Hidden.tsx
  src/examples/combobox/Hint.tsx
  src/examples/combobox/Media.tsx
  src/examples/combobox/Multiselect.tsx
  src/examples/combobox/MultiselectTags.tsx
  src/examples/combobox/Nested.tsx
  src/examples/combobox/Search.tsx
  src/examples/combobox/SelectOnly.tsx
  src/examples/combobox/Size.tsx
  src/examples/combobox/Validation.tsx
  src/nav/components.yml
  src/pages/components/autocomplete.mdx
  src/pages/components/combobox.mdx
  src/pages/components/legacy-combobox.mdx
  src/pages/components/legacy-select.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/radio.mdx
  src/pages/components/select-native.mdx
  src/pages/components/select.mdx
  src/pages/components/tiles.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Remove unknown svgo plugin
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: restore SVG `viewBox` attributes
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: restore SVG `viewBox` attributes (#513)
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(combobox): codesandbox debounce imports
  src/examples/combobox/Autocomplete.tsx
  src/examples/combobox/Multiselect.tsx
  src/examples/combobox/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(combobox): codesandbox debounce imports (#514)
  src/examples/combobox/Autocomplete.tsx
  src/examples/combobox/Multiselect.tsx
  src/examples/combobox/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Created filters page
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Added copy and images up to "Location and spacing" section
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Added all images to gatsby-config page
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Test commit
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Added everything up to the Multiple Selections section
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Added all Filters documentation content and updated Figma node IDs
  gatsby-config.js
  src/pages/patterns/filters.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Set codesandbox react to v17
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Fixed link to icon button
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Fixed link to media button
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Fixed links to external accessibility resources and reformatted list
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

Fixed error in Node ID for accessibility image
  gatsby-config.js
  src/nav/patterns.yml
Due: stylelint, eslint --max-warnings 0, prettier --write

Adjusting spacing between images
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint

chore(codesandbox): lock React to v17 (#516)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore(patterns): fixes filters pattern page resource links
  src/pages/patterns/filters.mdx
Due: prettier --write, markdownlint
