Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Fix split/button/input groups from llosing stack order to autolinked headers
  src/components/MarkdownProvider/components/Typography.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Override default gatsby-image max-width
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Move gatsby-plugin-image to dev dep
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove unnecessary CONSTRAINED
  src/layouts/Home/components/Patterns.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use FULL_WIDTH layout for hero image
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: prevent autolinked headers from stacking over group components (#268)
  package.json
  src/components/MarkdownProvider/components/Typography.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Remove unnecessary width
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add display block to best practice images
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update garden dependencies
  package.json
Due: prettier-package-json --write

Fix tag close example
  src/examples/tags/TagsClose.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write

Use neutral buttons and fix alphabetical ordering
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/forms/input-group/Disabled.tsx
  src/examples/forms/input-group/InputGroup.tsx
  src/examples/forms/input-group/Readonly.tsx
  src/examples/forms/input-group/Size.tsx
  src/pages/components/input-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Use fieldset for validation example
  src/examples/forms/radio/Validation.tsx
  src/pages/components/radio.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Example copy updates
  src/examples/forms/input-group/Disabled.tsx
  src/examples/forms/input-group/InputGroup.tsx
  src/examples/forms/input-group/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update Garden components to v8.37.0 (#270)
  package.json
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/forms/input-group/Disabled.tsx
  src/examples/forms/input-group/InputGroup.tsx
  src/examples/forms/input-group/Readonly.tsx
  src/examples/forms/input-group/Size.tsx
  src/examples/forms/radio/Validation.tsx
  src/examples/tags/TagsClose.tsx
  src/pages/components/input-group.mdx
  src/pages/components/radio.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update all non-major dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

Temp Revert TypeScript upgrade to prevent docgen error
  package.json
  yarn.lock
Due: prettier-package-json --write

run npx yarn-deduplicate
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v14
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/css-bedrock to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v20
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency dotenv to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency gatsby-plugin-sitemap to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency unist-util-visit to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency react-docgen-typescript to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency vfile to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix conversion of type VFile
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: create gatsby plugin to source images assets from figma
  gatsby-config.js
  package.json
  plugins/gatsby-source-figma/gatsby-node.js
  plugins/gatsby-source-figma/package.json
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update quality config and scale Figma images 2x
  gatsby-config.js
  plugins/gatsby-source-figma/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: update help center copy for content design
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

fix: update help center copy for content design (#284)
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

wip
  src/components/MarkdownProvider/components/Component.tsx
  src/nav/components.yml
  src/pages/components/timeline.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Use new Figma file
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: attribute Netlify on home footer
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/index.tsx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: attribute Netlify on home footer (#285)
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/index.tsx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Create explicit nodes; simplify plugin
  gatsby-config.js
  plugins/gatsby-source-figma/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write
