Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

docs:create fragment for implementation notes about filtering in dropdowns
  src/fragments/dropdowns-filtering-notes.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

docs:address remaining feedback
  src/fragments/dropdowns-filtering-notes.mdx
  src/fragments/dropdowns.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

docs:Add helpful notes - multiselect and select
  src/fragments/dropdowns.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

add note about Field wrapping for consistency
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

docs:Add helpful notes - menu
  src/fragments/dropdowns.mdx
  src/nav/components.yml
  src/pages/components/autocomplete.mdx
  src/pages/components/dropdowns.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

Address more feedback
  src/fragments/dropdowns-filtering-notes.mdx
  src/fragments/dropdowns.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

docs:make improvements, fix typos, address feedback
  src/fragments/dropdowns-filtering-notes.mdx
  src/fragments/dropdowns.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

fix typo and phrasing
  src/fragments/dropdowns.mdx
  src/pages/components/autocomplete.mdx
Due: prettier --write, markdownlint

docs:add accessibility notes
  src/pages/components/autocomplete.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

remove stale note
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

docs:Add helpful notes - autocomplete & dropdowns
  src/nav/components.yml
  src/pages/components/autocomplete.mdx
  src/pages/components/dropdowns.mdx
Due: prettier --write, markdownlint

Update inline code component in MarkdownProvider to render with light treatment
  src/components/MarkdownProvider/components/CodeBlock.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Address content feedback
  src/fragments/dropdowns-filtering-notes.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

Address more feedback
  src/fragments/dropdowns-filtering-notes.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

Follow content guidelines better
  src/pages/components/accordion.mdx
  src/pages/components/stepper.mdx
  src/pages/components/timeline.mdx
Due: prettier --write, markdownlint

Update example
  src/examples/typography/code-block/Diff.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Revert yarn.lock
  yarn.lock
Due: none

Fix compile; tweak example
  src/examples/typography/code-block/Diff.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write

Fill out file upload with FileList examples
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/forms/file-upload/components.ts
  src/pages/components/file-upload.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Enhance examples with file list content
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(codeblock): add source diff example (#313)
  package.json
  src/examples/typography/code-block/Diff.tsx
  src/pages/components/code-block.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(fileupload): add new `FileList` component documentation (#314)
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/forms/file-upload/components.ts
  src/pages/components/file-upload.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(api): add descriptions and notes to `Dropdown` components (#297)
  src/components/MarkdownProvider/components/CodeBlock.tsx
  src/fragments/dropdowns-filtering-notes.mdx
  src/fragments/dropdowns.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Address content feedback
  src/pages/components/accordion.mdx
  src/pages/components/stepper.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to Accordion components (#311)
  src/pages/components/accordion.mdx
  src/pages/components/stepper.mdx
  src/pages/components/timeline.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to components in Forms package
  src/pages/components/checkbox.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/input-group.mdx
  src/pages/components/input.mdx
  src/pages/components/multi-thumb-range.mdx
  src/pages/components/radio.mdx
  src/pages/components/range.mdx
  src/pages/components/textarea.mdx
  src/pages/components/toggle.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to Table
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to components in Forms package (#315)
  src/pages/components/checkbox.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/input-group.mdx
  src/pages/components/input.mdx
  src/pages/components/multi-thumb-range.mdx
  src/pages/components/radio.mdx
  src/pages/components/range.mdx
  src/pages/components/textarea.mdx
  src/pages/components/toggle.mdx
Due: prettier --write, markdownlint

fix JSX inline comment
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

Replace parseComponents with cmdDocgen script
  plugins/gatsby-source-react-packages/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove unused dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update @zendeskgarden/scripts
  package.json
  yarn.lock
Due: prettier-package-json --write

Incorporate feedback
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

chore: use enhanced `cmd-docgen` script for generated component documentation (#317)
  package.json
  plugins/gatsby-source-react-packages/gatsby-node.js
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Source images from Figma
  gatsby-config.js
  src/pages/patterns/buttons.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Prettier
  src/pages/patterns/index.mdx
Due: prettier --write, markdownlint

chore: update renovate configuration
  .github/renovate.json
Due: none

chore: update renovate configuration (#318)
  .github/renovate.json
Due: none

feat(colorpickers): add color swatch page
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
  src/nav/components.yml
  src/pages/components/color-swatch.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update page description
  src/pages/components/color-swatch.mdx
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
