Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

IA updates
  src/nav/components.yml
  src/nav/design.yml
  src/pages/components/icons/12.mdx
  src/pages/components/icons/16.mdx
  src/pages/components/icons/26.mdx
  src/pages/components/icons/installation.mdx
  src/pages/components/icons/wordmarks.mdx
  src/pages/design/icons.mdx
Due: prettier --write, markdownlint

feat: move all content to pages directory
  .markdownlintrc
  content/components/overview.mdx
  gatsby-config.js
  src/components/MarkdownProvider/index.tsx
  src/examples/button/ButtonDanger.tsx
  src/examples/button/ButtonSizes.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/button/ButtonTypes.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/nav/components.yml
  src/nav/content.yml
  src/pages/components/button.mdx
  src/pages/components/index.mdx
  src/pages/content/basics.mdx
  src/pages/content/grammar.mdx
  src/pages/content/index.mdx
  src/pages/content/numbers.mdx
  src/pages/content/punctuation.mdx
  src/pages/content/voice-and-tone.mdx
  src/pages/content/word-list.mdx
  src/pages/design.tsx
  src/pages/index.tsx
  src/templates/ComponentTemplate.tsx
  src/templates/ContentTemplate.tsx
  utils/typings/yml.d.ts
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add svg-icons plugin and doc pages
  gatsby-node.js
  package.json
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/package.json
  src/examples/design/icons/SvgSearch.tsx
  src/examples/design/icons/WordmarkLayout.tsx
  src/layouts/Titled/components/TOC.tsx
  src/nav/design.yml
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
  src/pages/design/icons/installation.mdx
  src/pages/design/icons/wordmarks.mdx
  src/pages/design/index.mdx
  src/templates/DesignTemplate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Address Henry comments
  src/examples/design/icons/SvgSearch.tsx
  src/templates/ComponentTemplate.tsx
  src/templates/ContentTemplate.tsx
  src/templates/DesignTemplate.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

updates
  src/examples/design/icons/SvgSearch.tsx
  src/layouts/Titled/components/TOC.tsx
  src/nav/design.yml
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
  src/pages/design/icons/installation.mdx
  src/pages/design/icons/wordmarks.mdx
  src/pages/design/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: update gatsby-source-abstract filter logic
  gatsby-config.js
  plugins/gatsby-source-abstract/gatsby-node.js
  src/pages/content/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: update gatsby-source-abstract filter logic (#30)
  gatsby-config.js
  plugins/gatsby-source-abstract/gatsby-node.js
  src/pages/content/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: initial icon IA updates/styling (#29)
  src/examples/design/icons/SvgSearch.tsx
  src/layouts/Titled/components/TOC.tsx
  src/nav/design.yml
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
  src/pages/design/icons/installation.mdx
  src/pages/design/icons/wordmarks.mdx
  src/pages/design/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

move button into group for ia
  src/nav/components.yml
  src/pages/components/buttons/button.mdx
Due: prettier --write, markdownlint

setup Anchor doc
  src/nav/components.yml
  src/pages/components/buttons/anchor.mdx
Due: prettier --write, markdownlint

add Breadcrumbs
  src/nav/components.yml
  src/pages/components/breadcrumbs.mdx
Due: prettier --write, markdownlint

setup Avatar
  src/nav/components.yml
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

Update deploy context
  .circleci/config.yml
Due: none

Improve deploy error handling
  package.json
  utils/deploy.js
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix: deploy context and error reporting (#32)
  .circleci/config.yml
  package.json
  utils/deploy.js
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Move env and validation to the top of the gatsby-config process
  gatsby-config.js
  plugins/gatsby-source-abstract/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: move token validation and dotenv to the top of gastby config (#33)
  gatsby-config.js
  plugins/gatsby-source-abstract/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add avatar component page
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/nav/components.yml
  src/pages/components/avatar.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Address feedback round 1
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Lists.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

noodles
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/layouts/MaxWidth.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/index.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

rebase fix
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

styling tweaks
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
  src/layouts/Titled/index.tsx
  src/pages/components/button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix
  src/components/MarkdownProvider/components/Typography.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: sort icons by name in ascending order
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
Due: prettier --write, markdownlint

fix: sort icons by name in ascending order (#37)
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
Due: prettier --write, markdownlint

Address feedback round 2
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Address feedback round 7
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Address feedback round 3
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Address feedback round 6
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Address feedback round 5
  package.json
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update BestPractice component
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Address feedback round 8
  src/examples/avatar/AvatarStatus.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Pair with Ross & Austin
  package.json
  plugins/gatsby-source-abstract/gatsby-node.js
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/pages/components/avatar.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write
