Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["stylelint", "eslint", "prettier --write"],
  "*.{md,mdx}": ["markdownlint", "prettier --write"],
  "**/package.json": ["prettier-package-json --write"]
}

chore(theming): replace `retrieveComponentStyles` with updated `componentStyles` documentation
  src/examples/utilities/components.ts
  src/pages/components/utilities.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Update `svg-icons` package
  package-lock.json
  package.json
  src/pages/components/utilities.mdx
Due: prettier --write, markdownlint, prettier-package-json --write

chore(theming): replace `retrieveComponentStyles` with updated `componentStyles` documentation (#676)
  package-lock.json
  package.json
  src/examples/utilities/components.ts
  src/pages/components/utilities.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

Update `react-components` to 9.5.0
  package-lock.json
  package.json
Due: prettier-package-json --write

Replace with `ColorSchemeProvider` component
  src/components/Provider.tsx
  src/components/useColorScheme.ts
  src/components/useColorSchemeContext.ts
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

Add new color scheme provider component page
  content/nav/components.yml
  src/components/Provider.tsx
  src/examples/color-scheme-provider/ColorSchemeProviderDefault.tsx
  src/pages/components/color-scheme-provider.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Upgrade to `react-components` 9.5.1
  package-lock.json
  package.json
Due: prettier-package-json --write

Improve doc
  src/pages/components/color-scheme-provider.mdx
Due: prettier --write, markdownlint

feat: replace `ColorSchemeProvider` and add the new page (#677)
  content/nav/components.yml
  package-lock.json
  package.json
  src/components/Provider.tsx
  src/components/useColorScheme.ts
  src/components/useColorSchemeContext.ts
  src/examples/color-scheme-provider/ColorSchemeProviderDefault.tsx
  src/layouts/Root/components/Header.tsx
  src/pages/components/color-scheme-provider.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore: update readme
  README.md
Due: prettier --write, markdownlint

chore: update to `react-components` v8.76.9
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: update to `react-components` v8.76.9 (#687)
  package-lock.json
  package.json
Due: prettier-package-json --write

fix(versions): v8 website link
  package-lock.json
  package.json
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint, prettier-package-json --write

fix(versions): v8 website link (#688)
  package-lock.json
  package.json
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint, prettier-package-json --write

fix(versions): links for legacy docs
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint

fix(versions): links for legacy docs (#689)
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint

chore: test with latest useMenuFix
  package-lock.json
  package.json
  zendeskgarden-react-dropdowns-9.5.6.tgz
Due: prettier-package-json --write

chore: disable tests
  package.json
Due: prettier-package-json --write

docs: update readme
  README.md
Due: prettier --write, markdownlint

update readme
  README.md
Due: prettier --write, markdownlint

Test PR
  test.txt
Due: none

fix: spelling
  src/pages/components/combobox.mdx
Due: prettier --write, markdownlint

fix: spelling (#695)
  src/pages/components/combobox.mdx
Due: prettier --write, markdownlint

chore: upgrade to `react-components` 9.10.1
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: upgrade to `react-components` 9.10.1 (#697)
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: remove deprecated `Chrome` component
  content/nav/components.yml
  content/nav/design.yml
  src/examples/avatar/AvatarShape.tsx
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/examples/chrome/GlobalAlert.tsx
  src/examples/sheet/SheetDefault.tsx
  src/examples/sheet/SheetFooters.tsx
  src/examples/sheet/SheetHeaders.tsx
  src/examples/sheet/SheetPlacement.tsx
  src/examples/sheet/SheetSize.tsx
  src/icons/garden.svg
  src/icons/wordmark-garden.svg
  src/layouts/Root/components/Header.tsx
  src/pages/components/chrome.mdx
  src/pages/components/sheet.mdx
  src/pages/design/icons/chrome-icons.mdx
Due: stylelint, eslint, prettier --write, markdownlint

Upgrade react-components to 9.11.2
  package-lock.json
  package.json
Due: prettier-package-json --write

Document new `Kbd` component
  content/nav/components.yml
  src/examples/typography/kbd/Default.tsx
  src/examples/typography/kbd/Size.tsx
  src/pages/components/kbd.mdx
Due: stylelint, eslint, prettier --write, markdownlint

chore: remove deprecated `Chrome` component and document `Kbd` component (#699)
  content/nav/components.yml
  content/nav/design.yml
  package-lock.json
  package.json
  src/examples/avatar/AvatarShape.tsx
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/examples/chrome/GlobalAlert.tsx
  src/examples/sheet/SheetDefault.tsx
  src/examples/sheet/SheetFooters.tsx
  src/examples/sheet/SheetHeaders.tsx
  src/examples/sheet/SheetPlacement.tsx
  src/examples/sheet/SheetSize.tsx
  src/examples/typography/kbd/Default.tsx
  src/examples/typography/kbd/Size.tsx
  src/icons/garden.svg
  src/icons/wordmark-garden.svg
  src/layouts/Root/components/Header.tsx
  src/pages/components/chrome.mdx
  src/pages/components/kbd.mdx
  src/pages/components/sheet.mdx
  src/pages/design/icons/chrome-icons.mdx
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore: bump Garden deps
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: update content to test cci
  src/pages/patterns/buttons.mdx
Due: prettier --write, markdownlint

ci: bump circleci/node orb
  .circleci/config.yml
Due: none

ci: set node to latest version of node@22.x.y
  .circleci/config.yml
Due: none

chore: coerce to string
  .circleci/config.yml
Due: none

ci: point to valid node tag
  .circleci/config.yml
Due: none

ci: lock node to 22 due to deps incompatibility with LTS/Node 24
  .circleci/config.yml
Due: none

chore: bump @zendeskgarden devDependencies
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: bump @zendeskgarden devDeps
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: bump Gatsby devDependencies
  package-lock.json
  package.json
Due: prettier-package-json --write
