Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Improve example heading
  src/pages/components/checkbox.mdx
Due: prettier --write, markdownlint

Fix for `react-docgen-typescript` v1.21.0 breaking change
  plugins/gatsby-source-react-packages/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: clean up some copy and anchor bugs (#251)
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/Configuration.tsx
  src/pages/components/checkbox.mdx
  src/pages/components/code.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add primary hue override to code examples
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix(a11y): ensure table of contents renders in correct DOM order
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Separate color state from hue
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(a11y): ensure table of contents renders in correct DOM order (#252)
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade to react-components v8.33.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Add palette icon button tooltip
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix color picker state
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Provide ability to restore the default theme primary hue
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add primary hue selector to code examples (#253)
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Replace CSS Bedrock link
  src/nav/components.yml
Due: none

chore: replace Bedrock CSS link (#254)
  src/nav/components.yml
Due: none

chore(deps): update dependency @zendeskgarden/eslint-config to v19
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency gatsby-node-helpers to v1
  package.json
  yarn.lock
Due: prettier-package-json --write

Migrate to new API
  plugins/gatsby-source-abstract/gatsby-node.js
  plugins/gatsby-source-news/gatsby-node.js
  plugins/gatsby-source-react-packages/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Resolve TypeError
  package.json
  yarn.lock
Due: prettier-package-json --write

Update react-components dependencies
  package.json
  src/examples/forms/inputs/Hidden.tsx
  src/pages/components/input.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Add hidden label examples
  src/examples/dropdowns/autocomplete/Hidden.tsx
  src/examples/dropdowns/multiselect/Hidden.tsx
  src/examples/dropdowns/select/Hidden.tsx
  src/examples/forms/checkbox/Hidden.tsx
  src/examples/forms/radio/Hidden.tsx
  src/examples/forms/range/RangeHidden.tsx
  src/examples/forms/textarea/Hidden.tsx
  src/examples/forms/toggle/Hidden.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/range.mdx
  src/pages/components/select.mdx
  src/pages/components/textarea.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add hidden example to multi-thumb range component
  src/examples/forms/multithumbrange/MultiThumbRangeHidden.tsx
  src/pages/components/multi-thumb-range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(forms, dropdowns): add hidden label examples to component pages (#255)
  package.json
  src/examples/dropdowns/autocomplete/Hidden.tsx
  src/examples/dropdowns/multiselect/Hidden.tsx
  src/examples/dropdowns/select/Hidden.tsx
  src/examples/forms/checkbox/Hidden.tsx
  src/examples/forms/inputs/Hidden.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHidden.tsx
  src/examples/forms/radio/Hidden.tsx
  src/examples/forms/range/RangeHidden.tsx
  src/examples/forms/textarea/Hidden.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/input.mdx
  src/pages/components/multi-thumb-range.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/range.mdx
  src/pages/components/select.mdx
  src/pages/components/textarea.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Add ToastProvider prop sheet
  src/pages/components/notifications.mdx
Due: prettier --write, markdownlint

feat: add Toast documentation
  src/examples/notifications/toasts/Toast.tsx
  src/pages/components/notifications.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add google search console site verification file
  static/google24fd052fab97d4cf.html
Due: none

chore: add Google Search Console verification (#258)
  static/google24fd052fab97d4cf.html
Due: none

Update copy
  src/examples/notifications/notifications/NotificationDefault.tsx
  src/examples/notifications/notifications/NotificationType.tsx
  src/pages/components/alerts.mdx
  src/pages/components/notifications.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Shift to placement-based example
  src/examples/notifications/notifications/NotificationPlacement.tsx
  src/examples/notifications/toasts/Toast.tsx
  src/pages/components/notifications.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add copy code notification
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  utils/gatsby-theme.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Rename Datepicker to Date picker
  src/examples/date-picker/DatepickerCustom.tsx
  src/examples/date-picker/DatepickerDefault.tsx
  src/examples/date-picker/DatepickerLocalization.tsx
  src/examples/date-picker/DatepickerRange.tsx
  src/examples/date-picker/DatepickerSize.tsx
  src/examples/date-picker/DatepickerTimeWindow.tsx
  src/nav/components.yml
  src/pages/components/date-picker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Copy update
  src/pages/components/date-picker.mdx
Due: prettier --write, markdownlint

Positioning and style updates
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  utils/gatsby-theme.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: rename date picker (#259)
  src/examples/date-picker/DatepickerCustom.tsx
  src/examples/date-picker/DatepickerDefault.tsx
  src/examples/date-picker/DatepickerLocalization.tsx
  src/examples/date-picker/DatepickerRange.tsx
  src/examples/date-picker/DatepickerSize.tsx
  src/examples/date-picker/DatepickerTimeWindow.tsx
  src/nav/components.yml
  src/pages/components/date-picker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add notification placement toast documentation (#256)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/examples/notifications/notifications/NotificationDefault.tsx
  src/examples/notifications/notifications/NotificationPlacement.tsx
  src/examples/notifications/notifications/NotificationType.tsx
  src/pages/components/alerts.mdx
  src/pages/components/notifications.mdx
  utils/gatsby-theme.js
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add colorpicker docs
  src/examples/colorpickers/ColorpickerDefault.tsx
  src/examples/colorpickers/ColorpickerDialogDefault.tsx
  src/nav/components.yml
  src/pages/components/colorpickers.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update copy
  src/pages/components/colorpickers.mdx
Due: prettier --write, markdownlint

Update example color & add custom trigger example
  src/examples/colorpickers/ColorpickerDefault.tsx
  src/examples/colorpickers/ColorpickerDialogCustomTrigger.tsx
  src/examples/colorpickers/ColorpickerDialogDefault.tsx
  src/examples/colorpickers/ColorpickerDialogFormInput.tsx
  src/pages/components/colorpickers.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
