Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Switch star with leaf icons
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove rogue period
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

Use theme radii & eliminate whitespace between border edge
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(buttons): add ToggleButton and ToggleIconButton component pages (#191)
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/button/IconButtonDisabled.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/examples/button/ToggleButtonDefault.tsx
  src/examples/button/ToggleButtonDisabled.tsx
  src/examples/button/ToggleButtonSizes.tsx
  src/examples/button/ToggleButtonTypes.tsx
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonDisabled.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
  src/nav/components.yml
  src/pages/components/icon-button.mdx
  src/pages/components/toggle-button.mdx
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: allow overflow in code example (#193)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

No rogue capital letter left behind
  src/pages/components/tooltip-modal.mdx
Due: prettier --write, markdownlint

fix(tooltip-modal): correct capitalization (#194)
  src/pages/components/tooltip-modal.mdx
Due: prettier --write, markdownlint

Spruce up codesandbox index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Add isTheming prop
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add support for DEFAULT_THEME default
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Initial Theme provider component page
  src/nav/components.yml
  src/pages/components/theme-provider.mdx
Due: prettier --write, markdownlint

feat(content): add empty state to period standard
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

Initial theming utilities component page
  src/nav/components.yml
  src/pages/components/utilities.mdx
Due: prettier --write, markdownlint

feat(content): add empty state to period standard (#195)
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

omit the missing example copy
  src/pages/design/icons/installation.mdx
Due: prettier --write, markdownlint

update tense
  src/pages/content/grammar.mdx
Due: prettier --write, markdownlint

fix(content): update tense example (#197)
  src/pages/content/grammar.mdx
Due: prettier --write, markdownlint

fix(icons): remove example reference (#196)
  src/pages/design/icons/installation.mdx
Due: prettier --write, markdownlint

feat: add InputGroups docs
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/forms/input-group/Disabled.tsx
  src/examples/forms/input-group/InputGroup.tsx
  src/examples/forms/input-group/Readonly.tsx
  src/examples/forms/input-group/Size.tsx
  src/nav/components.yml
  src/pages/components/input-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add code-block component page
  src/examples/typography/code-block/Default.tsx
  src/examples/typography/code-block/Language.tsx
  src/examples/typography/code-block/Light.tsx
  src/examples/typography/code-block/Numbered.tsx
  src/examples/typography/code-block/Size.tsx
  src/nav/components.yml
  src/pages/components/code-block.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Tweak PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write, markdownlint

Copy update
  src/pages/components/code-block.mdx
Due: prettier --write, markdownlint

@allisonacs copy updates
  src/pages/components/code-block.mdx
Due: prettier --write, markdownlint

@steue copy update
  src/pages/components/code-block.mdx
Due: prettier --write, markdownlint

Address capitalization comments
  src/examples/forms/input-group/Size.tsx
  src/pages/components/input-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update garden components
  package.json
  yarn.lock
Due: prettier-package-json --write

Update codesandbox dependency
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add Table drag-drop and virtualization examples
  package.json
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableVirtualized.tsx
  src/pages/components/table.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(typography): add code-block component page (#199)
  .github/PULL_REQUEST_TEMPLATE.md
  src/examples/typography/code-block/Default.tsx
  src/examples/typography/code-block/Language.tsx
  src/examples/typography/code-block/Light.tsx
  src/examples/typography/code-block/Numbered.tsx
  src/examples/typography/code-block/Size.tsx
  src/nav/components.yml
  src/pages/components/code-block.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Address Jonathan comments
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableVirtualized.tsx
  src/pages/components/table.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add fruit data
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update new descriptions based off of Allison comment
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

Add fruit data to virtualization example
  src/examples/table/TableVirtualized.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update Garden components (#200)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update all copy and examples
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/forms/input-group/Disabled.tsx
  src/examples/forms/input-group/InputGroup.tsx
  src/examples/forms/input-group/Readonly.tsx
  src/examples/forms/input-group/Size.tsx
  src/pages/components/input-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add table drag-drop and virtualization examples (#201)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableDraggable.tsx
  src/examples/table/TableVirtualized.tsx
  src/pages/components/table.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Migrate span to button end-icon
  src/examples/forms/input-group/ButtonPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Adding punctuation symbols to headings
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

feat: add InputGroup documentation (#198)
  src/examples/forms/input-group/ButtonPlacement.tsx
  src/examples/forms/input-group/Disabled.tsx
  src/examples/forms/input-group/InputGroup.tsx
  src/examples/forms/input-group/Readonly.tsx
  src/examples/forms/input-group/Size.tsx
  src/nav/components.yml
  src/pages/components/input-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
