Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

docs: update 'to make changes' section
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

docs: Remove repeated "Create" section
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

docs: Add italics to Edit within Manage guidance
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

docs: added jump link to Delete in Manage guidance
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

revert(deps-dev): bump gatsby-plugin-mdx from 2.14.0 to 2.14.1 (#397) (#399)
  package.json
  yarn.lock
Due: prettier-package-json --write

docs: Updated content on "Actionable language" page (#402)
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

docs: Add Pane/Splitter docs (no examples)
  src/nav/components.yml
  src/pages/components/pane.mdx
Due: prettier --write, markdownlint

docs: Add examples (WIP)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/pane/IconButtonPosition.tsx
  src/examples/pane/PaneGrid.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/pages/components/pane.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update react components
  package.json
  yarn.lock
Due: prettier-package-json --write

Add API info
  src/pages/components/pane.mdx
Due: prettier --write, markdownlint

fix(examples): improve with more accessible examples
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update examples to use getColor() instead of PALETTE object
  src/examples/pane/IconButtonPosition.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use getColor instead of PALETTE object
  src/examples/pane/PaneVerticalCollapse.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add headings to Splitter button positions example
  src/examples/pane/IconButtonPosition.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update descriptions based on feedback
  src/pages/components/pane.mdx
Due: prettier --write, markdownlint

docs(tooltips): add variation to buttons in example
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Rename example for consistency
  src/examples/pane/SplitterButtonPosition.tsx
  src/pages/components/pane.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

add oxford comma
  src/pages/components/pane.mdx
Due: prettier --write, markdownlint

feat(grid): add pane component page (#416)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/pane/PaneGrid.tsx
  src/examples/pane/PaneHorizontal.tsx
  src/examples/pane/PaneHorizontalCollapse.tsx
  src/examples/pane/PaneVertical.tsx
  src/examples/pane/PaneVerticalCollapse.tsx
  src/examples/pane/SplitterButtonPosition.tsx
  src/nav/components.yml
  src/pages/components/pane.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix(examples): improve with more accessible examples (#417)
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: Add rich-text editor pattern docs
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/rich-text-editor.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

docs: Add feedback section at the bottom
  src/pages/patterns/rich-text-editor.mdx
Due: prettier --write, markdownlint

docs: Add new line
  src/nav/patterns.yml
Due: none

Update patterns.yml
  src/nav/patterns.yml
Due: none

docs: Fix alphabetical order of pattern listing
  src/nav/patterns.yml
Due: none

Update rich-text-editor.mdx
  src/pages/patterns/rich-text-editor.mdx
Due: prettier --write, markdownlint

feat(patterns): add rich-text editor docs (#419)
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/rich-text-editor.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: update component packages
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(react-components): update to v8.55.0 (#422)
  package.json
  yarn.lock
Due: prettier-package-json --write

docs: Add Buttons pattern docs
  gatsby-config.js
  src/examples/button/ButtonPatternInteraction.tsx
  src/nav/patterns.yml
  src/pages/patterns/buttons.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(components): update table draggable example to be more a11y friendly
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(components): update table draggable example to be more a11y friendly (#424)
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: Minor copy amendments
  src/pages/patterns/buttons.mdx
Due: prettier --write, markdownlint

feat(patterns): add Buttons docs (#423)
  gatsby-config.js
  src/examples/button/ButtonPatternInteraction.tsx
  src/nav/patterns.yml
  src/pages/patterns/buttons.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(components): correct table draggable icon handle color
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: Add Status Indicator component docs
  src/examples/avatar/StatusIndicatorDefault.tsx
  src/nav/components.yml
  src/pages/components/status-indicator.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Upgrade to react-components 8.57.0
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(component page): Add Status indicator docs
  src/examples/avatar/StatusIndicatorCaption.tsx
  src/examples/avatar/StatusIndicatorSize.tsx
  src/examples/avatar/StatusIndicatorType.tsx
  src/pages/components/status-indicator.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(component page): Minor changes
  src/examples/avatar/StatusIndicatorCaption.tsx
  src/examples/avatar/StatusIndicatorType.tsx
  src/pages/components/status-indicator.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
