Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

be gone useless cursor
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove tag
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

chore: update renovate schedule
  .github/renovate.json
Due: none

chore: update renovate schedule (#65)
  .github/renovate.json
Due: none

chore: update multiselect api sheets (#64)
  src/pages/components/multiselect.mdx
Due: prettier --write, markdownlint

chore: information architecture links (#59)
  content/news/news.yml
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Home/index.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/nav/components.yml
  src/nav/design.yml
  src/pages/components/autocomplete.mdx
  src/pages/components/button-group.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/menu.mdx
  src/pages/components/radio.mdx
  src/pages/components/range.mdx
  src/pages/components/split-button.mdx
  src/pages/components/text-input.mdx
  src/pages/components/toggle.mdx
  src/pages/components/typography.mdx
  src/pages/components/versions.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add menu component page
  src/examples/dropdowns/MenuArrow.tsx
  src/examples/dropdowns/MenuButton.tsx
  src/examples/dropdowns/MenuMeta.tsx
  src/examples/dropdowns/MenuNested.tsx
  src/examples/dropdowns/MenuPlacement.tsx
  src/examples/dropdowns/MenuSelect.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update placement example and copy
  src/examples/dropdowns/MenuPlacement.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Use correct value for nested item
  src/examples/dropdowns/MenuNested.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update size example
  src/examples/dropdowns/MenuSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update placement example to use bottom start
  src/examples/dropdowns/MenuPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add propsheets, examples, and update copy
  src/examples/dropdowns/MenuDisable.tsx
  src/examples/dropdowns/MenuMedia.tsx
  src/examples/dropdowns/MenuNested.tsx
  src/examples/dropdowns/MenuSize.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Refactor to use disabled wording
  src/examples/dropdowns/MenuDisabled.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add onSelect for size example
  src/examples/dropdowns/MenuSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Improve copy, use onSelect fo all menus, use menu for disabled example
  src/examples/dropdowns/MenuArrow.tsx
  src/examples/dropdowns/MenuButton.tsx
  src/examples/dropdowns/MenuDisabled.tsx
  src/examples/dropdowns/MenuMedia.tsx
  src/examples/dropdowns/MenuMeta.tsx
  src/examples/dropdowns/MenuNested.tsx
  src/examples/dropdowns/MenuPlacement.tsx
  src/examples/dropdowns/MenuSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove arrow
  src/examples/dropdowns/MenuDisabled.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use implicit return and override eslint no-alert
  .eslintrc.json
  src/examples/dropdowns/MenuArrow.tsx
  src/examples/dropdowns/MenuButton.tsx
  src/examples/dropdowns/MenuMedia.tsx
  src/examples/dropdowns/MenuMeta.tsx
  src/examples/dropdowns/MenuPlacement.tsx
  src/examples/dropdowns/MenuSize.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Clean up no-alert lint rule
  .eslintrc.json
  src/examples/dropdowns/MenuArrow.tsx
  src/examples/dropdowns/MenuButton.tsx
  src/examples/dropdowns/MenuMeta.tsx
  src/examples/dropdowns/MenuPlacement.tsx
  src/examples/dropdowns/MenuSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add menu component page (#55)
  .eslintrc.json
  src/examples/dropdowns/MenuArrow.tsx
  src/examples/dropdowns/MenuButton.tsx
  src/examples/dropdowns/MenuDisabled.tsx
  src/examples/dropdowns/MenuMedia.tsx
  src/examples/dropdowns/MenuMeta.tsx
  src/examples/dropdowns/MenuNested.tsx
  src/examples/dropdowns/MenuPlacement.tsx
  src/examples/dropdowns/MenuSelect.tsx
  src/examples/dropdowns/MenuSize.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectValidation.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update configuration styling
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Initial prop sheet styling refinement
  src/components/MarkdownProvider/components/PropSheets.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add text input component page
  src/examples/text-inputs/Bare.tsx
  src/examples/text-inputs/Disabled.tsx
  src/examples/text-inputs/FauxInput.tsx
  src/examples/text-inputs/FocusInset.tsx
  src/examples/text-inputs/Hint.tsx
  src/examples/text-inputs/Inline.tsx
  src/examples/text-inputs/Input.tsx
  src/examples/text-inputs/MediaInput.tsx
  src/examples/text-inputs/Placeholder.tsx
  src/examples/text-inputs/RegularWeightLabel.tsx
  src/examples/text-inputs/Size.tsx
  src/examples/text-inputs/Textarea.tsx
  src/examples/text-inputs/Validation.tsx
  src/pages/components/text-inputs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update copy to Item and update IA
  src/examples/inputs/Bare.tsx
  src/examples/inputs/Disabled.tsx
  src/examples/inputs/FauxInput.tsx
  src/examples/inputs/FocusInset.tsx
  src/examples/inputs/Hint.tsx
  src/examples/inputs/Inline.tsx
  src/examples/inputs/Input.tsx
  src/examples/inputs/MediaInput.tsx
  src/examples/inputs/Placeholder.tsx
  src/examples/inputs/RegularWeightLabel.tsx
  src/examples/inputs/Size.tsx
  src/examples/inputs/Textarea.tsx
  src/examples/inputs/Validation.tsx
  src/pages/components/inputs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

add missing propsheets
  src/pages/components/inputs.mdx
Due: prettier --write, markdownlint

knock out the property-no-unknown rule
  .stylelintrc
  src/examples/inputs/Inline.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove unnecessary aria recommendation
  src/pages/components/inputs.mdx
Due: prettier --write, markdownlint

update inline example copy
  src/pages/components/inputs.mdx
Due: prettier --write, markdownlint

Drop hint in size example & add content for FauxInput
  src/examples/inputs/FauxInput.tsx
  src/examples/inputs/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update placeholder copy
  src/examples/inputs/Bare.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update IA and copy
  src/pages/components/inputs.mdx
Due: prettier --write, markdownlint

Responsive resizing on the validation example
  src/examples/inputs/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

sync inputs to updated IA
  src/examples/forms/Bare.tsx
  src/examples/forms/Disabled.tsx
  src/examples/forms/FauxInput.tsx
  src/examples/forms/FocusInset.tsx
  src/examples/forms/Hint.tsx
  src/examples/forms/Inline.tsx
  src/examples/forms/Input.tsx
  src/examples/forms/MediaInput.tsx
  src/examples/forms/Placeholder.tsx
  src/examples/forms/RegularWeightLabel.tsx
  src/examples/forms/Size.tsx
  src/examples/forms/Textarea.tsx
  src/examples/forms/Validation.tsx
  src/nav/components.yml
  src/pages/components/inputs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Move input examples into folder
  src/examples/forms/inputs/Bare.tsx
  src/examples/forms/inputs/Disabled.tsx
  src/examples/forms/inputs/FauxInput.tsx
  src/examples/forms/inputs/FocusInset.tsx
  src/examples/forms/inputs/Hint.tsx
  src/examples/forms/inputs/Inline.tsx
  src/examples/forms/inputs/Input.tsx
  src/examples/forms/inputs/MediaInput.tsx
  src/examples/forms/inputs/Placeholder.tsx
  src/examples/forms/inputs/RegularWeightLabel.tsx
  src/examples/forms/inputs/Size.tsx
  src/examples/forms/inputs/Textarea.tsx
  src/examples/forms/inputs/Validation.tsx
  src/pages/components/inputs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Refine propsheet styling
  src/components/MarkdownProvider/components/PropSheets.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add new <Markdown> component
  package.json
  src/components/MarkdownProvider/components/Markdown.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/design/index.mdx
  utils/typings/remark-react.d.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Demonstrate usage
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/pages/design/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add reactComponents type
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/pages/index.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Add new PropSheet component
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/multiselect.mdx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Remove styles from Row, use Col sm
  src/examples/forms/inputs/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add individual prop sheets to component pages
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/pages/components/anchor.mdx
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
  src/pages/components/menu.mdx
  src/pages/components/select.mdx
  src/pages/components/tabs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
