Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

examples
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
  src/nav/components.yml
  src/pages/components/tooltip.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(loaders): add skeleton component (#161)
  src/examples/loaders/skeleton/SkeletonDefault.tsx
  src/examples/loaders/skeleton/SkeletonLight.tsx
  src/examples/loaders/skeleton/SkeletonSize.tsx
  src/nav/components.yml
  src/pages/components/skeleton.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(forms): add tiles component (#162)
  src/examples/forms/tiles/TilesDefault.tsx
  src/examples/forms/tiles/TilesDescription.tsx
  src/examples/forms/tiles/TilesDisabled.tsx
  src/examples/forms/tiles/TilesLayout.tsx
  src/nav/components.yml
  src/pages/components/tiles.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(accordions): add accordion component (#163)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/accordions/accordion/AccordionBare.tsx
  src/examples/accordions/accordion/AccordionDefault.tsx
  src/examples/accordions/accordion/AccordionExpandable.tsx
  src/examples/accordions/accordion/AccordionSize.tsx
  src/nav/components.yml
  src/pages/components/accordion.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

initial commit
  src/examples/grid/GridAllBreak.tsx
  src/examples/grid/GridColumnBreaks.tsx
  src/examples/grid/GridColumnWrapping.tsx
  src/examples/grid/GridEqual.tsx
  src/examples/grid/GridEqualMulti.tsx
  src/examples/grid/GridHorizontal.tsx
  src/examples/grid/GridNesting.tsx
  src/examples/grid/GridNoGutters.tsx
  src/examples/grid/GridOffset.tsx
  src/examples/grid/GridOneCol.tsx
  src/examples/grid/GridReordering.tsx
  src/examples/grid/GridStacked.tsx
  src/examples/grid/GridVariable.tsx
  src/examples/grid/GridVertical.tsx
  src/nav/components.yml
  src/pages/components/grid.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fixes
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
  src/pages/components/tooltip.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update prop sheet
  src/pages/components/tooltip.mdx
Due: prettier --write, markdownlint

feat: add tooltip component (#164)
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/tooltip/TooltipDefault.tsx
  src/examples/tooltip/TooltipPlacement.tsx
  src/examples/tooltip/TooltipSize.tsx
  src/examples/tooltip/TooltipType.tsx
  src/nav/components.yml
  src/pages/components/tooltip.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add grid component (#167)
  src/examples/grid/GridAllBreak.tsx
  src/examples/grid/GridColumnBreaks.tsx
  src/examples/grid/GridColumnWrapping.tsx
  src/examples/grid/GridEqual.tsx
  src/examples/grid/GridEqualMulti.tsx
  src/examples/grid/GridHorizontal.tsx
  src/examples/grid/GridNesting.tsx
  src/examples/grid/GridNoGutters.tsx
  src/examples/grid/GridOffset.tsx
  src/examples/grid/GridOneCol.tsx
  src/examples/grid/GridReordering.tsx
  src/examples/grid/GridStacked.tsx
  src/examples/grid/GridVariable.tsx
  src/examples/grid/GridVertical.tsx
  src/nav/components.yml
  src/pages/components/grid.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

updates
  src/examples/accordions/stepper/StepperDefault.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

content fixes
  src/examples/accordions/stepper/StepperDefault.tsx
  src/examples/accordions/stepper/StepperIcons.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor horizontal
  src/examples/accordions/stepper/StepperLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

initial commit
  src/examples/accordions/stepper/StepperDefault.tsx
  src/examples/accordions/stepper/StepperIcons.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
  src/nav/components.yml
  src/pages/components/stepper.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

review fixes
  src/examples/accordions/stepper/StepperDefault.tsx
  src/examples/accordions/stepper/StepperIcons.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix strings
  src/examples/accordions/stepper/StepperDefault.tsx
  src/examples/accordions/stepper/StepperIcons.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fixes
  package.json
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

update props
  src/pages/components/chrome.mdx
Due: prettier --write, markdownlint

initial commit
  package.json
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/nav/components.yml
  src/pages/components/chrome.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat: add chrome component (#168)
  package.json
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
  src/examples/chrome/ChromeStandaloneHeader.tsx
  src/nav/components.yml
  src/pages/components/chrome.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

version bump for build
  package.json
  yarn.lock
Due: prettier-package-json --write

initial commit
  package.json
  src/examples/pagination/CursorDefault.tsx
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/nav/components.yml
  src/pages/components/pagination.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

update content
  src/pages/components/pagination.mdx
Due: prettier --write, markdownlint

fixes
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade react-components dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fixes
  src/examples/pagination/CursorDefault.tsx
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/pages/components/pagination.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update string and import
  src/pages/components/pagination.mdx
Due: prettier --write, markdownlint

fixes
  src/examples/accordions/stepper/StepperDefault.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update content
  src/pages/components/stepper.mdx
Due: prettier --write, markdownlint

feat: add pagination component (#165)
  package.json
  src/examples/pagination/CursorDefault.tsx
  src/examples/pagination/OffsetDefault.tsx
  src/examples/pagination/OffsetGap.tsx
  src/examples/pagination/OffsetPadding.tsx
  src/nav/components.yml
  src/pages/components/pagination.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(accordions): add stepper component (#166)
  src/examples/accordions/stepper/StepperDefault.tsx
  src/examples/accordions/stepper/StepperIcons.tsx
  src/examples/accordions/stepper/StepperLayout.tsx
  src/nav/components.yml
  src/pages/components/stepper.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Upgrade react component dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Replace SyntaxHighlighter with CodeBlock
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeBlock.tsx
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: swap SyntaxHighlighter with Garden CodeBlock (#170)
  package.json
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeBlock.tsx
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

initial commit
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/datepicker/datepicker/DatepickerCustom.tsx
  src/examples/datepicker/datepicker/DatepickerDefault.tsx
  src/examples/datepicker/datepicker/DatepickerLocalization.tsx
  src/examples/datepicker/datepicker/DatepickerSize.tsx
  src/examples/datepicker/datepicker/DatepickerTimeWindow.tsx
  src/nav/components.yml
  src/pages/components/datepicker.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update package.json
  package.json
Due: prettier-package-json --write

Update yarn.lock
  yarn.lock
Due: none

updates
  src/examples/datepicker/DatepickerCustom.tsx
  src/examples/datepicker/DatepickerDefault.tsx
  src/examples/datepicker/DatepickerLocalization.tsx
  src/examples/datepicker/DatepickerRange.tsx
  src/examples/datepicker/DatepickerSize.tsx
  src/examples/datepicker/DatepickerTimeWindow.tsx
  src/nav/components.yml
  src/pages/components/datepicker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

updates
  src/examples/datepicker/DatepickerRange.tsx
  src/examples/datepicker/DatepickerSize.tsx
  src/pages/components/datepicker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

initial commit
  src/examples/notifications/alert/AlertDefault.tsx
  src/examples/notifications/alert/AlertType.tsx
  src/examples/notifications/notification/NotificationDefault.tsx
  src/examples/notifications/notification/NotificationType.tsx
  src/examples/notifications/well/WellDefault.tsx
  src/examples/notifications/well/WellFloating.tsx
  src/examples/notifications/well/WellMultiline.tsx
  src/examples/notifications/well/WellRecessed.tsx
  src/nav/components.yml
  src/pages/components/alert.mdx
  src/pages/components/notification.mdx
  src/pages/components/well.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
