Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

add date-fns
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

update lock
  yarn.lock
Due: none

feat: add datepicker component (#171)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/datepicker/DatepickerCustom.tsx
  src/examples/datepicker/DatepickerDefault.tsx
  src/examples/datepicker/DatepickerLocalization.tsx
  src/examples/datepicker/DatepickerRange.tsx
  src/examples/datepicker/DatepickerSize.tsx
  src/examples/datepicker/DatepickerTimeWindow.tsx
  src/nav/components.yml
  src/pages/components/datepicker.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

structure updates
  src/examples/notifications/alert/AlertDefault.tsx
  src/examples/notifications/alert/AlertType.tsx
  src/examples/notifications/notification/NotificationDefault.tsx
  src/examples/notifications/notification/NotificationType.tsx
  src/examples/notifications/well/WellDefault.tsx
  src/examples/notifications/well/WellFloating.tsx
  src/examples/notifications/well/WellMultiline.tsx
  src/examples/notifications/well/WellRecessed.tsx
  src/nav/components.yml
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: introduce TooltipModal component
  package.json
  src/examples/tooltip-modal/TooltipModalDefault.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
  src/nav/components.yml
  src/pages/components/tooltip-modal.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update dependencies to allow react-modals SSR
  package.json
  yarn.lock
Due: prettier-package-json --write

Update to match new docs
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
  src/pages/components/tooltip-modal.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

content updates
  src/examples/notifications/alerts/AlertDefault.tsx
  src/examples/notifications/alerts/AlertType.tsx
  src/examples/notifications/notifications/NotificationDefault.tsx
  src/examples/notifications/notifications/NotificationType.tsx
  src/nav/components.yml
  src/pages/components/alerts.mdx
  src/pages/components/notification.mdx
  src/pages/components/notifications.mdx
  src/pages/components/well.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update react-components to all Typescript to pass
  package.json
  yarn.lock
Due: prettier-package-json --write

Parse out `extends` component jsdoc tag
  package.json
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/Component.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/index.tsx
  src/templates/types.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update placement example ordering
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

commit
  src/pages/components/inline.mdx
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

chore: update links to new site (#175)
  src/pages/components/inline.mdx
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

Update to react-components v8.23.1
  package.json
  src/examples/forms/inputs/ReadOnly.tsx
  src/pages/components/input.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Address JZ comments and change sidebar position
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
  src/nav/components.yml
  src/pages/components/tooltip-modal.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update nav nesting
  src/nav/components.yml
Due: none

Update capitalization of sidebar
  src/nav/components.yml
Due: none

content fixes
  src/examples/notifications/alerts/AlertDefault.tsx
  src/examples/notifications/alerts/AlertType.tsx
  src/examples/notifications/notifications/NotificationDefault.tsx
  src/examples/notifications/notifications/NotificationType.tsx
  src/examples/notifications/well/WellDefault.tsx
  src/examples/notifications/well/WellFloating.tsx
  src/examples/notifications/well/WellMultiline.tsx
  src/examples/notifications/well/WellRecessed.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update content for UXCS
  src/pages/components/tooltip-modal.mdx
Due: prettier --write, markdownlint

Update to react-components v8.23.1 (#177)
  package.json
  src/examples/forms/inputs/ReadOnly.tsx
  src/pages/components/input.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(notifications): add notification, alert, well (#173)
  src/examples/notifications/alerts/AlertDefault.tsx
  src/examples/notifications/alerts/AlertType.tsx
  src/examples/notifications/notifications/NotificationDefault.tsx
  src/examples/notifications/notifications/NotificationType.tsx
  src/examples/notifications/well/WellDefault.tsx
  src/examples/notifications/well/WellFloating.tsx
  src/examples/notifications/well/WellMultiline.tsx
  src/examples/notifications/well/WellRecessed.tsx
  src/nav/components.yml
  src/pages/components/alerts.mdx
  src/pages/components/notifications.mdx
  src/pages/components/well.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: add react keys to overview links
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Add lodash.debounce
  package.json
  src/pages/components/input.mdx
  yarn.lock
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): update node orb to v4
  .circleci/config.yml
Due: none

chore(deps): update dependency @zendeskgarden/stylelint-config to v14
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency typescript to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): pin dependency lodash.debounce to 4.0.8
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: add react keys to overview links (#179)
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: configure "extends" extraction for component API docs (#176)
  package.json
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/Component.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/index.tsx
  src/templates/types.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Use typescript-eslint 4.0.1 until Gatsby supports latest
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore(deps): update typescript-eslint monorepo to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies to v4.3.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Update answer-bot brand colors
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

initial commit
  src/examples/forms/inputs/AutoExpand.tsx
  src/pages/components/input.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fixes
  src/examples/forms/inputs/AutoExpand.tsx
  src/examples/forms/inputs/Textarea.tsx
  src/pages/components/input.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix
  src/pages/components/input.mdx
Due: prettier --write, markdownlint

update
  src/examples/forms/inputs/AutoExpand.tsx
  src/examples/forms/inputs/DragHandles.tsx
  src/pages/components/input.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

refactor
  src/examples/forms/textarea/AutoExpand.tsx
  src/examples/forms/textarea/Default.tsx
  src/examples/forms/textarea/DragHandles.tsx
  src/nav/components.yml
  src/pages/components/input.mdx
  src/pages/components/textarea.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

initial commit
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/nav/components.yml
  src/pages/components/modal.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
