Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Use static svg for home pillar images
  src/images/home-pillars-components.svg
  src/images/home-pillars-content.svg
  src/images/home-pillars-design.svg
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update home hero logo
  gatsby-config.js
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Do not create node for static images
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Add figma token to envalid check
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Rename remoteImage -> childFile
  plugins/gatsby-source-figma/gatsby-node.js
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove unnecessary double cleanEnv call
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Revert using static SVGs and use original dynamic SVG with dominant color placeholder
  gatsby-config.js
  src/images/home-pillars-components.svg
  src/images/home-pillars-content.svg
  src/images/home-pillars-design.svg
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove StaticImage check from node creation
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Use default dominant color for placeholder
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

do not source home pillar images from Figma
  gatsby-config.js
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add comment for figma node id
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency husky to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

feat: create gatsby plugin to source images from figma (#283)
  gatsby-config.js
  package.json
  plugins/gatsby-source-figma/gatsby-node.js
  plugins/gatsby-source-figma/package.json
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix(tags): color example link to them palette
  src/pages/components/tags.mdx
Due: prettier --write, markdownlint

Add svg sprite to gatsby build
  gatsby-config.js
  package.json
  src/icons/components.svg
  src/icons/content.svg
  src/icons/design.svg
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Replace pillar images with SVG icons
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add SVG attributes
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(tags): color example link to theme palette (#290)
  src/pages/components/tags.mdx
Due: prettier --write, markdownlint

Add svg4everybody to fix SVG sprite use in IE11
  package.json
  src/pages/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Simplify with inlined SVGs
  gatsby-config.js
  package.json
  src/layouts/Home/components/Foundation.tsx
  src/pages/index.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Correct case
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: replace home pillar images with inline SVGs (#291)
  src/icons/components.svg
  src/icons/content.svg
  src/icons/design.svg
  src/layouts/Home/components/Foundation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update all non-major dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

Revert react-docgen-typescript
  package.json
  yarn.lock
Due: prettier-package-json --write

run yarn-deduplicate
  yarn.lock
Due: none

chore(deps): update dependency unist-util-visit to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update remark monorepo
  package.json
  yarn.lock
Due: prettier-package-json --write

Update remark import and remark-react usage
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Direct createElement import
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Run yarn-deduplicate
  yarn.lock
Due: none

chore(docs): Remove wordmarks from website
  src/examples/design/icons/WordmarkLayout.tsx
  src/nav/design.yml
  src/pages/design/icons/wordmarks.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(docs): Remove wordmarks from website (#293)
  src/examples/design/icons/WordmarkLayout.tsx
  src/nav/design.yml
  src/pages/design/icons/wordmarks.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Add opaque colorpicker example
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/examples/color-picker/ColorpickerOpaque.tsx
  src/pages/components/color-picker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(colorpicker): add "Opaque" example (#294)
  package.json
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/examples/color-picker/ColorpickerOpaque.tsx
  src/pages/components/color-picker.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(scripts): update deploy bandwidth check
  package.json
  utils/deploy.js
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Add `skipLibCheck` to address compile error
  tsconfig.json
Due: none

chore(scripts): enhance deploy with added bandwidth checking (#295)
  package.json
  tsconfig.json
  utils/deploy.js
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Charm++ in examples
  src/examples/accordions/timeline/TimelineAlternating.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
  src/examples/accordions/timeline/TimelineOppositeContent.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Address feedback on content, grammar, layout, cleaner code with StyledSpan
  src/examples/accordions/timeline/TimelineAlternating.tsx
  src/examples/accordions/timeline/TimelineCustomMedia.tsx
  src/examples/accordions/timeline/TimelineDefault.tsx
  src/examples/accordions/timeline/TimelineOppositeContent.tsx
  src/pages/components/timeline.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
