Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Use singular and natural language for title and id
  src/nav/components.yml
Due: none

Add color picker dialog form input
  src/examples/colorpickers/ColorpickerDialogFormInput.tsx
  src/pages/components/colorpickers.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Remove unused type
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update label and add line break
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use default theme for colors
  src/examples/color-picker/ColorpickerDefault.tsx
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/pages/components/color-picker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Fix icon color
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix typing for rgba function
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Align example using text align
  src/examples/color-picker/ColorpickerDialogDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update description for dialog
  src/pages/components/color-picker.mdx
Due: prettier --write, markdownlint

Update description
  src/pages/components/color-picker.mdx
Due: prettier --write, markdownlint

Fix capitalization after rebase
  src/nav/components.yml
Due: none

Move example to alphabetical order and decapitalize trigger
  src/pages/components/colorpickers.mdx
Due: prettier --write, markdownlint

Rename example directory to color-picker
  src/examples/color-picker/ColorpickerDefault.tsx
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/pages/components/colorpickers.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add aria label and focus inset accordingly
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Set custom trigger color in real time & remove disabled attr
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update colorpickers.mdx description
  src/pages/components/colorpickers.mdx
Due: prettier --write, markdownlint

Remove aria label until buttonProps is available
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Refactor styles for form input example
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix and refactor default rgba colors
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add colorpicker components (#257)
  src/examples/color-picker/ColorpickerDefault.tsx
  src/examples/color-picker/ColorpickerDialogCustomTrigger.tsx
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  src/nav/components.yml
  src/pages/components/color-picker.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Get branch running
  src/pages/patterns/buttons.mdx
Due: prettier --write, markdownlint

Update buttons pattern doc
  src/pages/patterns/buttons.mdx
Due: prettier --write, markdownlint

Update button pattern interaction example
  src/pages/patterns/examples/button/Interaction.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: add labels to color dialog buttons
  package.json
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix: add labels to color dialog buttons (#261)
  package.json
  src/examples/color-picker/ColorpickerDialogDefault.tsx
  src/examples/color-picker/ColorpickerDialogFormInput.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Use internal netlify links to previous versions
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint

chore(versions): update links to previous versions (#262)
  src/pages/components/versions.mdx
Due: prettier --write, markdownlint

Pass Gatsby node functions to createNodeHelpers
  plugins/gatsby-source-abstract/gatsby-node.js
  plugins/gatsby-source-news/gatsby-node.js
  plugins/gatsby-source-react-packages/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v16
  package.json
  yarn.lock
Due: prettier-package-json --write

Dedupe @types/react in lockfile with yarn resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: update yarn resolutions
  package.json
Due: prettier-package-json --write

chore: update yarn resolutions (#267)
  package.json
Due: prettier-package-json --write

chore(deps): update gatsby monorepo
  package.json
  yarn.lock
Due: prettier-package-json --write

Migrate Gatsby v2 -> v3
  gatsby-config.js
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/pages/404.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/toggle-icon-button.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Remove gatsby-image
  package.json
  yarn.lock
Due: prettier-package-json --write

Update to 8.36.2
  package.json
  yarn.lock
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
