Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix: address feedback on rtl and header content
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: sheet footer example in rtl
  src/examples/chrome/SheetFooters.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(patterns): new tables documentation (#341)
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/MarkdownProvider/components/ImageFigure.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/table/TableCursorPagination.tsx
  src/examples/table/TableLoading.tsx
  src/examples/table/TableVerticalScrolling.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/index.tsx
  src/layouts/Root/components/Header.tsx
  src/nav/patterns.yml
  src/pages/patterns.tsx
  src/pages/patterns/index.mdx
  src/pages/patterns/tables/basic-formatting.mdx
  src/templates/PatternTemplate.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix case sensitive file naming
  src/pages/design/icons/index.mdx
Due: prettier --write, markdownlint

fix: sizes of header/footer example
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: needed whitespace at the end of design.yml
  src/nav/design.yml
Due: none

fix: use garden component for heading
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

use garden grid instead of width css for search field icon. clean up iconShowcase
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove icon sizes files
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
Due: prettier --write, markdownlint

fix: src/pages/components/sheet.mdx
  src/pages/components/sheet.mdx
Due: prettier --write, markdownlint

chore: add Content Security Policy (CSP)
  gatsby-config.js
  package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Peel off CSP report-only, which is disallowed via <meta>
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: change to american english
  src/pages/components/sheet.mdx
Due: prettier --write, markdownlint

feat(sheet): add documentation (#337)
  src/examples/chrome/SheetDefault.tsx
  src/examples/chrome/SheetFooters.tsx
  src/examples/chrome/SheetHeaders.tsx
  src/examples/chrome/SheetPlacement.tsx
  src/examples/chrome/SheetSize.tsx
  src/nav/components.yml
  src/pages/components/sheet.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

remove imageBackgroundColor from BestPractice
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/pages/design/icons/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

wrapped debounce with useCallback and cancel debounce when component unmounts
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: use garden component for heading (#351)
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refactor grid usage for icon
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(icons): add token metadata
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/icon-tokens.csv
  plugins/gatsby-transformer-garden-svg/icon-tokens.js
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(deps): update all non-major dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency gatsby-plugin-netlify to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/node to v16
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency dotenv to v16
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @svgr/webpack to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(svgr): upgrade config syntax
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): update dependency eslint to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v27
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(eslint): upgrade eslint and related deps
  babel.config.js
  package.json
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/examples/dropdowns/menu/Danger.tsx
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Size.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore(typescript): add typescript 4.6.1-rc for object has own support
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency babel-plugin-styled-components to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

Fixed markdown headings, stroke/fill and word choices
  src/examples/design/icons/IconStyles.tsx
  src/pages/design/icons/index.mdx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

commented out 'Contributing an Icon' section
  src/pages/design/icons/library.mdx
Due: prettier --write, markdownlint

chore(stylelint): major upgrade to stylelint 14
  .stylelintrc
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(algolia): test hidden element is parsed by docsearch
  src/pages/design/icons/12.mdx
Due: prettier --write, markdownlint

chore(algolia): test hidden element is parsed by docsearch (#362)
  src/pages/design/icons/12.mdx
Due: prettier --write, markdownlint

docs(well): remove close api
  src/pages/components/well.mdx
Due: prettier --write, markdownlint

docs(tooltip-modal): focus jail to loop
  src/pages/components/tooltip-modal.mdx
Due: prettier --write, markdownlint

docs(well): remove close api (#363)
  src/pages/components/well.mdx
Due: prettier --write, markdownlint

docs(tooltip-modal): focus jail to loop (#364)
  src/pages/components/tooltip-modal.mdx
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
