Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat: add Range component (#152)
  src/examples/forms/range/RangeDefault.tsx
  src/examples/forms/range/RangeDisabled.tsx
  src/examples/forms/range/RangeHint.tsx
  src/examples/forms/range/RangeValidation.tsx
  src/nav/components.yml
  src/pages/components/range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

revise multi thumb page content
  src/pages/components/multi-thumb-range.mdx
Due: prettier --write, markdownlint

few remaining sentence case instances
  src/pages/components/button.mdx
  src/pages/components/menu.mdx
Due: prettier --write, markdownlint

examples
  src/examples/loaders/inline/InlineColor.tsx
  src/examples/loaders/inline/InlineSize.tsx
  src/pages/components/inline.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add Multi-Thumb Range component (#154)
  src/examples/forms/multithumbrange/MultiThumbRangeDefault.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeDisabled.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeHint.tsx
  src/examples/forms/multithumbrange/MultiThumbRangeValidation.tsx
  src/layouts/Titled/components/TOC.tsx
  src/nav/components.yml
  src/pages/components/button-group.mdx
  src/pages/components/button.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/menu.mdx
  src/pages/components/multi-thumb-range.mdx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Span copy updates
  src/pages/components/paragraph.mdx
  src/pages/components/span.mdx
Due: prettier --write, markdownlint

Add commas
  src/pages/components/span.mdx
Due: prettier --write, markdownlint

dots
  package.json
  src/examples/loaders/dots/DotsColor.tsx
  src/examples/loaders/dots/DotsDefault.tsx
  src/examples/loaders/dots/DotsSize.tsx
  src/nav/components.yml
  src/pages/components/dots.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update inline.mdx
  src/pages/components/inline.mdx
Due: prettier --write, markdownlint

progress
  package.json
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/progress/ProgressDefault.tsx
  src/examples/loaders/progress/ProgressSize.tsx
  src/nav/components.yml
  src/pages/components/progress.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(docs): add TailwindCSS plugin link (#155)
  src/nav/components.yml
Due: none

feat: add inline loader component page (#157)
  package.json
  src/examples/loaders/inline/InlineColor.tsx
  src/examples/loaders/inline/InlineDefault.tsx
  src/examples/loaders/inline/InlineSize.tsx
  src/nav/components.yml
  src/pages/components/inline.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

examples
  src/examples/loaders/spinner/SpinnerColor.tsx
  src/examples/loaders/spinner/SpinnerDefault.tsx
  src/examples/loaders/spinner/SpinnerSize.tsx
  src/nav/components.yml
  src/pages/components/spinner.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update paragraph copy
  src/pages/components/paragraph.mdx
Due: prettier --write, markdownlint

upload examples
  src/examples/loaders/skeleton/SkeletonDefault.tsx
  src/examples/loaders/skeleton/SkeletonLight.tsx
  src/examples/loaders/skeleton/SkeletonSize.tsx
  src/nav/components.yml
  src/pages/components/skeleton.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update content to latest
  src/pages/components/progress.mdx
Due: prettier --write, markdownlint

update content to latest
  src/pages/components/spinner.mdx
Due: prettier --write, markdownlint

align to font size
  src/pages/components/spinner.mdx
Due: prettier --write, markdownlint

align on font size
  src/pages/components/dots.mdx
Due: prettier --write, markdownlint

update example and content
  src/examples/loaders/dots/DotsColor.tsx
  src/pages/components/dots.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

content updates
  src/pages/components/skeleton.mdx
Due: prettier --write, markdownlint

update fragment
  src/pages/components/dots.mdx
Due: prettier --write, markdownlint

Update progress.mdx
  src/pages/components/progress.mdx
Due: prettier --write, markdownlint

feat(loaders): add dots component (#158)
  src/examples/loaders/dots/DotsColor.tsx
  src/examples/loaders/dots/DotsDefault.tsx
  src/examples/loaders/dots/DotsSize.tsx
  src/nav/components.yml
  src/pages/components/dots.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(loaders): add progress component (#159)
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/progress/ProgressDefault.tsx
  src/examples/loaders/progress/ProgressSize.tsx
  src/nav/components.yml
  src/pages/components/progress.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(loaders): add spinner component (#160)
  src/examples/loaders/spinner/SpinnerColor.tsx
  src/examples/loaders/spinner/SpinnerDefault.tsx
  src/examples/loaders/spinner/SpinnerSize.tsx
  src/nav/components.yml
  src/pages/components/spinner.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(typography): add new Span component page (#156)
  .github/PULL_REQUEST_TEMPLATE.md
  src/examples/dropdowns/autocomplete/Size.tsx
  src/examples/typography/CodeColor.tsx
  src/examples/typography/CodeSize.tsx
  src/examples/typography/ListSize.tsx
  src/examples/typography/Lists.tsx
  src/examples/typography/Modifiers.tsx
  src/examples/typography/Span.tsx
  src/examples/typography/TypeScale.tsx
  src/examples/typography/code/Color.tsx
  src/examples/typography/code/Default.tsx
  src/examples/typography/code/Size.tsx
  src/examples/typography/lists/Default.tsx
  src/examples/typography/lists/Nesting.tsx
  src/examples/typography/lists/Size.tsx
  src/examples/typography/paragraph/Default.tsx
  src/examples/typography/paragraph/Size.tsx
  src/examples/typography/span/Bold.tsx
  src/examples/typography/span/Hue.tsx
  src/examples/typography/span/Icon.tsx
  src/examples/typography/span/Monospace.tsx
  src/examples/typography/span/StartIcon.tsx
  src/nav/components.yml
  src/pages/components/code.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/lists.mdx
  src/pages/components/paragraph.mdx
  src/pages/components/span.mdx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

initial commit
  src/examples/forms/tiles/TilesDefault.tsx
  src/nav/components.yml
  src/pages/components/tiles.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

initial commit
  package.json
  src/examples/accordions/accordion/AccordionBare.tsx
  src/examples/accordions/accordion/AccordionCompact.tsx
  src/examples/accordions/accordion/AccordionDefault.tsx
  src/examples/accordions/accordion/AccordionExpandable.tsx
  src/nav/components.yml
  src/pages/components/accordion.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

examples
  src/examples/forms/tiles/TilesDescription.tsx
  src/examples/forms/tiles/TilesDisabled.tsx
  src/examples/forms/tiles/TilesLayout.tsx
  src/pages/components/tiles.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

example fixes
  src/examples/accordions/accordion/AccordionCompact.tsx
  src/examples/accordions/accordion/AccordionSize.tsx
  src/pages/components/accordion.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

the easy fixes
  src/examples/forms/tiles/TilesDefault.tsx
  src/examples/forms/tiles/TilesDescription.tsx
  src/examples/forms/tiles/TilesDisabled.tsx
  src/pages/components/tiles.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

harder fixes
  src/examples/forms/tiles/TilesLayout.tsx
  src/pages/components/tiles.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

amend configuration
  src/pages/components/tiles.mdx
Due: prettier --write, markdownlint

update config with accordion pkg
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

amend level
  src/examples/accordions/accordion/AccordionBare.tsx
  src/examples/accordions/accordion/AccordionDefault.tsx
  src/examples/accordions/accordion/AccordionExpandable.tsx
  src/examples/accordions/accordion/AccordionSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update copy
  src/pages/components/skeleton.mdx
Due: prettier --write, markdownlint

update content
  src/pages/components/tiles.mdx
Due: prettier --write, markdownlint

update content
  src/pages/components/accordion.mdx
Due: prettier --write, markdownlint
