Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat(components): add status indicator (#426)
  package.json
  src/examples/avatar/StatusIndicatorCaption.tsx
  src/examples/avatar/StatusIndicatorDefault.tsx
  src/examples/avatar/StatusIndicatorSize.tsx
  src/examples/avatar/StatusIndicatorType.tsx
  src/nav/components.yml
  src/pages/components/status-indicator.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix(components): correct table draggable icon handle color (#425)
  src/examples/table/TableDraggable.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(deps): revert dependency gatsby-plugin-mdx to v2.14.0
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): revert dependency gatsby-plugin-mdx to v2.14.0 (#427)
  package.json
  yarn.lock
Due: prettier-package-json --write

Ignore unknown `css` property with eslint
  .eslintrc.json
Due: none

Fix broken links
  src/pages/components/input-group.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/textarea.mdx
Due: prettier --write, markdownlint

Fix `accept` prop format
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update to remark v14 and remark-react v9
  src/components/MarkdownProvider/components/Markdown.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(table): added more detail to example links, for a11y
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

fix(table): changed link label from GroupedRow example to GroupRow example
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

feat(table): added SortableCell text to another example link
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

fix(table): add section names to SortableCell, GroupRow, and OverflowButton example links (#428)
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

feat(progress): added aria-labels to Progress examples
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/progress/ProgressDefault.tsx
  src/examples/loaders/progress/ProgressSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(progress): changed ARIA labels to match Garden motif
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/progress/ProgressDefault.tsx
  src/examples/loaders/progress/ProgressSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(file-upload): added ARIA labels to FileList Progress components
  src/examples/forms/file-upload/FileList.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(file-upload): added ARIA labels to FileUpload Progress component
  src/examples/forms/file-upload/FileUpload.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(file-upload): added aria-hidden="true" to fully-uploaded demo in FileList
  src/examples/forms/file-upload/FileList.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(file-upload): added aria-hidden="true" to fully-uploaded demo in FileUpload
  src/examples/forms/file-upload/FileUpload.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(file-upload): add ARIA labels to component examples (#430)
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(progress): add ARIA labels to component examples (#429)
  src/examples/loaders/progress/ProgressColor.tsx
  src/examples/loaders/progress/ProgressDefault.tsx
  src/examples/loaders/progress/ProgressSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add section names to example links across multiple component pages
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/radio.mdx
  src/pages/components/stepper.mdx
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

fix: changed example link labels to lowercase
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/radio.mdx
  src/pages/components/stepper.mdx
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

feat: add section names to example links across multiple component pages (#431)
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/radio.mdx
  src/pages/components/stepper.mdx
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

feat(chrome): added heading tags to Default example content titles
  src/examples/chrome/ChromeDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(chrome): added heading tags to Default example content titles (#432)
  src/examples/chrome/ChromeDefault.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(react-components): upgrade to v8.59.0
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(react-components): upgrade to v8.59.0 (#439)
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(modals): added tag prop to Modal example components
  src/examples/drawer/DrawerDefault.tsx
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/examples/tooltip-modal/TooltipModalDefault.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(modals): added tag prop to Modal example components (#440)
  src/examples/drawer/DrawerDefault.tsx
  src/examples/modal/ModalDanger.tsx
  src/examples/modal/ModalDefault.tsx
  src/examples/modal/ModalSize.tsx
  src/examples/tooltip-modal/TooltipModalDefault.tsx
  src/examples/tooltip-modal/TooltipModalPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

docs: Add Save pattern docs
  gatsby-config.js
  src/examples/save/SavePatternInteraction.tsx
  src/nav/patterns.yml
  src/pages/patterns/save.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(tiles): added section name to each example so ARIA labels are unique
  src/examples/forms/tiles/TilesDefault.tsx
  src/examples/forms/tiles/TilesDescription.tsx
  src/examples/forms/tiles/TilesDisabled.tsx
  src/examples/forms/tiles/TilesLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Save pattern docs changes
  src/examples/button/ButtonPatternInteraction.tsx
  src/examples/save/SavePatternInteraction.tsx
  src/pages/patterns/save.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(tiles): added section name to each example so ARIA labels are unique (#443)
  src/examples/forms/tiles/TilesDefault.tsx
  src/examples/forms/tiles/TilesDescription.tsx
  src/examples/forms/tiles/TilesDisabled.tsx
  src/examples/forms/tiles/TilesLayout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Change video hyperlinks
  src/pages/patterns/save.mdx
Due: prettier --write, markdownlint
