Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: swap header button for Garden IconButton (#17)
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add uxcs content template
  .lintstagedrc
  content/uxcs/basics.mdx
  content/uxcs/grammar.mdx
  content/uxcs/nav.yml
  content/uxcs/numbers.mdx
  content/uxcs/overview.mdx
  content/uxcs/punctuation.mdx
  content/uxcs/voice-and-tone.mdx
  content/uxcs/word-list.mdx
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/MarkdownProvider/index.tsx
  src/components/MarkdownProvider/markdown.css
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/MaxWidth.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
  src/layouts/Titled/index.tsx
  src/pages/content.tsx
  src/templates/ContentTemplate.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Remove trailing slashes and netlify headers
  gatsby-config.js
  package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update sidebar section size and home page spacing
  src/components/MarkdownProvider/markdown.css
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Address JZ comments
  package.json
  src/layouts/Home/components/Search.tsx
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

DRY header styling
  src/layouts/Home/components/Search.tsx
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: introduce UXCS content template (#18)
  .lintstagedrc
  content/uxcs/basics.mdx
  content/uxcs/grammar.mdx
  content/uxcs/nav.yml
  content/uxcs/numbers.mdx
  content/uxcs/overview.mdx
  content/uxcs/punctuation.mdx
  content/uxcs/voice-and-tone.mdx
  content/uxcs/word-list.mdx
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/MarkdownProvider/index.tsx
  src/components/MarkdownProvider/markdown.css
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/MaxWidth.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
  src/layouts/Titled/index.tsx
  src/pages/content.tsx
  src/templates/ContentTemplate.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat: allow mdx to source Gatsby assets
  content/uxcs/overview.mdx
  gatsby-config.js
  package.json
  plugins/gatsby-remark-abstract-assets/index.js
  plugins/gatsby-remark-abstract-assets/package.json
  plugins/gatsby-source-abstract/gatsby-node.js
  plugins/gatsby-source-abstract/package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Add env variables directions in contribution doc
  .github/CONTRIBUTING.md
Due: prettier --write, markdownlint

Update first person pronouns
  .github/CONTRIBUTING.md
Due: prettier --write, markdownlint

feat: allow mdx to source Abstract assets (#19)
  .github/CONTRIBUTING.md
  content/uxcs/overview.mdx
  gatsby-config.js
  package.json
  plugins/gatsby-remark-abstract-assets/index.js
  plugins/gatsby-remark-abstract-assets/package.json
  plugins/gatsby-source-abstract/gatsby-node.js
  plugins/gatsby-source-abstract/package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat: add package and prop-sheet sourcing with code examples
  .eslintignore
  .gitmodules
  .markdownlintrc
  .prettierignore
  content/components/button/button.mdx
  content/components/button/examples/ButtonDanger.tsx
  content/components/button/examples/ButtonSizes.tsx
  content/components/button/examples/ButtonStretched.tsx
  content/components/button/examples/ButtonTypes.tsx
  content/components/nav.yml
  content/components/overview.mdx
  gatsby-config.js
  gatsby-node.js
  package.json
  plugins/gatsby-source-react-packages/gatsby-node.js
  plugins/gatsby-source-react-packages/package.json
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/copyToClipboard.ts
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/typography.tsx
  src/components/MarkdownProvider/index.tsx
  src/components/MarkdownProvider/markdown.css
  src/layouts/Titled/index.tsx
  src/pages/components.tsx
  src/templates/ComponentTemplate.tsx
  tsconfig.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Add labels to code example buttons
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add theme value to global markdown styling
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Address JZ comments
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/components/MarkdownProvider/components/PackageDescription.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add package and prop-sheet sourcing with code examples (#20)
  .eslintignore
  .gitmodules
  .markdownlintrc
  .prettierignore
  content/components/button/button.mdx
  content/components/button/examples/ButtonDanger.tsx
  content/components/button/examples/ButtonSizes.tsx
  content/components/button/examples/ButtonStretched.tsx
  content/components/button/examples/ButtonTypes.tsx
  content/components/nav.yml
  content/components/overview.mdx
  gatsby-config.js
  gatsby-node.js
  package.json
  plugins/gatsby-source-react-packages/gatsby-node.js
  plugins/gatsby-source-react-packages/package.json
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/CodeExample/utils/copyToClipboard.ts
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/typography.tsx
  src/components/MarkdownProvider/index.tsx
  src/components/MarkdownProvider/markdown.css
  src/layouts/Titled/index.tsx
  src/pages/components.tsx
  src/templates/ComponentTemplate.tsx
  tsconfig.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix: update navigation states and mobile menus
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update header shadow to grey-800
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update active and selected naming
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: update navigation states and mobile menus (#21)
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: introduce Garden elements to markdown rendering
  content/uxcs/basics.mdx
  package.json
  plugins/gatsby-remark-abstract-assets/index.js
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Lists.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/components/typography.tsx
  src/components/MarkdownProvider/index.tsx
  src/layouts/Home/components/HomeLink.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Titled/components/TOC.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Address JZ comments
  package.json
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/index.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Titled/components/TOC.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update mobile button border
  src/layouts/Sidebar/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: introduce Garden elements to markdown rendering (#22)
  content/uxcs/basics.mdx
  package.json
  plugins/gatsby-remark-abstract-assets/index.js
  src/components/MarkdownProvider/components/Code.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Lists.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/components/typography.tsx
  src/components/MarkdownProvider/index.tsx
  src/layouts/Home/components/HomeLink.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

feat: move all content to pages directory
  .markdownlintrc
  content/components/overview.mdx
  gatsby-config.js
  src/components/MarkdownProvider/index.tsx
  src/examples/button/ButtonDanger.tsx
  src/examples/button/ButtonSizes.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/button/ButtonTypes.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/nav/components.yml
  src/nav/content.yml
  src/pages/components/button.mdx
  src/pages/components/index.mdx
  src/pages/content/basics.mdx
  src/pages/content/grammar.mdx
  src/pages/content/index.mdx
  src/pages/content/numbers.mdx
  src/pages/content/punctuation.mdx
  src/pages/content/voice-and-tone.mdx
  src/pages/content/word-list.mdx
  src/pages/design.tsx
  src/pages/index.tsx
  src/templates/ComponentTemplate.tsx
  src/templates/ContentTemplate.tsx
  utils/typings/yml.d.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add svg-icons plugin and doc pages
  gatsby-node.js
  package.json
  plugins/gatsby-transformer-garden-svg/gatsby-node.js
  plugins/gatsby-transformer-garden-svg/package.json
  src/examples/design/icons/SvgSearch.tsx
  src/examples/design/icons/WordmarkLayout.tsx
  src/layouts/Titled/components/TOC.tsx
  src/nav/design.yml
  src/pages/design/icons/12.mdx
  src/pages/design/icons/16.mdx
  src/pages/design/icons/26.mdx
  src/pages/design/icons/installation.mdx
  src/pages/design/icons/wordmarks.mdx
  src/pages/design/index.mdx
  src/templates/DesignTemplate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Add script dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Improve missing env variable error
  plugins/gatsby-source-abstract/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade deploy script
  .circleci/config.yml
  package.json
  tsconfig.node.json
  utils/deploy.js
  utils/netlify-deploy.ts
  utils/typings/netlify/index.d.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore: simplify deployment (#27)
  .circleci/config.yml
  package.json
  plugins/gatsby-source-abstract/gatsby-node.js
  tsconfig.node.json
  utils/deploy.js
  utils/netlify-deploy.ts
  utils/typings/netlify/index.d.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore(deps): update dependency react-helmet to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v2
  .circleci/config.yml
Due: none

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: missing abstract peer dependency
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: react-helmet imports
  src/components/SEO.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove duplicate @types dependencies
  yarn.lock
Due: none

Update node orb
  .circleci/config.yml
Due: none

Fix to support https://hub.docker.com/r/cimg/node/tags
  .circleci/config.yml
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
