Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Resort secondary palette hues
  src/pages/design/color.mdx
Due: prettier --write, markdownlint

feat: add Design / Color documentation (#211)
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/index.tsx
  src/nav/design.yml
  src/pages/design/color.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Revert punctuation updates from #202
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

fix(content): revert punctuation scannability updates (#212)
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

Add Blockquote to typography documentation
  src/examples/typography/Blockquote.tsx
  src/pages/components/typography.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Use Blockquote as the basis for markdown
  src/components/MarkdownProvider/components/Typography.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use updated Blockquote/Paragraph
  src/examples/typography/Blockquote.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-components dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Colloquial is king
  src/pages/components/typography.mdx
Due: prettier --write, markdownlint

feat(typography): add Blockquote component example, configuration, and API (#213)
  package.json
  src/components/MarkdownProvider/components/Typography.tsx
  src/examples/typography/Blockquote.tsx
  src/pages/components/typography.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency polished to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react-syntax-highlighter to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency react-syntax-highlighter to v15
  package.json
  yarn.lock
Due: prettier-package-json --write

Add DocSearch main content ID
  src/layouts/Sidebar/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove react-syntax-highlighter
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix formatting and linting errors
  .eslintrc.json
  src/layouts/Root/components/Header.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update remark monorepo
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react-dom to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency mdast-util-to-string to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update react monorepo to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove mdast-util-to-string
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: add DocSearch main content ID (#224)
  src/layouts/Sidebar/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(deps): remove unused dependencies (#225)
  package.json
  yarn.lock
Due: prettier-package-json --write

Add algolia docsearch plugin
  package.json
  yarn.lock
Due: prettier-package-json --write

Configure algolia docsearch
  gatsby-config.js
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Move experimental flags out to private .env
  package.json
Due: prettier-package-json --write

Nit
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Hand roll algolia docsearch plugin
  gatsby-config.js
  package.json
  plugins/gatsby-algolia-docsearch/gatsby-ssr.js
  plugins/gatsby-algolia-docsearch/package.json
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/SearchInput.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Restore mobile and home search
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/SearchInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove question mark
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update hero search placeholder
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add full-text search (#226)
  gatsby-config.js
  plugins/gatsby-algolia-docsearch/gatsby-ssr.js
  plugins/gatsby-algolia-docsearch/package.json
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/components/SearchInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

chore(deps): update dependency abstract-sdk to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

Add missing `sha` needed for abstract sdk v8
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Present grid data as ul > li for search indexing
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/examples/design/icons/SvgSearch.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update svg-icons
  package.json
  yarn.lock
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
