Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Fixed image labels
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Image path fix
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Content updates
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Update src/pages/patterns/drag-and-drop.mdx
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Content updates for "Text and icons"
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Keep image proportions in do this/no this
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

Update drag-and-drop.mdx
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

fix(patterns): use internal links for drag and drop
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

feat(patterns): adds drag and drop pattern docs (#479)
  gatsby-config.js
  src/nav/patterns.yml
  src/pages/patterns/drag-and-drop.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Upgrade to react-components 8.66.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Add `focusStyles`, `getFocusBoxShadow` and `useText` utilities
  src/examples/utilities/components.ts
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Fix typos
  src/examples/utilities/components.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(utilities): add `focusStyles`, `getFocusBoxShadow`, and `useText` APIs (#491)
  package.json
  src/examples/utilities/components.ts
  src/pages/components/utilities.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Upgrade to react-components 8.67.0
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(utilities): add new `getFocusBoxShadow` and `focusStyles` parameters
  src/examples/utilities/components.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: re-adds pattern link to dnd pattern docs
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

chore(deps): remove stale babel-eslint
  package.json
  yarn.lock
Due: prettier-package-json --write

docs; Update actionable language guide
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

chore(deps): update react components to v8.67.0
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(utilities): add new `getFocusBoxShadow` and `focusStyles` parameters (#492)
  package.json
  src/examples/utilities/components.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

docs(content): update actionable language guide (#494)
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

fix: re-adds pattern link to dnd pattern docs (#493)
  src/pages/patterns/drag-and-drop.mdx
Due: prettier --write, markdownlint

feat(styles): update to new focus styles
  src/components/MarkdownProvider/components/Anchor.ts
  src/layouts/Root/components/StyledNavigationLink.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: update react-components and fix anchor
  package.json
  src/components/MarkdownProvider/components/Anchor.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix: address feedback
  src/components/MarkdownProvider/components/Anchor.ts
  src/layouts/Home/components/News.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: add latest css bedrock
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: update based on feedback
  src/layouts/Home/components/News.tsx
  src/layouts/Titled/components/TOC.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: address feedback for anchors
  src/components/MarkdownProvider/components/Anchor.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: focus style placement
  src/components/MarkdownProvider/components/Anchor.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(styles): update to new focus styles (#496)
  package.json
  src/components/MarkdownProvider/components/Anchor.ts
  src/layouts/Home/components/News.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Titled/components/TOC.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fix(layouts): update footer link outline color
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: add comment
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(layouts): update footer link outline color (#499)
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add nav tags and page alerts
  src/components/MarkdownProvider/components/Alert.tsx
  src/components/MarkdownProvider/index.tsx
  src/layouts/Root/components/StyledNavigationLink.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/layouts/Sidebar/components/MobileSidebar.tsx
  src/layouts/Sidebar/components/NavItemTitle.tsx
  src/nav/components.yml
  src/pages/components/button-group.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Use small tags
  src/layouts/Sidebar/components/NavItemTitle.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update tag treatment
  src/layouts/Sidebar/components/NavItemTitle.tsx
  src/nav/components.yml
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Add dropdowns.next
  gatsby-config.js
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Initial combobox component page
  src/nav/components.yml
  src/pages/components/combobox.mdx
  src/pages/components/legacy-combobox.mdx
  src/pages/components/legacy-select.mdx
  src/pages/components/select-native.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint
