Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

No top spacing for first Col
  src/examples/forms/inputs/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add new <Markdown> component (#67)
  package.json
  src/components/MarkdownProvider/components/Markdown.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/index.tsx
  utils/typings/remark-react.d.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Styling for type and default value
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: align API section styling (#66)
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Apply markdown to prop description
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Adjustments
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

initial setup
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/index.mdx
  src/pages/content/index.mdx
  src/pages/design/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

remove unnecessary md
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

literal and import fixes
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/pages/components/index.mdx
  src/pages/content/index.mdx
  src/pages/design/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update structure
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

remove one literal
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update Configuration and remove PropSheets
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/anchor.mdx
  src/pages/components/avatar.mdx
  src/pages/components/breadcrumbs.mdx
  src/pages/components/button.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
  src/pages/components/tabs.mdx
  src/pages/index.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: overview links (#63)
  src/components/MarkdownProvider/components/OverviewLinks.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/index.mdx
  src/pages/content/index.mdx
  src/pages/design/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update PropSheet api to take components/componentName props
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/pages/components/anchor.mdx
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
  src/pages/components/tabs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Tweak TS array syntax
  src/components/MarkdownProvider/components/PropSheet.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add text input component page (#62)
  .stylelintrc
  src/examples/forms/inputs/Bare.tsx
  src/examples/forms/inputs/Disabled.tsx
  src/examples/forms/inputs/FauxInput.tsx
  src/examples/forms/inputs/FocusInset.tsx
  src/examples/forms/inputs/Hint.tsx
  src/examples/forms/inputs/Inline.tsx
  src/examples/forms/inputs/Input.tsx
  src/examples/forms/inputs/MediaInput.tsx
  src/examples/forms/inputs/Placeholder.tsx
  src/examples/forms/inputs/RegularWeightLabel.tsx
  src/examples/forms/inputs/Size.tsx
  src/examples/forms/inputs/Textarea.tsx
  src/examples/forms/inputs/Validation.tsx
  src/nav/components.yml
  src/pages/components/inputs.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

updated avatar strings
  src/components/MarkdownProvider/components/Usage.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix leftover demo section
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

capitalize fix
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

Update inputs component page
  src/pages/components/inputs.mdx
Due: prettier --write, markdownlint

revert li change
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

feat!: new PropSheet component (#68)
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/anchor.mdx
  src/pages/components/avatar.mdx
  src/pages/components/breadcrumbs.mdx
  src/pages/components/button.mdx
  src/pages/components/inputs.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
  src/pages/components/tabs.mdx
  src/pages/index.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore: update avatar component page (#69)
  src/components/MarkdownProvider/components/Usage.tsx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update examples title
  src/pages/components/anchor.mdx
  src/pages/components/button.mdx
  src/pages/components/inputs.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

update breadcrumb copy
  src/pages/components/breadcrumbs.mdx
Due: prettier --write, markdownlint

fix url
  src/pages/components/breadcrumbs.mdx
Due: prettier --write, markdownlint

Use garde grid for code example wrapper
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update code example wrapper div
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Upgrade to v8.14.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Prefer Span with isMonospace
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: upgrade garden components to v8.14.0 (#74)
  package.json
  src/components/MarkdownProvider/components/Configuration.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update configuration and API section
  src/pages/components/radio.mdx
Due: prettier --write, markdownlint

Apply V's content improvements
  src/pages/components/radio.mdx
Due: prettier --write, markdownlint

feat: add radio component page
  src/examples/forms/radio/Default.tsx
  src/examples/forms/radio/Disabled.tsx
  src/examples/forms/radio/Hidden.tsx
  src/examples/forms/radio/Hint.tsx
  src/examples/forms/radio/RegularWeightLabel.tsx
  src/examples/forms/radio/Validation.tsx
  src/pages/components/radio.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Updates...
  src/examples/forms/radio/Default.tsx
  src/examples/forms/radio/Disabled.tsx
  src/examples/forms/radio/Hidden.tsx
  src/examples/forms/radio/Hint.tsx
  src/examples/forms/radio/RegularWeightLabel.tsx
  src/examples/forms/radio/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add heading to radio group, update copy
  src/examples/forms/radio/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: organize dropdown example files
  src/examples/dropdowns/menu/Arrow.tsx
  src/examples/dropdowns/menu/Button.tsx
  src/examples/dropdowns/menu/Disabled.tsx
  src/examples/dropdowns/menu/Media.tsx
  src/examples/dropdowns/menu/Meta.tsx
  src/examples/dropdowns/menu/Nested.tsx
  src/examples/dropdowns/menu/Placement.tsx
  src/examples/dropdowns/menu/Select.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Default.tsx
  src/examples/dropdowns/select/Disabled.tsx
  src/examples/dropdowns/select/Hint.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/dropdowns/select/Validation.tsx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint
