Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Component testing page
  src/pages/design/index.mdx
Due: prettier --write, markdownlint

Add Select component page
  package.json
  src/examples/dropdowns/SelectDefault.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectHint.tsx
  src/examples/dropdowns/SelectSize.tsx
  src/examples/dropdowns/SelectValidation.tsx
  src/nav/components.yml
  src/pages/components/select.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(components): refine BestPractice component (#51)
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
  src/layouts/Titled/index.tsx
  src/pages/components/avatar.mdx
  src/pages/design/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Remove StyledSelect
  src/examples/dropdowns/SelectDefault.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectHint.tsx
  src/examples/dropdowns/SelectSize.tsx
  src/examples/dropdowns/SelectValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update copy for examples
  src/examples/dropdowns/SelectDefault.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectHint.tsx
  src/examples/dropdowns/SelectSize.tsx
  src/examples/dropdowns/SelectValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add anchor component page (#49)
  src/components/MarkdownProvider/index.tsx
  src/examples/anchor/AnchorDanger.tsx
  src/examples/anchor/AnchorDefault.tsx
  src/examples/anchor/AnchorExternal.tsx
  src/nav/components.yml
  src/pages/components/anchor.mdx
  src/pages/components/avatar.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add breadcrumbs component page (#50)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/breadcrumbs/BreadcrumbsDefault.tsx
  src/nav/components.yml
  src/pages/components/breadcrumbs.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

initial commit
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/pages/components/button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

progress
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

refactor
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

nits
  src/components/MarkdownProvider/components/PackageDescription.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

peer dependencies
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

nits
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Separate state for size examples
  src/examples/dropdowns/SelectSize.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

flip column order for size example & remove CSS workaround
  src/examples/dropdowns/SelectDefault.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectHint.tsx
  src/examples/dropdowns/SelectSize.tsx
  src/examples/dropdowns/SelectValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fixes
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

lint fix
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update configuration styles
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Garden component optimization
  src/components/MarkdownProvider/components/Configuration.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update dropdown label
  src/examples/dropdowns/SelectDefault.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectHint.tsx
  src/examples/dropdowns/SelectSize.tsx
  src/examples/dropdowns/SelectValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-dropdowns package
  package.json
  yarn.lock
Due: prettier-package-json --write

Update labels
  src/examples/dropdowns/SelectSize.tsx
  src/examples/dropdowns/SelectValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update configuration on all pages
  src/pages/components/anchor.mdx
  src/pages/components/breadcrumbs.mdx
Due: prettier --write, markdownlint

fixes and styles
  src/components/MarkdownProvider/components/Configuration.tsx
  src/pages/components/anchor.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update H1-6 typography
  src/components/MarkdownProvider/components/Typography.tsx
  src/layouts/Titled/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Address header element styling
  src/components/MarkdownProvider/components/Typography.tsx
  src/layouts/Titled/components/Subtitle.tsx
  src/layouts/Titled/components/TOC.tsx
  src/layouts/Titled/index.tsx
  src/templates/ComponentTemplate.tsx
  src/templates/ContentTemplate.tsx
  src/templates/DesignTemplate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

More type and spacing tweaks
  src/components/MarkdownProvider/components/CodeExample/components/SyntaxHighlighter.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update copy for when to use
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

feat: add select component page (#52)
  package.json
  src/examples/dropdowns/SelectDefault.tsx
  src/examples/dropdowns/SelectDisabled.tsx
  src/examples/dropdowns/SelectHint.tsx
  src/examples/dropdowns/SelectSize.tsx
  src/examples/dropdowns/SelectValidation.tsx
  src/nav/components.yml
  src/pages/components/select.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update blockquote and code example styling
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/components/Usage.tsx
  src/pages/content/basics.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update button examples
  src/examples/button/ButtonDanger.tsx
  src/examples/button/ButtonSizes.tsx
  src/examples/button/ButtonStretched.tsx
  src/examples/button/ButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add StyledParagraph with margin
  src/components/MarkdownProvider/components/Typography.tsx
  src/components/MarkdownProvider/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Refine header and propsheet sizing
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Sidebar/index.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Refine best practice styling
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update bestpractice image padding
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Use garden `isBold`
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/SectionCallout.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: fetch all abstract assets
  plugins/gatsby-source-abstract/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Source homepage images from Abstract and fix lazy loaded image size warning
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(components): add configuration section (#53)
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/PackageDescription.tsx
  src/components/MarkdownProvider/components/PropSheets.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/components/anchor.mdx
  src/pages/components/avatar.mdx
  src/pages/components/breadcrumbs.mdx
  src/pages/components/button.mdx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: fetch all abstract assets (#57)
  plugins/gatsby-source-abstract/gatsby-node.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
