Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update to react-components v8.14.1
  package.json
  yarn.lock
Due: prettier-package-json --write

Update tabs.mdx
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

swap out hrefs for markdown
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

fix markdown structure
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

Update avatar icons, reducing absolute URLs that must be maintained
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  static/components/avatar/user.png
Due: stylelint, eslint --max-warnings 0, prettier --write

fix misuse
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

implement voice tone
  src/components/MarkdownProvider/components/Table.tsx
  src/pages/content/voice-and-tone.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fixes
  src/pages/content/voice-and-tone.mdx
Due: prettier --write, markdownlint

omit numbers
  src/pages/content/voice-and-tone.mdx
Due: prettier --write, markdownlint

table header fix
  src/pages/content/voice-and-tone.mdx
Due: prettier --write, markdownlint

chore: update tabs component copy (#94)
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

Prefer markdown links
  src/examples/button/ButtonMedia.tsx
  src/pages/components/anchor.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/button.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update dropdown component ordering
  src/examples/dropdowns/multiselect/Size.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update tabs ordering
  src/pages/components/tabs.mdx
Due: prettier --write, markdownlint

Add static accessor placeholders
  src/examples/avatar/AvatarType.tsx
  src/pages/components/avatar.mdx
  src/pages/components/button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update form components ordering; remove sticky nav
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/pages/components/checkbox.mdx
  src/pages/components/input.mdx
  src/pages/components/radio.mdx
  src/pages/components/text-input.mdx
  src/pages/components/toggle.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Upgrade to react-components v8.15.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Prevent examples from rendering server-side
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Alphabetize foundations
  src/nav/components.yml
Due: none

Alphabetize design foundations
  src/nav/design.yml
Due: none

Alphabetize components nav
  src/nav/components.yml
Due: none

update copy and table margin
  src/components/MarkdownProvider/components/Table.tsx
  src/pages/content/voice-and-tone.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: add voice and tone content page (#96)
  src/components/MarkdownProvider/components/Table.tsx
  src/pages/content/voice-and-tone.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Consistent table code treatment and remove extra empty row
  src/components/MarkdownProvider/components/Markdown.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/pages/content/voice-and-tone.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

and & and
  src/pages/components/anchor.mdx
Due: prettier --write, markdownlint

Top align default/compact size examples
  src/examples/dropdowns/autocomplete/Size.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/forms/inputs/Size.tsx
  src/pages/components/select.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Remove select example and move button to default
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Select.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Remove "Tabs" line
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

fix: general component ordering (#97)
  package.json
  src/components/MarkdownProvider/components/CodeExample/index.tsx
  src/components/MarkdownProvider/components/Markdown.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/examples/avatar/AvatarShape.tsx
  src/examples/avatar/AvatarSize.tsx
  src/examples/avatar/AvatarStatus.tsx
  src/examples/avatar/AvatarType.tsx
  src/examples/button/ButtonDefault.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/dropdowns/autocomplete/Size.tsx
  src/examples/dropdowns/menu/Default.tsx
  src/examples/dropdowns/menu/Select.tsx
  src/examples/dropdowns/menu/Size.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/dropdowns/select/Size.tsx
  src/examples/forms/inputs/Size.tsx
  src/layouts/Sidebar/components/DesktopSidebar.tsx
  src/nav/components.yml
  src/nav/design.yml
  src/pages/components/anchor.mdx
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/breadcrumbs.mdx
  src/pages/components/button-group.mdx
  src/pages/components/button.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/input.mdx
  src/pages/components/menu.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/radio.mdx
  src/pages/components/select.mdx
  src/pages/components/split-button.mdx
  src/pages/components/tabs.mdx
  src/pages/components/text-input.mdx
  src/pages/components/toggle.mdx
  src/pages/content/voice-and-tone.mdx
  static/components/avatar/user.png
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

add word list page
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

a few fixes
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

Restore hidden news section
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Fix type error
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(home): restore hidden news section (#99)
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Adjust default quality for images
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Clear alt, update size, and improve SVG trace-up
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/Search.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update BestPractice to receive FluidObject image source
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/avatar.mdx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Validation and hidden
  src/examples/forms/checkbox/Disabled.tsx
  src/examples/forms/checkbox/Hidden.tsx
  src/examples/forms/checkbox/Validation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Hint and regular weight
  src/examples/forms/checkbox/Hint.tsx
  src/examples/forms/checkbox/RegularWeightLabel.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Indeterminate
  src/examples/forms/checkbox/Indeterminate.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
