Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "prettier --write"
  ],
  "*.md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Add circleci config
  .circleci/config.yml
  .nvmrc
Due: none

Add standard lintint and formatting
  .eslintignore
  .eslintrc.json
  .prettierrc
  .stylelintrc
  LICENSE.md
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package.json
  src/components/header.js
  src/components/image.js
  src/components/layout.js
  src/components/seo.js
  src/pages/404.js
  src/pages/index.js
  src/pages/page-2.js
  yarn.lock
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

Add markdown and package-json formatting
  .huskyrc
  .lintstagedrc
  .markdownlintrc
  LICENSE.md
  package.json
  yarn.lock
Due: prettier --write, markdownlint, prettier-package-json --write

Add .circleci/config.yml
  .circleci/config.yml
  gatsby-config.js
  package.json
  src/components/seo.js
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Add .circleci/config.yml (#2)
  .circleci/config.yml
  gatsby-config.js
  package.json
  src/components/seo.js
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Add netlify deployment to build
  .circleci/config.yml
  .gitignore
  package.json
  tsconfig.json
  tsconfig.node.json
  utils/netlify-deploy.ts
  utils/typings/netlify/index.d.ts
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update env variables
  utils/netlify-deploy.ts
Due: stylelint, eslint, prettier --write

Remove publish npm command
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Fix netlify deployment environments
  utils/netlify-deploy.ts
Due: stylelint, eslint, prettier --write

Fix netlify deployment environments (#5)
  utils/netlify-deploy.ts
Due: stylelint, eslint, prettier --write

Enable uxcs page generation with Typescript [skip ci]
  .circleci/config.yml
  .eslintrc.json
  .yarnclean
  content/uxcs/accessibility.mdx
  content/uxcs/grammar.mdx
  content/uxcs/localization.mdx
  content/uxcs/nav.yml
  content/uxcs/overview.mdx
  content/uxcs/principles.mdx
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/header.js
  src/components/image.tsx
  src/components/layout.js
  src/components/seo.tsx
  src/layouts/max-width/index.tsx
  src/layouts/root/index.tsx
  src/layouts/side-bar/index.tsx
  src/layouts/titled/index.tsx
  src/layouts/toc/index.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/page-2.tsx
  src/templates/ContentTemplate.tsx
  tsconfig.json
  utils/typings/react.d.ts
  utils/typings/styled.d.ts
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

New circleci config
  .circleci/config.yml
  .lintstagedrc
  content/news/images/design-system-resources.png
  content/news/news.yml
  content/uxcs/grammar.mdx
  gatsby-config.js
  package.json
  plugins/gatsby-source-news/gatsby-node.js
  plugins/gatsby-source-news/package.json
  src/images/garden-icon.svg
  src/images/garden-wordmark.svg
  src/images/gatsby-icon.png
  src/layouts/headline.tsx
  src/layouts/root/index.tsx
  src/layouts/side-bar/index.tsx
  src/layouts/titled/index.tsx
  src/layouts/toc/index.tsx
  src/pages/index.tsx
  src/templates/ContentTemplate.tsx
  tsconfig.json
  tsconfig.node.json
  utils/typings/svg.d.ts
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update package scripts
  package.json
  tsconfig.node.json
Due: prettier-package-json --write

Tighten up build-test-deploy script and CI configs to mirror other garden repos
  .circleci/config.yml
  .nvmrc
  package.json
Due: prettier-package-json --write

Fix tsc and add yml format
  package.json
  yarn.lock
Due: prettier-package-json --write

Use names to differentiate cache restore and save
  .circleci/config.yml
Due: none

Update documentation
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: prettier --write, markdownlint

Update GH templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
Due: prettier --write, markdownlint, prettier-package-json --write

Prevent re-format
  .github/ISSUE_TEMPLATE.md
Due: prettier --write, markdownlint

Address Henry feedback
  src/components/SEO.tsx
  src/layouts/Root/components/Header.tsx
  src/layouts/Root/index.tsx
Due: stylelint, eslint, prettier --write

Add renovate config
  renovate.json
Due: none

Address JZ comments
  package.json
  src/components/SEO.tsx
  src/images/garden-icon.svg
  src/images/garden-wordmark.svg
  src/layouts/Home/components/Foundation.tsx
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Patterns.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Root/components/Footer.tsx
  src/layouts/Root/components/Header.tsx
  src/pages/index.tsx
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update green usages in News section
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: none

Add `tsc` to test script
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

chore: update base config and documentation (#9)
  .circleci/config.yml
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .nvmrc
  README.md
  package.json
  renovate.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): pin dependency prettier-package-json to 2.1.3
  package.json
  yarn.lock
Due: prettier-package-json --write

Sneak a link update in here
  README.md
Due: prettier --write, markdownlint

chore(deps): update dependency styled-components to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency netlify to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Swap header button for Garden `IconButton`
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write

chore(deps): update dependency eslint-plugin-react-hooks to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

dedupe yarn react dependencies
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

Update prettier config for new defaults
  .prettierrc
  src/layouts/Home/components/SectionCallout.tsx
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint, prettier --write
