Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix: address content feedback and update examples
  package.json
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
  src/pages/components/combobox.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Added api structures for avatar
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

fix: file instead of filelist for progress
  src/pages/components/progress.mdx
Due: prettier --write, markdownlint

fix: remove unnecessary API comments
  src/pages/components/dots.mdx
  src/pages/components/inline.mdx
  src/pages/components/progress.mdx
  src/pages/components/skeleton.mdx
  src/pages/components/spinner.mdx
Due: prettier --write, markdownlint

remove unneeded comma
  src/fragments/dropdowns-filtering-notes.mdx
Due: prettier --write, markdownlint

chore(docs): Add a note about IME support to Dropdowns (#326)
  src/fragments/dropdowns-filtering-notes.mdx
Due: prettier --write, markdownlint

Update with DocSearch v3 credentials
  src/layouts/Root/components/SearchInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: address feedback
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: remove dots component
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(file-upload): update component documentation (#325)
  package.json
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/forms/file-upload/Validation.tsx
  src/pages/components/file-upload.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: update to Algolia DocSearch v3 (#328)
  src/layouts/Root/components/SearchInput.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: examples from feedback
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(tables): extract overflow tooltip into a forwardRef
  src/examples/table/TableOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(tables): extract overflow tooltip into a forwardRef (#333)
  src/examples/table/TableOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(api): add description to loaders (#327)
  src/pages/components/dots.mdx
  src/pages/components/skeleton.mdx
Due: prettier --write, markdownlint

fix: remove selectedItem
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat(dropdown): add "isDanger" example
  src/examples/dropdowns/menu/Danger.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(dropdown): add "isDanger" menu example (#335)
  src/examples/dropdowns/menu/Danger.tsx
  src/pages/components/menu.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Simplify structure section
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

update icons navigation
  src/nav/design.yml
  src/pages/design/icons/index.mdx
  src/pages/design/icons/library.mdx
Due: prettier --write, markdownlint

added icon showcase onto icon overview page
  src/examples/design/icons/iconShowcase.tsx
  src/pages/design/icons/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

changed icon showcase color to be grey-600
  src/examples/design/icons/iconShowcase.tsx
  src/pages/design/icons/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat(content): add actionable language page
  src/nav/content.yml
  src/pages/content/actionable-language.mdx
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

fix(content): lowercase side nav word
  src/nav/content.yml
Due: none

add figma image assets onto icon overview
  gatsby-config.js
  src/pages/design/icons/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: additional revision
  src/pages/content/actionable-language.mdx
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

feat(content): add actionable language page (#339)
  src/nav/content.yml
  src/pages/content/actionable-language.mdx
  src/pages/content/word-list.mdx
Due: prettier --write, markdownlint

fix: revise language
  src/pages/components/combobox.mdx
Due: prettier --write, markdownlint

feat(combobox): add documentation page for component (#324)
  gatsby-config.js
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
  src/nav/components.yml
  src/pages/components/combobox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(content): actionable language followup
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

fix: svg search debounce delay input
  src/examples/design/icons/SvgSearch.tsx
  src/pages/design/icons/library.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

add imageBackgroundColor prop for do/donts
  src/components/MarkdownProvider/components/BestPractice.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(content): actionable language followup (#340)
  src/pages/content/actionable-language.mdx
Due: prettier --write, markdownlint

add icon styles section
  src/examples/design/icons/IconShowcase.tsx
  src/examples/design/icons/IconStyles.tsx
  src/examples/design/icons/iconShowcase.tsx
  src/pages/design/icons/index.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Upgrade to react-components v8.48.0
  package.json
  src/pages/components/input.mdx
  src/pages/components/span.mdx
  yarn.lock
Due: prettier --write, markdownlint, prettier-package-json --write

Update scripts dependency
  package.json
  yarn.lock
Due: prettier-package-json --write

Initial subcomponents
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/examples/accordions/components.ts
  src/pages/components/accordion.mdx
  src/pages/components/stepper.mdx
  src/pages/components/timeline.mdx
  src/pages/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Generate subcomponent info from source
  src/examples/button/components.ts
  src/examples/drawer/components.ts
  src/examples/forms/file-upload/components.ts
  src/examples/forms/tiles/components.ts
  src/examples/pagination/components.ts
  src/examples/tags/components.ts
  src/examples/tooltip-modal/components.ts
  src/examples/typography/components.ts
  src/pages/components/button.mdx
  src/pages/components/drawer.mdx
  src/pages/components/file-upload.mdx
  src/pages/components/lists.mdx
  src/pages/components/pagination.mdx
  src/pages/components/span.mdx
  src/pages/components/tags.mdx
  src/pages/components/tiles.mdx
  src/pages/components/tooltip-modal.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Nab a couple more subcomponents
  src/pages/components/avatar.mdx
  src/pages/components/radio.mdx
Due: prettier --write, markdownlint

fix: enhance content spacing
  src/components/MarkdownProvider/components/Typography.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write
