Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Hard card color data
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update CodeSandbox package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Refactor to use palette
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Revert to use unformatted data
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Make example references consistent and concise
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

Update copy for dialog examples
  src/pages/components/color-picker.mdx
  src/pages/components/color-swatch.mdx
Due: prettier --write, markdownlint

Fix outdated accessibility guidance for OverflowButton
  src/pages/components/table.mdx
Due: prettier --write, markdownlint

Update example for OverflowButton to follow current guidance of using tooltip when icon is the only visual information source
  src/examples/table/TableOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore(api): add descriptions and notes to Table (#316)
  src/examples/table/TableOverflow.tsx
  src/pages/components/table.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(api): add descriptions and notes to native Select component
  src/pages/components/select-native.mdx
Due: prettier --write, markdownlint

feat(colorpickers): add color swatch page (#319)
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/color-swatch/ColorSwatchCustomTrigger.tsx
  src/examples/color-swatch/ColorSwatchDefault.tsx
  src/examples/color-swatch/ColorSwatchDialog.tsx
  src/nav/components.yml
  src/pages/components/color-picker.mdx
  src/pages/components/color-swatch.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Rephrase Message description to be better based on feedback
  src/pages/components/select-native.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

fix(forms): Update canonical structure, guidance and examples to make Hint a sibling to Checkbox
  src/examples/forms/checkbox/Hint.tsx
  src/pages/components/checkbox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(forms): Update canonical structure, guidance and examples to make Hint a sibling to Radio
  src/examples/forms/radio/Hint.tsx
  src/pages/components/radio.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(forms): Update canonical structure, guidance and examples to make Hint and Message a sibling to Toggle
  src/examples/forms/toggle/Hint.tsx
  src/examples/forms/toggle/Validation.tsx
  src/pages/components/toggle.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(api): add descriptions and notes to native Select component (#320)
  src/pages/components/select-native.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to Anchor
  src/pages/components/anchor.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to Button
  src/pages/components/button.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to IconButton, update examples to use Tooltip
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/pages/components/icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(api): add descriptions and notes to ToggleIconButton, update examples to use Tooltip
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(api): add descriptions and notes to SplitButton
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

chore(api): add descriptions and notes to Tags
  src/pages/components/tags.mdx
Due: prettier --write, markdownlint

feat(combobox): add documentation for component
  gatsby-config.js
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Media.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
  src/nav/components.yml
  src/pages/components/combobox.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Ensure all icon buttons have an aria-label
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
  src/examples/table/TableOverflow.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Oxford comma
  src/pages/components/anchor.mdx
Due: prettier --write, markdownlint

Rephrase to use active voice based on feedback
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

Remove erroneous trailing slash
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

Add aria-label recommendation to the descriptions for icon buttons
  src/pages/components/icon-button.mdx
  src/pages/components/table.mdx
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

Remove erroneous trailing slash
  src/pages/components/icon-button.mdx
Due: prettier --write, markdownlint

stop prettier from reformatting the canonical structure
  src/pages/components/icon-button.mdx
  src/pages/components/toggle-icon-button.mdx
Due: prettier --write, markdownlint

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(api): add descriptions and notes to Tags (#323)
  src/pages/components/tags.mdx
Due: prettier --write, markdownlint

Initial file-upload draft
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileList.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/forms/file-upload/Validation.tsx
  src/pages/components/file-upload.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(api): add descriptions and notes to components in Buttons package (#322)
  src/examples/button/IconButtonDanger.tsx
  src/examples/button/IconButtonDefault.tsx
  src/examples/button/IconButtonShapes.tsx
  src/examples/button/IconButtonSizes.tsx
  src/examples/button/IconButtonTypes.tsx
  src/examples/button/ToggleIconButtonDefault.tsx
  src/examples/button/ToggleIconButtonIcons.tsx
  src/examples/button/ToggleIconButtonShapes.tsx
  src/examples/button/ToggleIconButtonSizes.tsx
  src/examples/button/ToggleIconButtonTypes.tsx
  src/examples/table/TableOverflow.tsx
  src/pages/components/anchor.mdx
  src/pages/components/button.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/split-button.mdx
  src/pages/components/table.mdx
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

chore(docs): Add a note about IME support to Dropdowns
  src/fragments/dropdowns-filtering-notes.mdx
Due: prettier --write, markdownlint

Rephrase for accuracy
  src/fragments/dropdowns-filtering-notes.mdx
Due: prettier --write, markdownlint

fix: address feedback and use figma assets
  gatsby-config.js
  package.json
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/examples/dropdowns/combobox/Default.tsx
  src/examples/dropdowns/combobox/Hidden.tsx
  src/examples/dropdowns/combobox/Media.tsx
  src/examples/dropdowns/combobox/Selection.tsx
  src/examples/dropdowns/combobox/Size.tsx
  src/pages/components/combobox.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore(api) add api structure and description to avatar
  src/pages/components/avatar.mdx
Due: prettier --write, markdownlint

Expand abbreviation
  src/fragments/dropdowns-filtering-notes.mdx
Due: prettier --write, markdownlint

chore(api): add description to loaders
  src/pages/components/dots.mdx
  src/pages/components/inline.mdx
  src/pages/components/progress.mdx
  src/pages/components/skeleton.mdx
  src/pages/components/spinner.mdx
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
