Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

feat(content): improve scannability with punctuation symbols in headings (#202)
  src/pages/content/punctuation.mdx
Due: prettier --write, markdownlint

fix(dropdowns): fix nested menu to highlight correct item
  src/examples/dropdowns/menu/Nested.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add Theme object page
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/DefaultTheme.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/index.tsx
  src/nav/components.yml
  src/pages/components/theme-object.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix(dropdowns): fix nested menu to highlight correct item (#203)
  src/examples/dropdowns/menu/Nested.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add theme provider example
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/pages/components/theme-provider.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Complete theme provider examples
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/pages/components/theme-provider.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Set gatsby-react-router-scroll resolution
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: anchor links (#204)
  package.json
  yarn.lock
Due: prettier-package-json --write

feat: new FileUpload documentation page
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/nav/components.yml
  src/pages/components/file-upload.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Add palette documentation
  src/components/MarkdownProvider/components/ObjectBlock.tsx
  src/components/MarkdownProvider/index.tsx
  src/nav/components.yml
  src/pages/components/palette.mdx
  src/pages/components/theme-object.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Initial utilities documentation
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Correct MDX format
  src/pages/components/file-upload.mdx
Due: prettier --write, markdownlint

Include abstract best practice image
  src/pages/components/file-upload.mdx
Due: prettier --write, markdownlint

Add utilities code example
  src/examples/utilities/MenuArrowStyles.tsx
  src/examples/utilities/components.ts
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Tweaks
  src/examples/utilities/MenuArrowStyles.tsx
  src/examples/utilities/components.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Add targeting example
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/pages/components/theme-provider.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Add cross-reference links
  src/pages/components/palette.mdx
  src/pages/components/theme-provider.mdx
Due: prettier --write, markdownlint

Go small or go home
  src/examples/theme-provider/ThemeProviderNesting.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Remove best practice and update navigation order
  src/nav/components.yml
  src/pages/components/file-upload.mdx
Due: prettier --write, markdownlint

best practice styling
  src/components/MarkdownProvider/components/BestPractice.tsx
  src/pages/components/autocomplete.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/toggle-icon-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

@vsrixyz copy updates
  src/examples/utilities/components.ts
  src/pages/components/palette.mdx
  src/pages/components/theme-object.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

@rossmoody copy comment
  src/pages/components/theme-object.mdx
Due: prettier --write, markdownlint

Address @hzhu review
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/pages/components/theme-provider.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

feat: include FileUpload documentation page (#205)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/nav/components.yml
  src/pages/components/file-upload.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

fix: ensure scrollable table handle unique scrollbar sizes
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableScroll.tsx
  src/examples/table/TableVirtualized.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

@allisonacs copy updates
  src/pages/components/palette.mdx
  src/pages/components/utilities.mdx
Due: prettier --write, markdownlint

Address @austingreendev comments
  src/components/MarkdownProvider/components/Configuration.tsx
  src/pages/components/palette.mdx
  src/pages/components/theme-provider.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Copy tweak
  src/pages/components/utilities.mdx
Due: prettier --write, markdownlint

fix: ensure scrollable table handle unique scrollbar sizes (#208)
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/table/TableScroll.tsx
  src/examples/table/TableVirtualized.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Palette description update
  src/pages/components/palette.mdx
Due: prettier --write, markdownlint

feat: add theme provider component documentation (#206)
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/components/MarkdownProvider/components/Configuration.tsx
  src/components/MarkdownProvider/components/ObjectBlock.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/theme-provider/ThemeProviderBranding.tsx
  src/examples/theme-provider/ThemeProviderDefault.tsx
  src/examples/theme-provider/ThemeProviderExtension.tsx
  src/examples/theme-provider/ThemeProviderNesting.tsx
  src/examples/theme-provider/ThemeProviderTargeting.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/examples/utilities/components.ts
  src/nav/components.yml
  src/pages/components/palette.mdx
  src/pages/components/theme-object.mdx
  src/pages/components/theme-provider.mdx
  src/pages/components/utilities.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Update component and svg dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: update component and SVG dependencies (#209)
  package.json
  yarn.lock
Due: prettier-package-json --write

Simplify example code
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(buttons): simplify button-group example code (#210)
  src/examples/button/ButtonGroupSize.tsx
  src/examples/button/ButtonGroupType.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Add color boilerplate
  src/nav/design.yml
  src/pages/design/color.mdx
Due: prettier --write, markdownlint

Add initial ColorPalette
  src/components/MarkdownProvider/components/Color.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/design/color.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Use general purpose ColorPalette component
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/index.tsx
  src/pages/design/color.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Copy updates
  src/pages/design/color.mdx
Due: prettier --write, markdownlint

Color palette updates
  src/components/MarkdownProvider/components/ColorPalette.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
