Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

chore: restructure colors and icons for search indexing (#227)
  package.json
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/examples/design/icons/SvgSearch.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Add gatsby-remark-check-links plugin
  gatsby-config.js
  package.json
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Valid anchor links
  gatsby-config.js
  package.json
  src/pages/components/theme-object.mdx
  src/pages/content/word-list.mdx
  src/pages/design/icons/wordmarks.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Fix component URLs
  package.json
  src/components/SEO.tsx
  src/pages/components/notifications.mdx
  src/pages/components/well.mdx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Fix anchor
  package.json
  src/pages/components/palette.mdx
  yarn.lock
Due: prettier --write, markdownlint, prettier-package-json --write

Undo
  src/pages/design/icons/wordmarks.mdx
Due: prettier --write, markdownlint

fix: broken anchor and link URLs (#228)
  src/components/SEO.tsx
  src/pages/components/notifications.mdx
  src/pages/components/palette.mdx
  src/pages/components/theme-object.mdx
  src/pages/components/well.mdx
  src/pages/content/word-list.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Use preferred `onInputValueChange`
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/forms/input-group/ButtonPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-component dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Markdown with readonly tables
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Table.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update Garden react-components (#230)
  package.json
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Table.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Incorporate @zendeskgarden eslint typescript plugin into config
  .eslintrc.json
  package.json
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/SEO.tsx
  src/layouts/Root/components/SearchInput.tsx
  utils/typings/styled.d.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Incorporate @zendeskgarden eslint config react plugin
  .eslintrc.json
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/components/MarkdownProvider/index.tsx
  src/examples/design/icons/WordmarkLayout.tsx
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableVirtualized.tsx
  src/examples/utilities/MenuArrowStyles.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Cleanup eslint config
  .eslintrc.json
Due: none

Cleanup
  .eslintrc.json
Due: none

HNY
  README.md
Due: prettier --write, markdownlint

fix(multiselect): use i18n-preferred onInputValueChange (#229)
  src/examples/dropdowns/multiselect/Default.tsx
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
  src/examples/forms/input-group/ButtonPlacement.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update eslint config dependency
  package.json
  yarn.lock
Due: prettier-package-json --write

Prettier
  .eslintrc.json
Due: none

chore: use @zendeskgarden/eslint-config plugins (#231)
  .eslintrc.json
  README.md
  package.json
  src/components/MarkdownProvider/components/Anchor.ts
  src/components/MarkdownProvider/components/ColorPalette.tsx
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/components/MarkdownProvider/components/Table.tsx
  src/components/MarkdownProvider/index.tsx
  src/components/SEO.tsx
  src/examples/design/icons/WordmarkLayout.tsx
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/table/TableScroll.tsx
  src/examples/table/TableVirtualized.tsx
  src/examples/utilities/MenuArrowStyles.tsx
  src/layouts/Root/components/SearchInput.tsx
  utils/typings/styled.d.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

Update react-components
  package.json
  yarn.lock
Due: prettier-package-json --write

Revert broken react-docgen-typescript
  package.json
  yarn.lock
Due: prettier-package-json --write

Update examples and add subcomponent definitions
  src/examples/accordions/components.ts
  src/examples/button/components.ts
  src/examples/drawer/components.ts
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/examples/forms/tiles/components.ts
  src/examples/pagination/components.ts
  src/examples/tags/TagsWeight.tsx
  src/examples/tags/components.ts
  src/examples/tooltip-modal/components.ts
  src/examples/typography/components.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Revert `Input` removal from file upload examples
  src/examples/forms/file-upload/Disabled.tsx
  src/examples/forms/file-upload/FileUpload.tsx
  src/examples/forms/file-upload/Size.tsx
  src/pages/components/file-upload.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Fix path
  src/pages/components/file-upload.mdx
Due: prettier --write, markdownlint

Add focus styling to anchor links
  src/components/MarkdownProvider/components/Anchor.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update for outdated caniuse-lite warning
  yarn.lock
Due: none

fix: anchor link focus styling (#233)
  src/components/MarkdownProvider/components/Anchor.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update extends clause styling
  src/components/MarkdownProvider/components/Component.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update react-components to v8.29.3
  package.json
  yarn.lock
Due: prettier-package-json --write

Set desired `gatsby-remark-images` options
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: gatsby-remark-images options (#235)
  gatsby-config.js
Due: stylelint, eslint --max-warnings 0, prettier --write

Parse prop params for presentation
  plugins/gatsby-source-react-packages/gatsby-node.js
  src/components/MarkdownProvider/components/PropSheet.tsx
  src/templates/types.ts
Due: stylelint, eslint --max-warnings 0, prettier --write

Update to react-components v8.31.0
  package.json
  yarn.lock
Due: prettier-package-json --write

Add SkipNav to chrome examples
  src/examples/chrome/ChromeDefault.tsx
  src/examples/chrome/ChromeNavigation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,mdx})
  markdownlint: any of: *.{md,mdx}
  prettier-package-json --write: any of: **/package.json
