Repository zendeskgarden/website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "prettier --write"
  ],
  "*.{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

update home alignment
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix loading strings
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add menu dependencies
  src/pages/components/autocomplete.mdx
  src/pages/components/multiselect.mdx
  src/pages/components/select.mdx
Due: prettier --write, markdownlint

change img position
  src/pages/content/voice-and-tone.mdx
Due: prettier --write, markdownlint

more alignment
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

size fix
  src/layouts/Home/components/News.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: update overview tags (#138)
  src/components/MarkdownProvider/components/OverviewLinks.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

chore: omit toggle best practice (#139)
  src/pages/components/toggle.mdx
Due: prettier --write, markdownlint

chore: update home alignment (#140)
  src/layouts/Home/components/News.tsx
  src/layouts/Home/components/Search.tsx
  src/layouts/Root/components/Header.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(multiselect): loading strings (#141)
  src/examples/dropdowns/multiselect/Overflow.tsx
  src/examples/dropdowns/multiselect/Size.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add code sandbox
  src/components/MarkdownProvider/components/CodeExample/assets/CodeSandbox.tsx
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix(footer): improve footer link contrast on hover
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

use webpack
  src/components/MarkdownProvider/components/CodeExample/assets/CodeSandbox.tsx
  src/components/MarkdownProvider/components/CodeExample/assets/codesandbox-icon.svg
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Account for link focus
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

Update TOC.tsx
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

refine to get rid of clip-rule
  src/components/MarkdownProvider/components/CodeExample/assets/codesandbox-icon.svg
Due: none

button size strings
  src/pages/components/button-group.mdx
  src/pages/components/button.mdx
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

Update codesandbox-icon.svg
  src/components/MarkdownProvider/components/CodeExample/assets/codesandbox-icon.svg
Due: none

chore: change img position on uxcs page (#143)
  src/pages/content/voice-and-tone.mdx
Due: prettier --write, markdownlint

feat: add code sandbox icon (#145)
  src/components/MarkdownProvider/components/CodeExample/assets/codesandbox-icon.svg
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: refine table of contents overflow (#147)
  src/layouts/Titled/components/TOC.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

fix: amend button size strings (#148)
  src/pages/components/button-group.mdx
  src/pages/components/button.mdx
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

fix(footer): improve footer link contrast on hover (#146)
  src/layouts/Root/components/Footer.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

add split button examples
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

be string
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/split-button.mdx
Due: prettier --write, markdownlint

revise type def
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

update aria
  src/examples/button/SplitButtonDisabled.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

feat: add split button examples (#149)
  src/examples/button/SplitButtonDanger.tsx
  src/examples/button/SplitButtonDefault.tsx
  src/examples/button/SplitButtonDisabled.tsx
  src/examples/button/SplitButtonSizes.tsx
  src/examples/button/SplitButtonTypes.tsx
  src/pages/components/checkbox.mdx
  src/pages/components/icon-button.mdx
  src/pages/components/split-button.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

Prevent code from overflowing rounded container borders
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

initial setup
  src/nav/components.yml
  src/pages/components/tags.mdx
Due: prettier --write, markdownlint

examples
  src/examples/tags/TagsAvatar.tsx
  src/examples/tags/TagsClose.tsx
  src/examples/tags/TagsColor.tsx
  src/examples/tags/TagsDefault.tsx
  src/examples/tags/TagsShape.tsx
  src/examples/tags/TagsSize.tsx
  src/examples/tags/TagsWeight.tsx
  src/pages/components/tags.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

update copy
  src/pages/components/tags.mdx
Due: prettier --write, markdownlint

examples
  src/examples/forms/range/RangeDefault.tsx
  src/examples/forms/range/RangeDisabled.tsx
  src/examples/forms/range/RangeHint.tsx
  src/examples/forms/range/RangeValidation.tsx
  src/nav/components.yml
  src/pages/components/range.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

fix: prevent code block from overflowing rounded container borders (#150)
  src/components/MarkdownProvider/components/CodeExample/index.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

easy fixes
  src/examples/tags/TagsAvatar.tsx
  src/examples/tags/TagsClose.tsx
  src/examples/tags/TagsColor.tsx
  src/examples/tags/TagsDefault.tsx
  src/examples/tags/TagsShape.tsx
  src/examples/tags/TagsSize.tsx
  src/examples/tags/TagsWeight.tsx
  src/pages/components/multiselect.mdx
  src/pages/components/tags.mdx
Due: stylelint, eslint --max-warnings 0, prettier --write, markdownlint

container utilities
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/tags/TagsClose.tsx
  src/examples/tags/TagsShape.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

fixes
  src/examples/forms/range/RangeDefault.tsx
  src/examples/forms/range/RangeDisabled.tsx
  src/examples/forms/range/RangeHint.tsx
  src/examples/forms/range/RangeValidation.tsx
Due: stylelint, eslint --max-warnings 0, prettier --write

link
  src/pages/components/range.mdx
Due: prettier --write, markdownlint

fixes
  package-lock.json
  package.json
  src/components/MarkdownProvider/components/CodeExample/utils/retrieveCodesandboxParameters.ts
  src/examples/tags/TagsColor.tsx
  src/examples/tags/TagsShape.tsx
  src/examples/tags/TagsWeight.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0, prettier --write, prettier-package-json --write

Update to react-components v8.19.0
  package.json
  yarn.lock
Due: prettier-package-json --write
